api/vendor/*
api/public/web.config
src/bak/*
src/testData/*
src/assets/charts/*
src/assets/employees/*
src/assets/schools/*
src/assets/students/*
src/assets/posts/*
src/assets/resources/*
src/assets/reportcards/*
src/srvScripts/vimeo/vendor/*
.sass-cache
node_modules
package.json
