@media print {
  table#avaragesTable{
    max-width: 30% !important;
    float: right;
    margin-top: -200px;
  }
  div#motto {
    visibility: visible !important;
    display: block;
  }
  img#url{
    max-height: 200px !important;
  }

}
