.t_tabs {
    background-color: #949494;
    min-height: 300px;
    border-radius: 10px;
    border: 3px solid #000000;
    width: 30%;
    margin-left: 10px;
}
.btnSpacer{
    margin-top: 10px;
    margin-bottom: 10px;
}
.t_icon {
    border: 5px solid #949494;
}
.boxTitle {
    font-weight: bold;
    color: #000000;
    background-color: #fff;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
.boxBody {
    padding-left: 10px !important;
}
.schoolBusBodySpacer {
    margin-top: 100px;
    margin-left: 25px;
}
.pickUp,.dropOff {
    background-color: #56CCFF;
}
.pickUpSelectionDflt,.dropOffSelectionDflt {
    background-color: #56CCFF;
}
.pickUpSelected,.dropOffSelected {
    background-color: #19FF3F;
    border-radius: 10px;
    box-shadow: 2px 2px #000000;
}
.t_title {
    padding-left:15px;
}
.transportStudentList {
    width: 100%;
}
.transportStudentList tr th {
    text-align: center;
}
.transportStudentList tr:nth-child(even) {
    background-color: #dddddd;
}
.transportStudentList tr:first-child {
    background-color: #949494;
    line-height: 25px;
    font-size: 15px;
    color: #ffffff;
}
.tdCheckBox {
    border-left: 2px solid;
}
.tdCheckBox input {
    margin-left: 45%;
}

input[type=button].selectBus {
  background-color: #56CCFF;
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button].selectBus::hover{
    color: #ffffff;
    background-color: #4CAF50;
}

.col-sm-5.col-sm-offset-1.stripped {
    margin-right: 7%;
}

@media (min-width: 768px)
.col-sm-offset-1 {
    margin-right: 8.33333333%;
}