<style type="text/css">
  .spacing-mod {margin-bottom:2%;}
  spacing-mod:first-child {margin-top:2%;}
  #permsTable tbody.collapse.in {display: table-row-group;}
  .permsDiv {padding-left:5px;padding-right:5px;}
  th.narrowCol {width: 10%;}

  /* Modal Header */
  .modal-header { padding: 2px 16px; background-color: #5cb85c; color: white; }
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  /* Modal Footer */
  .modal-footer { padding: 2px 16px; background-color: #5cb85c; color: white; }
  /* Modal Content */
  .modal-content { position: relative; background-color: #fefefe; margin: auto; padding: 0; border: 1px solid #888; width: 45%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); animation-name: animatetop; animation-duration: 0.4s}
  /* Add Animation */
  @keyframes animatetop { from {top: -300px; opacity: 0} to {top: 0; opacity: 1} }
</style>
<div ng-controller="listResourcesCtrl" class="full-height">

	<div id="body-content" class="row fixed-filter" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">

		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>

		<div class="fixed content-fixed-header">
            <div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
				  <!-- <div class="btn" title="Print" ng-hide="isSmallScreen" ng-click="printablePage()"><a class="print-btn"><span class="glyphicon glyphicon-print"></span> <span class="tool-text">Print</span></a></div-->
					<!-- <div class="btn" title="Export" ng-click="exportData()"><a class="export-btn"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div> -->
				</div>
			</div>

			<div class="clearfix">
				<h1 id="pageTitle">List of Existing Resources</h1>
			</div>

			<!-- search form -->
			<div class="dataFilterForm">
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- category select -->
          <!--
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" id="category" name="emp_cat_id" ng-options="item.emp_cat_name for item in empCats" ng-model="filters.emp_cat">
							<option value="">All Employee Categories</option>
						</select>
					</div>
          -->
					<!-- class select -->
          <!--
					<div class="form-group">
						<label for="dept">Department</label>
						<select name="dept" id="dept" class="form-control" ng-options="dept.dept_id as dept.dept_name for dept in departments" ng-model="filters.dept_id">
							<option value="">All Departments</option>
						</select>
					</div>
          -->
					<!-- status select -->
          <!--
					<div class="form-group">
						<label for="status">Status</label>
						<select name="status" id="status" class="form-control" ng-model="filters.status">
							<option value="true">Current</option>
							<option value="false">Former</option>
						</select>
					</div>
          -->
					<!-- search btn -->
          <!--
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="filter()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>
          -->
					<div class="form-group grid-filter">
						<input class="ui-grid-filter" ng-model='gridFilter.filterValue' ng-change='filterDataTable()' placeholder="Filter"/>
						<button class="btn btn-xs btn-primary" ng-click='filterDataTable()'>Filter</button>
						<button class="btn btn-xs " ng-click='clearFilterDataTable()'>Clear</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->


		</div>

		<div class="full-height datagrid main-datagrid">
			<div class="loading-indicator" ng-show="loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
			<div id="grid1" ui-grid="gridOptions" ui-grid-exporter class="myGrid">
				<div ng-if="!gridOptions.data.length" class="no-results">No results found.</div>
			</div>

		</div>

		<!-- View Resource -->
    <div id="resourceModal" class="modal" style="padding-top:10%;background-color: rgba(0,0,0,.8);">
      <div class="modal-content">
        <div class="modal-header" style="height="55px">
          <h2>{{openedResourceName}}</h2>
          <span class="closemdl" style="float: right;margin-top: -6%;font-size: 30px;">&times;</span>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-2"><p><b>Teacher:</b></p></div><div class="col-sm-10"><p>{{openedResourceTeacher}}</p></div>
            <div class="col-sm-2"><p><b>Audience:</b></p></div><div class="col-sm-10"><p>{{openedResourceClass}}, {{openedResourceTerm}}</p></div>
            <div class="col-sm-2"><p><b>Type:</b></p></div><div class="col-sm-10"><p>{{openedResourceType}}</p></div>
            <div class="col-sm-2"><p><b>Link:</b></p></div><div class="col-sm-10"><p><a href="{{openedResourceLink}}" target="_blank">{{openedResourceName}}</a></p></div>
          </div>
        </div>
        <div class="modal-footer">
          <h4 style="color: #000000;font-weight: 600;">Created on {{openedResourceCreationDate}}</h4>
        </div>
      </div>
    </div>

	</div>
</div>
