<div ng-controller="listEmailsCtrl">	
	
	<div id="body-content" class="row blog fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Add Post" ng-show="permissions.communications.blog_posts.add" ng-click="addPost()"><a class="clickable"><span class="fa fa-comment"></span> <span class="tool-text">Add Blog Post</span></a></div>
					<div class="btn add-btn" title="Add Homework" ng-show="permissions.communications.homework.add" ng-click="addHomework()"><a class="clickable"><span class="glyphicon glyphicon-pencil"></span> <span class="tool-text">Add Homework</span></a></div>
					<div class="btn add-btn" title="Compose Message" ng-show="permissions.communications.send_email.add" ng-click="addEmail()"><a class="clickable"><span class="glyphicon glyphicon-send"></span> <span class="tool-text">Compose Message</span></a></div>
				</div>		
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">Sent Emails</h1>
			</div>
			
			<!-- search form -->
			<div class="dataFilterForm">	
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					
					<!-- audience select -->
					<div class="form-group">
						<label for="class">Audience</label>	
						<select name="class" id="class" class="form-control" ng-options="audience.audience_id as audience.audience for audience in comAudience" ng-model="filters.audience_id">
							<option value="">All</option>
						</select>
					</div>

					<!-- type select -->
					<div class="form-group">
						<label for="com_type">Type</label>
						<select class="form-control" id="com_type" name="com_type" ng-options="type.com_type_id as type.com_type for type in comTypes" ng-model="filters.com_type_id">
							<option value="">All</option>
						</select>
					</div>
					
					<!-- status select -->
					<div class="form-group">
						<label for="post_status">Status</label>
						<select class="form-control" id="post_status" name="post_status" ng-options="status.post_status_id as status.post_status for status in postStatuses" ng-model="filters.post_status_id">
							<option value="">All</option>
						</select>
					</div>
					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="loadFilter()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->
			
			
		</div>
		
		<div class="full-height datagrid main-datagrid" ng-class="{tableLoading: loading}">
			<table id="resultsTable" class="display clickable" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Date</th>
						<th>Type</th>
						<th>Recipient</th>
						<th>Subject</th>												
						<th>Message</th>
						<th>Status</th>
						<th class="center">View</th>
					</tr>
				</thead>	
				<tbody>
					<tr ng-repeat="item in emails track by $index">
						<td></td>
						<td id="{{item.email_id}}" class="email_id" ng-click="viewEmail(item)">{{item.creation_date|date}}</td>
						<td ng-click="viewEmail(item)">{{item.com_type}}</td>
						<td ng-click="viewEmail(item)">{{item.audience}}</td>
						<td ng-click="viewEmail(item)">{{item.subject}}</td>						
						<td ng-click="viewEmail(item)" ng-bind-html="item.message_truncated"></td>
						<td ng-click="viewEmail(item)">{{item.post_status}}</td>
						<td class="center" ng-click="preview(item)"><i class="fa fa-eye"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
				
	</div>
</div>



