<div ng-controller="postFormCtrl">	
	
	<div id="body-content" class="row blog" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Add Post" ng-show="permissions.communications.blog_posts.add" ng-click="addPost()"><a class="clickable"><span class="fa fa-comment"></span> <span class="tool-text">Add Blog Post</span></a></div>
					<div class="btn add-btn" title="Add Homework" ng-show="permissions.communications.homework.add" ng-click="addHomework()"><a class="clickable"><span class="glyphicon glyphicon-pencil"></span> <span class="tool-text">Add Homework</span></a></div>
					<div class="btn add-btn" title="Compose Message" ng-show="permissions.communications.send_email.add" ng-click="addEmail()"><a class="clickable"><span class="glyphicon glyphicon-send"></span> <span class="tool-text">Compose Message</span></a></div>
				</div>			
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">{{pageTitle}}</h1>
			</div>
		</div>
					
		<div class="full-height datagrid main-datagrid col-sm-12">
			<!-- search form -->
			<form ng-if="!edit" name="dataFilterForm" class="post-options-form col-sm-7 non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					
				<!-- class select -->
				<div ng-if="isPost"  class="col-sm-12" ng-class="{ 'has-error' : dataFilterForm.class_id.$invalid && (!dataFilterForm.class_id.$pristine || dataFilterForm.$submitted) }">	
					<label for="class">Which class blog would you like to post to?</label>	
					<select name="class_id" class="form-control input-sm" ng-options="class.class_name for class in classes track by class.class_id" ng-model="filters.class" required>
						<option value="">--select class--</option>
					</select>	
					<input type="button" class="btn btn-sm btn-info" ng-click="setClass()" value="Load" />
					<span ng-show="loading" class="fa fa-spinner fa-pulse"></span>
					<p ng-show="dataFilterForm.class_id.$invalid && (!dataFilterForm.class_id.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a class.</p>
				</div>	

				<!-- class subject select -->
				<div ng-if="isHomework" class="col-sm-12" ng-class="{ 'has-error' : dataFilterForm.class_subject_id.$invalid && (!dataFilterForm.class_subject_id.$pristine || dataFilterForm.$submitted) }">	
					<label for="class">Which subject would you like to post homework to?</label>	
					<select name="class_subject_id" class="form-control input-sm" ng-options="subject.class_name + ' - ' + subject.subject_name for subject in classSubjects track by subject.class_subject_id" ng-model="filters.subject" required>
						<option value="">--select class subject--</option>
					</select>	
					<input type="button" class="btn btn-sm btn-info" ng-click="setClass()" value="Load" />
					<span ng-show="loading" class="fa fa-spinner fa-pulse"></span>
					<p ng-show="dataFilterForm.class_subject_id.$invalid && (!dataFilterForm.class_subject_id.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a class.</p>
				</div>		

				<!-- audience and type select -->
				<div ng-if="isEmail" class="col-sm-12">	
					<div class="row">
						<div class="col-sm-10">
							<label for="com_type_id">What type of communication are you sending?</label>	
							<div>
								<select name="com_type_id" class="form-control input-sm" ng-options="type.com_type for type in comTypes track by type.com_type_id" ng-model="filters.com_type" required>
									<option value="">--select type--</option>
								</select>
								<p ng-show="dataFilterForm.com_type_id.$invalid && (!dataFilterForm.com_type_id.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a class.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<label for="audience_id">Who are you sending this communication to?</label>	
							<div ng-if="!isStudentFeedback">
								<select  name="audience_id" class="form-control input-sm" ng-options="audience.audience for audience in comAudience track by audience.audience_id" ng-model="filters.audience" required>
									<option value="">--select audience--</option>
								</select>	
								<p ng-show="dataFilterForm.audience_id.$invalid && (!dataFilterForm.audience_id.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a class.</p>
							</div>
							<div ng-if="isStudentFeedback">
								<ui-select ng-model="theparent.selected" theme="select2" class="form-control" name="parent" required> 
								  <ui-select-match placeholder="Select or search a parent...">
									<span>{{$select.selected.parent_full_name}} ({{$select.selected.relationship}} of {{$select.selected.student_name}}, {{$select.selected.class_name}})</span>  
								  </ui-select-match>
								  <ui-select-choices repeat="item in parents | filter: $select.search">
								    <span ng-bind-html="item.parent_full_name | highlight: $select.search"></span> - 
									<span ng-bind-html="item.relationship | highlight: $select.search"></span> of 
									<span ng-bind-html="item.student_name | highlight: $select.search"></span>
									(<span ng-bind-html="item.class_name | highlight: $select.search"></span>)
								  </ui-select-choices>
								</ui-select>
								<p ng-show="dataFilterForm.parent.$invalid && (!dataFilterForm.parent.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a parent.</p>
							</div>
						</div>
					</div>
					<div class="row" ng-if="isParent">
						<div class="col-sm-10">
							<label for="parent">Select a parent:</label>	
							<div>
								<ui-select ng-model="theparent.selected" theme="select2" class="form-control" name="parent" required> 
								  <ui-select-match placeholder="Select or search a parent...">
									<span>{{$select.selected.parent_full_name}} ({{$select.selected.relationship}} of {{$select.selected.student_name}}, {{$select.selected.class_name}})</span>  
								  </ui-select-match>
								  <ui-select-choices repeat="item in parents | filter: $select.search">
								    <span ng-bind-html="item.parent_full_name | highlight: $select.search"></span> - 
									<span ng-bind-html="item.relationship | highlight: $select.search"></span> of 
									<span ng-bind-html="item.student_name | highlight: $select.search"></span>
									(<span ng-bind-html="item.class_name | highlight: $select.search"></span>)
								  </ui-select-choices>
								</ui-select>
								<p ng-show="dataFilterForm.student.$invalid && (!dataFilterForm.student.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a student.</p>
							</div>
						</div>
					</div>
					<div class="row" ng-if="isClassSpecific">
						<div class="col-sm-10">
							<label for="class_id">Select a class:</label>	
							<div>
								<select name="class_id" class="form-control input-sm" ng-options="class.class_name for class in classes track by class.class_id" ng-model="filters.class" required>
									<option value="">--select class--</option>
								</select>	
								<p ng-show="dataFilterForm.student.$invalid && (!dataFilterForm.student.$pristine || dataFilterForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a student.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<label for="audience_id">How did you want to send this communication?</label>
							<label class="radio-inline">
							  <input type="radio" name="send_method" ng-model="filters.send_method" value="email"> Email
							</label>
							<label class="radio-inline">
							  <input type="radio" name="send_method" ng-model="filters.send_method" value="sms"> SMS
							</label>							
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-10">
							<input type="submit" class="btn btn-sm btn-info" ng-click="setEmailType(dataFilterForm)" value="Load" />
							<button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
							<span ng-show="loading" class="fa fa-spinner fa-pulse"></span>	
						</div>
					</div>	
				</div>	

			</form>

			<!-- // end search form -->
		
			<form style="clear:both" name="postForm" method="post" novalidate ng-submit="save(postForm)">		

			<div class="loading-indicator" ng-show="loadingPost"><i class="fa fa-spinner fa-spin text-lg"></i></div>
			
			<div ng-if="optionsSelected && setupBlog">
				<!-- blog name -->
				<p class="alert alert-info">
					Before you post your first blog post, you must give your class blog a name. Enter one below, then click 'Save' to continue to enter a blog post.
				</p>
				<div ng-class="{ 'has-error' : postForm.blog_name.$invalid && (postForm.blog_name.$touched || postForm.$submitted) }">		
					<label for="blog_name">Blog Name</label>
					<input type="text" name="blog_name" ng-model="blog.blog_name" class="form-control" required >						
					<p ng-show="postForm.blog_name.$invalid && (postForm.blog_name.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Blog Name is required.</p>
				</div>
			</div>
				
			<div ng-if="optionsSelected && !setupBlog">
				
				<!-- heading -->
				<div ng-show="isPost">
					<h1 class="blog-title">
						Posting to blog: 
						<span ng-show="!editingBlogName">
							{{selectedClass.blog_name}} 
							<button type="button" class="btn btn-xs" ng-click="updateBlogName()" title="Edit Blog Name"><i class="glyphicon glyphicon-pencil icon-sm"></i></button>
						</span>
						<div ng-show="editingBlogName">
							<input type="text" class="form-control" ng-model="blog.blog_name" /> 
							<button type="button" ng-click="saveBlogName()" class="btn btn-sm btn-success">Save</button>
						</div>
					</h1>
					<h2>{{ ( edit ? 'Update' : 'Add New' ) }} Post</h2>
				</div>
				
				<div ng-show="isHomework">
					<h1 ng-show="isHomework" class="blog-title">
					Posting to: {{selectedClassSubject.class_name}} - {{selectedClassSubject.subject_name}} 
				</h1>
					<h2>{{ ( edit ? 'Update' : 'Add New' ) }} Homework</h2>
				</div>
				
				<div ng-show="isEmail">
					<h2>Compose Message</h2>
					<p class="note">Sending {{selectedType}} Message to {{selectedAudience}} {{selectedClassName}} {{selectedParent}} {{selectedMethod}}</p>
				</div>
				
				
				<!-- post fields -->
				<div ng-if="isHomework" class="row clearfix">		
					<div class="col-sm-3" ng-class="{ 'has-error' : postForm.assigned_date.$invalid && (postForm.assigned_date.$touched || postForm.$submitted) }">
						<h4>Assigned Date</h4>
						<div class="input-group">
							<input type="text" name="assigned_date" date-range-picker class="form-control date-picker input-sm" ng-model="dates.assigned_date" options="{singleDatePicker: true,autoApply: true}" required />
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>							
						</div>
						<p ng-show="postForm.assigned_date.$invalid && (postForm.assigned_date.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Assigned Date is required.</p>
					</div>
					<div class="col-sm-3">
						<h4>Due Date</h4>
						<div class="input-group">
							<input type="text" name="due_date" date-range-picker class="form-control date-picker input-sm" ng-model="dates.due_date" options="{singleDatePicker: true,autoApply: true}" />
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
						</div>
					</div>
				</div>
				
				<div ng-if="noEmpId || isAdmin" ng-class="{ 'has-error' : postForm.message_from.$invalid && (postForm.message_from.$touched || postForm.$submitted) }">
					<h4>Message From</h4>
					<ui-select ng-model="theemployee.selected" theme="select2" class="form-control" name="message_from" required> 
					  <ui-select-match placeholder="Select or search a employee...">
						<span>{{$select.selected.employee_name}}</span>  
					  </ui-select-match>
					  <ui-select-choices repeat="item in employees | filter: $select.search">
						<span ng-bind-html="item.employee_name | highlight: $select.search"></span>
					  </ui-select-choices>
					</ui-select>
					<p ng-show="postForm.message_from.$invalid && (postForm.message_from.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Message From is required.</p>
				</div>
				
				<div ng-if="isEmail && post.send_method=='email'" ng-class="{ 'has-error' : postForm.reply_to.$invalid && (postForm.reply_to.$touched || postForm.$submitted) }">
					<h4>Reply To Address</h4>
					<input type="text" name="reply_to" ng-model="post.reply_to" class="form-control" required  >			
					<p ng-show="postForm.reply_to.$invalid && (postForm.reply_to.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Reply to address is required.</p>
				</div>
				
				<div ng-if="!isEmail" ng-class="{ 'has-error' : postForm.title.$invalid && (postForm.title.$touched || postForm.$submitted) }">	
					<h4 ng-show="isHomework">Title</h4>
					<input type="text" name="title" ng-model="post.title" class="form-control" placeholder="Enter title here" required >						
					<p ng-show="postForm.title.$invalid && (postForm.title.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Title is required.</p>
				</div>
				
				<div ng-if="isEmail" ng-class="{ 'has-error' : postForm.title.$invalid && (postForm.title.$touched || postForm.$submitted) }">	
					<h4>{{( post.send_method == 'email' ? 'Subject' : 'Message' )}}</h4>
					<input type="text" name="title" ng-model="post.title" class="form-control" placeholder="{{( post.send_method == 'email' ? 'Enter subject here' : 'Enter message here' )}}" required >						
					<p ng-show="postForm.title.$invalid && (postForm.title.$touched || postForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Title is required.</p>
				</div>
				
				<div ng-if="!isEmail || (isEmail && post.send_method == 'email' )" class="blog-post">
					<h4 ng-show="isHomework">Description</h4>
					<trix-editor class="trix-content" ng-model="post.body" angular-trix prevent-trix-file-accept="true"></trix-editor>						
				</div>
				
				<div ng-if="!isEmail || (isEmail && post.send_method == 'email' )" class="clearfix">		
					<h4 ng-show="isHomework||isEmail">Attachment</h4>
					<h4 ng-show="isPost">Feature Image</h4>
					<img ng-if="post.feature_image" src="assets/posts/{{post.feature_image}}" class="feature-img thumb" />
					<input type="file" nv-file-select="" uploader="uploader" />						
				</div>
								
				<div ng-show="edit" class="blog-meta">
					<p><b>Status</b>: {{post.post_status}}</p>
					<p><b>Created</b>: {{post.creation_date}}</p>
					<p><b>Created By</b>: {{post.posted_by}}</p>
					
					<p ng-show="isEmail"><b>Sent</b>: {{post.sent_date || 'Pending'}}</p>
				</div>
				
			</div>
			
			<div class="buttons" ng-show="!loadingPost">					
				
				<div class="pull-right" ng-show="!edit && optionsSelected && !setupBlog">

					<button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>					

					<button type="button" ng-click="preview()" class="btn btn-default">Preview</button>
					<button type="button" ng-click="saveDraft(postForm)" class="btn btn-primary">Save Draft
						<span ng-show="saving" class="fa fa-spinner fa-pulse"></span>
					</button>
					<button type="button" ng-click="publish(postForm)" class="btn btn-success">Publish
							<span ng-show="saving" class="fa fa-spinner fa-pulse"></span>
					</button>
				</div>
				
				<div ng-show="!edit && optionsSelected && setupBlog">
					<button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
				
				<div ng-show="edit">
					<button ng-show="isPost || isHomework || (isEmail && !post.sent)" type="button" class="btn btn-danger pull-left" ng-click="deletePost()">Delete</button>
					<div class="pull-right">
						<button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
						<button type="button" ng-click="preview()" class="btn btn-default">Preview</button>
						<button type="button" ng-click="updatePost(postForm)" class="btn btn-primary">Update {{ (post.post_status == 'Draft' ? 'Draft' : '') }}
							<span ng-show="saving" class="fa fa-spinner fa-pulse"></span>
						</button>
						<button ng-show="post.post_status=='Draft'" type="button" ng-click="publish(postForm)" class="btn btn-success">
							{{( isEmail ? 'Send' : 'Publish' ) }}
							<span ng-show="saving" class="fa fa-spinner fa-pulse"></span>
						</button>
					</div>
				</div>
				
			</div>
			</form>
		</div>
				
	</div>
</div>



