<form name="postForm" class="form-horizontal modalForm" method="post" novalidate >
	<div class="modal-header dialog-header-form">
				<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Received Message From {{post.parent_full_name}}</h4>
			</div>
			<div class="modal-body blog clearfix">

				<div ng-show="error" class="alert alert-danger">
					{{errMsg}}
				</div>

				<div ng-if="type=='communication'">

					<div ng-show="post.send_method=='email'">
						<p class="strong highlight">Message from {{post.student_name}}'s parent</p>
						<p class="meta"><b>Parent:</b>
							<span ng-if="post.details.parent_full_name!==undefined">{{post.details.parent_full_name}}</span>
						</p>
						<p class="meta"><b>Subject:</b> {{post.title}}</p>
						<p class="meta"><b>MESSAGE</b></p>
						<p class="openedMsgTxtBox" ng-bind-html="post.body"></p>
					</div>
				</div>

				<div class="blog-meta">
					<p><b>Created</b>: {{post.sent_date}}</p>
					<p><b>Created By</b>: {{post.parent_full_name}}</p>
				</div>

			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-primary" ng-click="reply()">Reply to this message</button>
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			</div>
			<div class="modal-body blog clearfix" ng-show="replySection">
			    <div style="border:2px solid blue;border-radius:5px;padding:15px;">
			        <form id="messageForm">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="message_from">
                                        Reply As:</label>
                                    <select id="message_from" name="message_from" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option ng-repeat="employee in employees track by $index" value="{{employee.emp_id}}">{{employee.employee_name}} - {{employee.dept_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="subject">
                                        Subject</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="Fees">Fees</option>
                                        <option value="Academics">Academics</option>
                                        <option value="Student Progress">StudentProgress</option>
                                        <option value="Medical">Medical</option>
                                        <option value="Response To General Inquiry">Response To General Inquiry</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <button ng-click="postReply()" class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Reply</button>
                            </div>
                        </div>
                    </form>
			    </div>
			</div>
</form>
