<div ng-controller="feesDashboardCtrl">	
	
	<div id="body-content" class="row fixed-filter" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="alert alert-danger" ng-show="error">
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Add Payment" ng-show="permissions.fees.payments_received.add" ng-click="addPayment()"><a class="clickable"><span class="glyphicon glyphicon-plus-sign"></span> <span class="tool-text">Add Payment</span></a></div>
					<div class="btn" title="Adjust Payment" ng-show="permissions.fees.payments_received.edit" ng-click="adjustPayment()"><a class="clickable"><span class="glyphicon glyphicon-pencil"></span> <span class="tool-text">Adjust Payment</span></a></div>
				</div>			
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">Fee Summary for {{currentTermTitle}}</h1>
			</div>

		</div>
		
		<div class="full-height datagrid main-datagrid">
			
			<div class="row">
				<div class="info-boxes clearfix">
					<div class="info-box">
						Amount Due
						<p>{{totals.total_due|currency:""}} <span>{{currency}}</span></p>
					</div>
					<div class="info-box">
						Amount Paid
						<p>{{totals.total_paid|currency:""}} <span>{{currency}}</span></p>
					</div>
					<div class="info-box">
						Balance
						<p ng-class="{'alert-success':totals.total_balance>=0, 'text-warning' : totals.total_balance<0 && gracePeriod, 'text-danger': totals.total_balance<0}">{{totals.total_balance|numeric}} <span>{{currency}}</span></p>						
					</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="dashboard-panel alert alert-success">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Payment Received</h2>
						</div>
						<div class="col-xs-7">
							<!-- date range picker -->				
							<div class="input-group">
								<input type="text" name="dob" date-range-picker class="form-control date-picker input-sm" ng-model="date" options="{}" />
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
							</div>
						</div>
						<div class="col-xs-5">
							<span class="totalSum pull-right">{{paymentsReceivedTotal|currency:""}} {{currency}}</span>
						</div>
					</div>
					<div class="dashboard-panel-body">
						<table id="paymentsReceivedTable" class="display clickable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Student</th>
									<th class="center">Amt ({{currency}})</th>
									<th>Date</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="item in paymentsReceived track by $index">
									<td></td>
									<td ng-click="viewPayment(item)">{{item.student_name}}</td>
									<td ng-click="viewPayment(item)" class="center">{{item.amount|currency:""}}</td>
									<td ng-click="viewPayment(item)" data-order="{{item.payment_date}}">{{item.payment_date|date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row dashboard-panel-footer">
						<a ui-sref="fees/payments_received" class="btn btn-link pull-right">See All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="dashboard-panel alert alert-warning">					
					<div class="dashboard-panel-header clearfix">
						<h2 class="pull-left">Invoices Due This Month</h2>
						<span class="totalSum pull-right">{{paymentsDueTotal|currency:""}} {{currency}}</span>
					</div>
					<div class="dashboard-panel-body">
						<table id="paymentsDueTable" class="display clickable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Student</th>
									<th class="center">Amt ({{currency}})</th>
									<th>Due Date</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="item in paymentsDue track by $index">
									<td></td>
									<td ng-click="viewStudent(item)">{{item.student_name}}</td>
									<td ng-click="viewStudent(item)" class="center">{{item.amount|currency:""}}</td>
									<td ng-click="viewStudent(item)" data-order="{{item.due_date}}">{{item.due_date|date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row dashboard-panel-footer">
						<a ui-sref="fees/invoices" class="btn btn-link pull-right">See All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="dashboard-panel alert alert-danger">
					<div class="dashboard-panel-header clearfix">
						<h2 class="pull-left">Invoices Past Due</h2>
						<span class="totalSum pull-right">{{paymentsPastDueTotal|numeric}} {{currency}}</span>
					</div>
					<div class="dashboard-panel-body">
						<table id="paymentsPastDueTable" class="display clickable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Student</th>
									<th class="center">Balance ({{currency}})</th>
									<th>Due Date</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="item in paymentsPastDue track by $index">
									<td></td>
									<td ng-click="viewStudent(item)">{{item.student_name}}</td>
									<td ng-click="viewStudent(item)" class="center">{{item.balance|numeric}}</td>
									<td ng-click="viewStudent(item)" data-order="{{item.due_date}}">{{item.due_date|date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row dashboard-panel-footer">
						<a ui-sref="fees/invoices" class="btn btn-link pull-right">See All</a>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="loading-screen modal-backdrop fade in" ng-show="modalLoading">
			<p class="msg"><span class="fa fa-cog fa-spin"></span> Fetching data...</p>
		</div>
		
	</div>
</div>



