<form name="invoiceForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save()">		
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Invoice #{{invoice.inv_id}} for {{invoice.student_name}}</h4>
		</div>
		<div class="modal-body">
	
			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>			

			<div class="gridView">
				<div class="row compact">
				
					<!-- invoice number -->
					<div class="col-sm-4" >
						<label>Invoice Number</label>
						<p class="form-control-static">{{invoice.inv_id}}</p>
					</div>
							
					<!-- student -->
					<div class="col-sm-4" >
						<label>Student</label>
						<p class="form-control-static">{{invoice.student_name}}</p>
					</div>
					
					
					<div class="col-sm-4">
						<div class="alert alert-success invoice-status" ng-show="invoice.balance>=0 && !invoice.canceled">
							Paid in Full
						</div>
						<div class="alert alert-warning invoice-status" ng-show="invoice.balance<0 && invoice.total_paid>0 && !invoice.canceled">
							Partial Paid
						</div>
						<div class="alert alert-danger invoice-status" ng-show="invoice.canceled">
							Canceled!
						</div>
					</div>
					
				</div>
				
				
				<div class="row compact">
					<!-- invoice date -->
					<div class="col-sm-4" >
						<label>Invoice Date</label>
						<p class="form-control-static" ng-show="!edit">{{invoice.inv_date}}</p>
						<div ng-show="edit">
							<div class="input-group">
								<input type="text" name="inv_date" date-range-picker id="inv_date" class="form-control date-picker input-sm" ng-model="date" options="{singleDatePicker: true,autoApply: true}" >
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
							</div>
						</div>
					</div>
					
					<!-- due date -->
					<div class="col-sm-4" >		
						<label>Due Date</label>
						<p class="form-control-static" ng-show="!edit">{{invoice.due_date}}</p>
						<div ng-show="edit">
							<div class="input-group">
								<input type="text" name="due_date" date-range-picker id="due_date" class="form-control date-picker input-sm" ng-model="due_date" options="{singleDatePicker: true,autoApply: true}" >
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
							</div>
						</div>
					</div>
						
					<!-- term -->
					<div class="col-sm-4" >
						<label>Term</label>
						<p class="form-control-static" ng-show="!edit">{{invoice.term_name}}</p>
						<div ng-show="edit">
							<div class="input-group">
								<select class="form-control" ng-options="item.term_id as item.term_year_name for item in terms" ng-model="invoice.term_id" >
								</select>
							</div>
						</div>
					</div>

				</div>
			</div>

			<table id="resultsTable2" class="display dataTable" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Fee Item</th>
						<th class="rightalign">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in invoiceLineItems track by $index">
						<td width="25">
							<span ng-click="removeLineItem($index)" class="glyphicon glyphicon-trash text-danger clickable" ng-show="edit || item.adding || item.amount==undefined"></span>
						</td>
						<td width="70%">
							<span ng-show="(edit && item.fee_item===undefined) || item.notselected">
								<select ng-options="feeitem.fee_item for feeitem in studentFeeItems track by feeitem.student_fee_item_id"  ng-model="invoice.newItem">
									<option value="">-- select a fee item -- </select>
								</select> <button type="button" class="btn btn-sm btn-link" ng-click="viewStudent(invoice,$index)">Add Fee Item to Student</button>
							</span>
							<span ng-show="!edit || item.fee_item!==undefined">{{item.fee_item}}</span>
						</td>
						<td class="rightalign">
							<input type="text" ng-show="edit || item.adding || item.amount==undefined" class="form-control" ng-model="item.amount" ng-change="sumInvoice()" />
							<span ng-show="!edit && !item.adding">{{item.amount|currency:""}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			
			<button type="button" class="btn btn-sm btn-success" ng-click="addRow()" ng-show="!invoice.canceled">Add Line Item</button>
			
			<div class="row">
				<div class="col-sm-6">
					<div ng-show="hasCredit && invoice.balance<0 && !invoice.canceled" class="alert alert-info" style="margin:15px 0">
						<label class="checkbox-inline">
							<input
							type="checkbox"
							name="apply_credit"
							value="true"
							ng-checked="creditApplied"
							ng-click="applyCredit()"
							> This student has a credit of <b>{{credit|numeric}}</b>. Do you want to apply this credit to this invoice?
						</label>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div>
						<label class="col-sm-8 control-label">Invoice Total</label>
						<p class="form-control-static right">{{totals.total_due|currency:""}}</p>
					</div>
					
					<div>
						<label class="col-sm-8 control-label">Total Paid</label>
						<p class="form-control-static right">{{invoice.total_paid|currency:""}}</p>
					</div>
					
					<div ng-show="creditApplied">
						<label class="col-sm-8 control-label">Credit</label>
						<p class="form-control-static right">{{ appliedCreditAmt|currency:"" }}</p>
					</div>
					
					<div>
						<label class="col-sm-8 control-label">Balance Due ({{currency}})</label>
						<p class="form-control-static right">{{totals.balance|numeric}}</p>
					</div>
					
					<div ng-show="hasArrears">
						<label class="col-sm-8 control-label text-danger" >Arrears ({{currency}})</label>
						<p class="form-control-static right text-danger">{{arrears|numeric}}</p>
					</div>
				</div>
			</div>
				
		</div>
		<div class="modal-footer">
			
			<div class="pull-left">
				<button type="button" class="btn btn-danger" ng-click="deleteInvoice()" ng-show="permissions.fees.invoices.delete"><i class="fa fa-trash"></i> Delete Invoice</button>
				
				<button type="button" class="btn btn-danger" ng-click="cancelInvoice()" ng-show="permissions.fees.invoices.delete && !invoice.canceled && invoice.total_paid==0">Cancel Invoice</button>
				<button type="button" class="btn btn-success" ng-click="reactivateInvoice()" ng-show="permissions.fees.invoices.edit && invoice.canceled">Reactivate Invoice</button>
				<button type="button" class="btn btn-success" ng-click="printInvoice()"><i class="glyphicon glyphicon-print"></i> Print</button>	
				<button type="button" class="btn btn-link" ng-click="revertInvoice()" ng-show="edit && changes">Undo Changes</button>				
			</div>
			
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			
			<button type="submit" class="btn btn-success" ng-show="edit && !invoice.canceled">
				<span ng-hide="saving">Update</span>
				<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
			</button>
			
		</div>
</form>