<form name="invoiceForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save()">		
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Invoice: {{selectedStudent.student_name}}</h4>
		</div>
		<div class="modal-body">
	
			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>
			
			<div class="row header">			
				<div class="col-sm-4" ng-class="{ 'has-error' : invoiceForm.student.$invalid && (!invoiceForm.student.$pristine || invoiceForm.$submitted) }" ng-show="selectStudent">
					<!-- student -->
					<label for="student">Student</label>
					<ui-select ng-model="student.selected" theme="select2" class="form-control" name="student" required> 
					  <ui-select-match placeholder="Select or search a student...">
						<span>{{$select.selected.student_name}}</span>
						<button type="button" class="clear text-danger" ng-click="clearSelect('student',$event)"><span class="glyphicon glyphicon-remove"></span></button>	  
					  </ui-select-match>
					  <ui-select-choices repeat="item in students | filter: $select.search">
						<span ng-bind-html="item.student_name | highlight: $select.search"></span>
					  </ui-select-choices>
					</ui-select>
					<p ng-show="invoiceForm.student.$invalid && (!invoiceForm.student.$pristine || invoiceForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> You must choose a student.</p>
				</div>
				<div class="col-sm-4"  ng-show="!selectStudent">
					<!-- student -->
					<label for="student">Student</label>
					<p class="form-control-static">{{selectedStudent.student_name}}</p>
				</div>
				<div class="col-sm-4">
					<!-- creation method -->
					<label for="student">Method</label>
					<p>
					<button type="button" class="btn btn-sm" ng-class="{'btn-success':invoice.creation_method=='automatic'}" ng-click="setAutomatic()">System Generated</button>
					<button type="button" class="btn btn-sm" ng-class="{'btn-success':invoice.creation_method=='manual'}" ng-click="setManual()">Create Manually</button>						
					</p>
				</div>
			
				<div class="col-sm-4" ng-show="invoice.creation_method=='automatic'">
					<!-- term -->
					<label for="student">Timeframe</label>
					<p>
					<button type="button" class="btn btn-sm" ng-class="{'btn-success':invoice.term=='current'}" ng-click="invoice.term='current';generateInvoice()">Current Term</button>
					<button type="button" class="btn btn-sm" ng-class="{'btn-success':invoice.term=='next'}" ng-click="invoice.term='next';generateInvoice()">Next Term</button>
					</p>
				</div>		
			</div>				
			
			
			<div class="" ng-show="invoice.creation_method=='manual'">
				<div class="row">	
					<div class="col-sm-12">

						<!-- student -->
						<div class="form-group">		
							<label class="col-sm-3 control-label">Student</label>
							<div class="col-sm-7">
								<p class="form-control-static">{{selectedStudent.student_name}}</p>
							</div>	
						</div>
						<!-- invoice date -->
						<div class="form-group">		
							<label for="inv_date" class="col-sm-3 control-label">Invoice Date</label>
							<div class="col-sm-3">
								<div class="input-group" >
									<input type="text" name="inv_date" date-range-picker class="form-control date-picker input-sm" ng-model="invoice.date" options="{singleDatePicker: true,autoApply: true}" />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
							</div>	
						</div>
						
						<!-- due date -->
						<div class="form-group">		
							<label for="due_date" class="col-sm-3 control-label">Due Date</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="text" name="due_date" date-range-picker class="form-control date-picker input-sm" ng-model="invoice.due_date" options="{singleDatePicker: true,autoApply: true}" />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
							</div>	
						</div>
					</div>

				</div>

				<table id="resultsTable2" class="display dataTable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Fee Item</th>
							<th class="rightalign">Amount</th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="item in invoiceLineItems track by $index">
							<td width="25" ng-click="removeLineItem($index)"><span class="glyphicon glyphicon-trash text-danger clickable"></span></td>
							<td width="80%">							
								<span ng-show="item.fee_item==undefined">
									<select ng-options="feeitem.fee_item for feeitem in studentFeeItems track by feeitem.student_fee_item_id" ng-model="invoice.newItem">
										<option value="">-- select a fee item -- </select>
									</select> <button type="button" class="btn btn-sm btn-link" ng-click="viewStudent(selectedStudent,$index)">Add Fee Item to Student</button>
								</span>	
								<span ng-show="item.fee_item!==undefined">{{item.fee_item}}</span>						
							</td>
							<td class="rightalign">
								<input type="text" class="form-control" ng-model="item.amount" ng-change="sumInvoice()" />
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3">
								<button type="button" class="btn btn-sm btn-success" ng-click="addRow()">Add Line Item</button>
							</td>
						</tr>
						<tr>
							<th colspan="2" class="rightalign">Balance Due ({{currency}})</th>
							<th class="rightalign">{{totals.balance|numeric}}</th>
						</tr>
					</tfoot>
				</table>
			</div>
			
			<div class="" ng-show="invoice.creation_method=='automatic' && invoice.term!==undefined">
				
				<h2>Invoice Preview</h2>				
				<button type="button" class="btn btn-sm btn-link pull-right" ng-click="viewStudent(student.selected)" ng-show="!selectedStudent"><i class="glyphicon glyphicon-user"></i> View Student Details</button>
			
				<div ng-show="results.length==0">
					<p class="alert alert-info">There is no items to invoice for the {{invoice.term}} term.</p>
				</div>
				<div ng-show="results.length>0">	
					<div class="modal-tabs sub-tabs">					
						<ul class="nav nav-tabs">
							<li ng-class="{active: activeInvoice==key}" ng-repeat="(key,item) in invoices track by $index"><a class="clickable" ng-click="getInvoice(key)">Invoice {{$index+1}}</a></li>
						</ul>
					</div>
									
					<div class="subtab-content clearfix">
						<!-- invoice date -->
						<h2><strong>Invoice Date:</strong> {{activeInvoice}}</h2>
						
						<!-- invoice date -->
						<div class="form-group">		
							<label for="inv_date" class="col-sm-2 control-label">Invoice Date</label>
							<div class="col-sm-3">
								<div class="input-group" >
									<input type="text" name="inv_date" date-range-picker class="form-control date-picker input-sm" ng-model="invoiceLineItems[0].inv_date" options="{singleDatePicker: true,autoApply: true}" />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
							</div>	
						</div>
						
						<!-- due date -->
						<div class="form-group">	
							<label for="due_date" class="col-sm-2 control-label">Due Date</label>
							<div class="col-sm-3">
								<div class="input-group">
									<input type="text" name="due_date" date-range-picker class="form-control date-picker input-sm" ng-model="invoiceLineItems[0].due_date" options="{singleDatePicker: true,autoApply: true}" />
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
							</div>	
						</div>
					
						<table id="resultsTable2" class="display dataTable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Fee Item</th>
									<th class="rightalign">Amount</th>
								</tr>
							</thead>	
							<tbody>
								<tr ng-repeat="item in invoiceLineItems track by $index">
									<td width="25" ng-click="removeLineItem($index)"><span class="glyphicon glyphicon-trash text-danger clickable"></span></td>
									<td width="80%">									
										<span ng-show="item.fee_item==undefined">
											<select ng-options="feeitem.fee_item for feeitem in studentFeeItems track by feeitem.student_fee_item_id"  ng-model="invoice.newItem">
												<option value="">-- select a fee item -- </select>
											</select> <button type="button" class="btn btn-sm btn-link" ng-click="viewStudent(invoice,$index)">Add Fee Item to Student</button>
										</span>	
										<span ng-show="item.fee_item!==undefined">{{item.fee_item}}</span>														
									</td>
									<td class="rightalign">
										<input type="text" class="form-control" ng-model="item.amount" ng-change="sumInvoice()" />
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">
										<button type="button" class="btn btn-sm btn-success" ng-click="addRow()">Add Line Item</button>
									</td>
								</tr>
								<tr>
									<th colspan="2" class="rightalign">Balance Due ({{currency}})</th>
									<th class="rightalign">{{totals.balance|numeric}}</th>
								</tr>
							</tfoot>
						</table>							

					</div>
					
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			
			<button type="submit" class="btn btn-success" ng-show="results.length>0 || invoice.creation_method=='manual'">
				<span ng-hide="saving">Create Invoice(s)</span>
				<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
			</button>
			
		</div>
</form>