<style>
	@media print {
		.row{margin-right: -15px;margin-left: -15px;}
		.row:before {display: table;content: " ";}
		.row:after {clear: both;}
		.col-sm-6{
			width: 50%;
			float: left;
			position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
		}
		body{font-family: Georgia !important;font-size: 20px !important;font-style: normal !important;font-variant: normal !important;}
	}
</style>
<form name="paymentForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save()">
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Receipt for Payment</h4>
		</div>
		<div class="modal-body receipt printInv" style="font-family: Sans-Serif !important;">

			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>

			<div class="watermark reversed" ng-show="payment.reversed">
				<p>REVERSED</p>
			</div>

			<div class="receipt-header-letterhead" ng-if="useLetterhead" style="{{removeHeader ? '' : 'margin-top:50px;'}}">
				<img ng-show="!removeHeader" class="center" src="assets/schools/{{currentUser.settings['Letterhead']}}" style="max-width: 400px" />
				<h2 class="receipt-title" style="{{removeHeader ? 'margin-top:105px;' : ''}}">Official Receipt</h2>
			</div>
			<h4 style="text-align:center;" ng-show="wantReceipt">{{itemized ? payment.custom_receipt_no || '-' : ''}}</h4>

			<div class="row" ng-if="!useLetterhead" ng-show="itemized">
				<div class="col-xs-2">
					<img src="{{'assets/schools/' + currentUser.settings.logo}}" title="{{currentUser.settings['School Name']}}" class="brand invLogo" style="max-width: 400px" />
				</div>
				<div class="col-xs-10 receipt-header">
					<h2 class="receipt-title">Receipt</h2>
					<h1 class="receipt-school-name">{{currentUser.settings['School Name']}}</h1>
					<div class="receipt-school-address">
						<p>{{currentUser.settings['Address 1']}}, {{currentUser.settings['Address 2']}}</p>
						<p>Contact: {{currentUser.settings['Phone Number 2']}}, {{currentUser.settings['Phone Number']}}</p>
						<p>Email: {{currentUser.settings['Email Address']}}</p>
					</div>
				</div>
			</div>

			<div style="{{itemized ? '':'margin-top:100px;'}}">
			    <h2 style="text-align:center;padding-top:3%;" ng-show="!itemized" class="receipt-title">{{itemized ? 'Receipt' : payment.custom_receipt_no}}</h2>
			    <p class="text-group" style="padding-bottom:7px;"><strong>Admission No:</strong> {{student.admission_number}}</p>
				<p class="text-group" style="padding-bottom:7px;"><strong>Student:</strong>&emsp;&emsp;&emsp; {{student.student_name}}</p>
				<p class="text-group"><strong>Class:</strong>&emsp;&emsp;&emsp;&emsp; {{student.class_name}}</p>
				<div id="termLabels" style="margin-left:65%;margin-top:-10%;">
					<p class="text-group" style="padding-bottom:7px;"><strong>Received:</strong>&emsp;&emsp; {{payment.payment_date|date}}</p>
					<!-- <span class="text-group"><strong>Term:</strong> {{term_name}}, {{term_year}}</span> -->
					<p class="text-group"><strong>Term:</strong>&emsp;&emsp;&emsp;&emsp; {{term_name}}</p>
				</div>
			</div>

			<div class="">
				<table class="display dataTable printInv" cellspacing="0" width="100%" id="itemized" style="{{itemized ? 'margin-top:5%;' : ''}}" ng-show="itemized">
					<thead>
						<tr>
							<th class="">Invoice No.</th>
							<th class="" width="60%">Item</th>
							<th class="center">Kshs</th>
							<th class="center">Cts</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in paymentItems">
							<td>{{custom_invoice_no || item.inv_id}}</td>
							<td>{{item.fee_item}}</td>
							<td class="center">{{item.ksh|number}}</td>
							<td class="center">{{item.cts}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								No: {{payment.receipt_number}}
								<div class="pull-right">TOTAL KSHS</div>
							</td>
							<td class="center">{{totalAmtKsh|number}}</td>
							<td class="center">{{totalAmtCts}}</td>
						</tr>
					</tfoot>
				</table>

				<p id="balbd" style="{{itemized ? '' : 'margin-top:9%;'}}"><strong>Bal. b/d:</strong> {{newStudent ? '0.00' : balanceBroughtFwd|numeric}}</p>
				<div class="printInv" style="{{itemized ? '' : 'border:1px solid #000000;padding:3px;height:90px !important;'}}">
					<div class="row">
						<p id="amountPaid" class="text-group col-sm-12" style="{{itemized ? 'padding-bottom:7px;':'padding-bottom:7px;'}}"><strong>Amount Paid:</strong> {{payment.amount|currency:""}} {{currency}}</p>
						<!-- <p class="text-group"><strong>Outstanding Balance:</strong> {{ ( balanceDue > 0 ? '0' : balanceDue)|numeric }} {{currency}}</p> --> <!-- uncomment this if brackets are needed -->
						<p class="text-group col-sm-12" style="{{itemized ? 'padding-bottom:7px !important;':'padding-bottom:7px;'}}"><strong>Outstanding Balance:</strong> {{ balanceDue|numeric }} {{currency}}</p>
						<p ng-show="hasCredit" class="text-group col-sm-12" style="{{itemized ? 'padding-bottom:7px !important;':'padding-bottom:7px;'}}"><strong>Available Credit:</strong> {{credit|currency:""}} {{currency}}</p>
						<p class="text-group col-sm-12" id="wordAmount" style="{{itemized ? 'padding-bottom:7px !important;':'padding-bottom:7px;'}}"><strong>Amount in words:</strong> {{receiptAmountInWords}}</p>
						<p class="text-group col-sm-12" id="cashier" style="{{itemized ? 'padding-bottom:7px !important;':'padding-bottom:7px;'}}"><strong>Cashier's Name:</strong> {{cashierName}}</p>
						<div id="bank_adjust" class="col-sm-12" style="{{itemized ? 'margin-left:62%;margin-top:-10%;':'margin-left:50%;margin-top:-14%;'}}">
							<p id="bnkName"><strong>Bank:</strong> {{payment.payment_bank.name}}</p>
							<p id="bnkDate"><strong>Bank Date:</strong> {{payment.banking_date}}</p>
							<p id="paymentMethod"><strong>{{payment.payment_method}}:</strong> {{payment.slip_cheque_no}}</p>
							<p><strong>Official Stamp:</strong></p>
						</div>
					</div>

				</div>

			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-link" ng-click="cancel()">Close</button>
			<button type="button" class="btn btn-success" ng-click="print()"><i class="glyphicon glyphicon-print"></i> Print</button>
		</div>
</form>
