<form name="paymentForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save()">		
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Receipt for Payment</h4>
		</div>
		<div class="modal-body receipt">
	
			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>
			
			<div class="watermark reversed" ng-show="payment.reversed">
				<p>REVERSED</p>
			</div>
			
			<div class="receipt-header-letterhead" ng-if="useLetterhead">
				<img class="center" src="assets/schools/{{currentUser.settings['Letterhead']}}" />
				<h2 class="receipt-title">Official Receipt</h2>
			</div>
			
			<div class="row" ng-if="!useLetterhead">
				<div class="col-xs-2">
					<img src="{{'assets/schools/' + currentUser.settings.logo}}" title="{{currentUser.settings['School Name']}}" class="brand" /> 
				</div>
				<div class="col-xs-10 receipt-header">
					<h2 class="receipt-title">Receipt</h2>
					<h1 class="receipt-school-name">{{currentUser.settings['School Name']}}</h1>
					<div class="receipt-school-address">
						<p>{{currentUser.settings['Address 1']}}, {{currentUser.settings['Address 2']}}</p>
						<p>Contact: {{currentUser.settings['Phone Number 2']}}, {{currentUser.settings['Phone Number']}}</p>
						<p>Email: {{currentUser.settings['Email Address']}}</p>
					</div>
					<div class="row">
						<div class="col-xs-8 nopad">
							<label class="pull-right">Date:</label>
						</div>
						<div class="col-xs-4">
							<p class="form-control-static">{{payment.payment_date|date}}</p>
						</div>
					</div>
				</div>
			</div>
			
			<div>
				<span class="text-group"><strong>Received:</strong> {{payment.payment_date|date}}</span>
				<span class="text-group"><strong>Student:</strong> {{student.student_name}}</span>
				<span class="text-group"><strong>Admission No:</strong> {{student.admission_number}}</span>
				<span class="text-group"><strong>Class:</strong> {{student.class_name}}</span>
				<span class="text-group"><strong>Term:</strong> {{term_name}}, {{term_year}}</span>
			</div>

			<div class="">
				<table class="display dataTable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="center">Item</th>
							<th class="center">Kshs</th>
							<th class="center">Cts</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in paymentItems">
							<td>{{item.fee_item}}</td>
							<td class="center">{{item.ksh|number}}</td>
							<td class="center">{{item.cts}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>
								No: {{payment.receipt_number}}
								<div class="pull-right">TOTAL KSHS</div>
							</td>
							<td class="center">{{totalAmtKsh|number}}</td>
							<td class="center">{{totalAmtCts}}</td>
						</tr>
					</tfoot>
				</table>
				
				<div>
					<p class="text-group"><strong>Amount Paid:</strong> {{payment.amount|numeric}}</p>
					<p class="text-group"><strong>Outstanding Balance:</strong> {{balanceDue|numeric}} <span ng-show="hasCredit">credit</span></p>
					<p class="text-group"><strong>Cash/Deposit Slip/Cheque No:</strong> {{payment.slip_cheque_no}}</p>
					<p class="text-group"><strong>Official Stamp:</strong></p>
				</div>

			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-link" ng-click="cancel()">Close</button>
			<button type="button" class="btn btn-success" ng-click="print()"><i class="glyphicon glyphicon-print"></i> Print</button>
		</div>
</form>