<div ng-controller="dashboardCtrl" class="full-height">

	<div class="row subnavbar non-printable">

	</div>

	<div id="body-content">

		<div class="row">

			<div class="col-sm-3" ng-show="isTeacher">

				<div class="dashboard-panel">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-child text-lg section-label"></span>
						<h2>My Classes</h2>
					</div>
					<div class="row dashboard-panel-body">
						<div class="loading-indicator" ng-show="studentsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="myClasses.length==0">You are currently do not have any assigned classes.</p>
						<ul class="stripped">
							<li ng-repeat="item in myClasses">
								<span class="title">
									<a ui-sref="school/classes({ class_cat_id: item.class_cat_id, class_id: item.class_id })">
										<b>{{item.class_name}}</b>
									</a>
									<a ui-sref="students({ class_cat_id: item.class_cat_id, class_id: item.class_id })">
										<span class='text-muted'>({{item.num_students}} students)</span>
									</a>
								</span>
								<div class="indent">
									<a ui-sref="communications/blog_posts({ class_id: item.class_id })">Manage Blog</a> |
									<a ng-show="item.subjects!=null" ui-sref="communications/homework({ class_id: item.class_id })">Manage Homework</a>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="dashboard-panel">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-book text-lg section-label"></span>
						<h2>My Subjects</h2>
					</div>
					<div class="row dashboard-panel-body">
						<div class="loading-indicator" ng-show="studentsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="subjects.length==0">You are currently do not have any assigned subjects.</p>
						<ul class="stripped">
							<li ng-repeat="item in subjects">
								<span class="title">
									<a ui-sref="school/subjects({ class_cat_id: item.class_cat_id, subject_id: item.subject_id })">
										<b>{{item.subject_name}}</b>
									</a>
									<span class='text-muted'>({{item.num_students}} students)</span>
									<br />{{item.class_cat_name}}
									<br />{{item.class_name}}
								</span>
								<div class="indent">
									<a ui-sref="communications/homework({ class_id: item.class_id, subject_id: item.subject_id })">Manage Homework</a>
								</div>
						</ul>
					</div>
				</div>

			</div>

			<div class="col-sm-3" ng-show="!isTeacher">
				<div class="dashboard-panel" ng-show="permissions.students.view">
					<div class="dashboard-panel-header">
						<span id="studentModuleIcon" class="pull-right fa fa-child text-lg section-label"></span>
						<h2>Students - <span style="font-size:14px;">{{genderCount}}</span></h2>

					</div>
					<div class="row dashboard-panel-body">
						<div class="loading-indicator" ng-show="studentsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<ul class="stripped">
							<li ng-repeat="item in classCats">
								<a class="field-tip" ui-sref="students({ class_cat_id: item.class_cat_id })">
								    {{item.class_cat_name}} ({{item.num_students}})
								    <span class="tip-content">{{item.class_cat_name}}<br>{{item.num_boys}} Boys<br>{{item.num_girls}} Girls<br>
								        <hr>
								        <p ng-repeat="item2 in item.classes track by $index">{{item2.class_name}} - {{item2.boys}} Boys and {{item2.girls}} Girls. Tot ({{item2.tot}})</p>
								    </span>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="dashboard-panel" ng-show="permissions.staff.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-users text-md section-label"></span>
						<h2>Staff Module</h2>

					</div>
					<div class="row dashboard-panel-body">
						<div class="loading-indicator" ng-show="staffLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<ul>
							<li ng-repeat="item in empCats">
								<a ui-sref="staff({ category: item.emp_cat_id })">{{item.emp_cat_name}}</a>
									<ul class="stripped">
										<li ng-repeat="dept in deptCats | filter: {category : item.emp_cat_name}:true">
											<a ui-sref="staff({ category: item.emp_cat_id, dept:dept.dept_id })">{{dept.dept_name}} ({{dept.num_staff}}) {{category}}</a>
										</li>
									</ul>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="col-sm-{{permissions.transport.dashboard.view ? '3':'4'}}">
				<div class="dashboard-panel" ng-show="permissions.exams.exams.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-pencil text-md section-label"></span>
						<h2>Exams Module</h2>
					</div>
					<div class="row dashboard-panel-body">
						<h2>Top Three Students Per Class</h2>
						<div class="loading-indicator" ng-show="examsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="classes.length==0">There are currently no exam marks added for your students this term.</p>
						<div class="col-sm-6 nopad" ng-repeat="item in classes">
							<h3>{{item.class_name}}</h3>
							<ul class="stripped">
								<li ng-repeat="student in item.students">{{student.student_name}} ({{student.total_mark}})</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- For Transport User -->
				<div class="dashboard-panel" ng-show="permissions.transport.dashboard.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-pencil text-md section-label"></span>
						<h2>School Bus</h2>
					</div>
					<div class="row dashboard-panel-body">
						<h2>Students Using A Bus</h2>
						<div class="loading-indicator" ng-show="examsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="studentsBusUsage.length==0">There is currently no data to show.</p>
						<div class="col-sm-12 nopad">
							<h3>BUS &amp; STUDENTS COUNT</h3>
							<ul class="stripped" style="max-height:250px;overflow-y:auto;">
								<li ng-repeat="item in studentsBusUsage">{{item.bus}} - <b>({{item.students}})</b></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-{{permissions.transport.dashboard.view ? '3':'5'}}" ng-show="isTransport ? true : permissions.fees.dashboard.view">
				<div class="dashboard-panel" ng-show="permissions.fees.dashboard.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-calculator text-md section-label"></span>
						<h2>Fees Module</h2>
					</div>
					<div class="row dashboard-panel-body">
						<div class="col-sm-4 lesspad">
							<div class="well">
								<h2 class="text-success"># Payments Received</h2>
								<div class="loading-indicator" ng-show="fees1Loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
								<p class="text-lg"><a ui-sref="fees/payments_received" class="text-success">{{numPaymentsReceived}}</a></p>
								<p class="text-xs" ng-show="currentTermTitle!==undefined">For {{currentTermTitle}}</p>
							</div>
						</div>
						<div class="col-sm-4 lesspad">
							<div class="well">
								<h2 class="text-warning"># Payments Due</h2>
								<div class="loading-indicator" ng-show="fees2Loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
								<p class="text-lg"><a ui-sref="fees/invoices({ balance_status: 'Due This Month' })" class="text-warning">{{numPaymentsDue}}</a></p>
								<p class="text-xs">Due this month</p>
							</div>
						</div>
						<div class="col-sm-4 lesspad">
							<div class="well">
								<h2 class="text-danger"># Payments Past Due</h2>
								<div class="loading-indicator" ng-show="fees3Loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
								<p class="text-lg"><a ui-sref="fees/invoices({ balance_status: 'Past Due' })" class="text-danger">{{numPaymentsPastDue}}</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- For Transport User -->
				<div class="dashboard-panel" ng-show="isTransport ? true : permissions.transport.dashboard.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-pencil text-md section-label"></span>
						<h2>Neighborhoods</h2>
					</div>
					<div class="row dashboard-panel-body">
						<h2>Students In Neighborhoods</h2>
						<div class="loading-indicator" ng-show="examsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="popularDestinations.length==0">There is currently no data to show.</p>
						<div class="col-sm-12 nopad">
							<h3>NEIGHBORHOODS</h3>
							<ul class="stripped" style="max-height:250px;overflow-y:auto;">
								<li ng-repeat="item in popularDestinations">{{item.destination}} - <b>({{item.student_count}})</b></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="dashboard-panel" ng-show="permissions.news.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-newspaper-o text-md section-label"></span>
						<h2>Latest News</h2>
					</div>
					<div class="row dashboard-panel-body">
						<p class="padded">Coming soon...</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3" ng-show="isTransport">
				<!-- For Transport User -->
				<div class="dashboard-panel" ng-show="isTransport ? true : permissions.transport.dashboard.view">
					<div class="dashboard-panel-header">
						<span class="pull-right fa fa-pencil text-md section-label"></span>
						<h2>Balance</h2>
					</div>
					<div class="row dashboard-panel-body">
						<h2>Transport Fee Balance</h2>
						<div class="loading-indicator" ng-show="examsLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
						<p class="text-muted padded" ng-show="studentsWithBalance.length==0">There is currently no data to show.</p>
						<div class="col-sm-12 nopad">
							<h3>BALANCES</h3>
							<ul class="stripped" style="max-height:250px;overflow-y:auto;">
								<li ng-repeat="item in studentsWithBalance">{{item.student_name}} - <b>({{item.balance}})</b></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-6">

			</div>

			<div class="col-sm-6">

			</div>
		</div>
	</div>

</div>
