<div ng-controller="dashboardCtrl" class="full-height">
	
	<div class="row subnavbar non-printable">
			
	</div>
	
	<div id="body-content">

		<div class="row">
						
			<div class="col-sm-3">
				<div class="dashboard-panel">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Student Module</h2>
							<ul>
								<li ng-repeat="item in classCats"><a ui-sref="students({ filter: item.class_cat_id })">{{item.class_cat_name}} ({{item.num_students}})</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<div class="dashboard-panel">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Staff Module</h2>
							<ul>
								<li ng-repeat="item in empCats">
									<a ui-sref="staff({ category: item.emp_cat_id })">{{item.emp_cat_name}}</a>
										<ul>
											<li ng-repeat="dept in deptCats | filter: {category : item.emp_cat_name}">
												<a ui-sref="staff({ category: item.emp_cat_id, dept:dept.dept_id })">{{dept.dept_name}} ({{dept.num_staff}})</a>													
											</li>
										</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="dashboard-panel">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Fees Module</h2>
							<div class="col-sm-4 lesspad">
								<div class="well">
									<h2 class="text-success"># Payments Received</h2>
									<p class="text-lg"><a ui-sref="fees/payments_received" class="text-success">{{numPaymentsReceived}}</a></p>
									<p class="text-xs">For {{currentTermTitle}}</p>
								</div>
							</div>
							<div class="col-sm-4 lesspad">
								<div class="well">
									<h2 class="text-warning"># Payments Due</h2>
									<p class="text-lg"><a ui-sref="fees/invoices({ balance_status: 'Due This Month' })" class="text-warning">{{numPaymentsDue}}</a></p>
									<p class="text-xs">Due this month</p>
								</div>
							</div>
							<div class="col-sm-4 lesspad">
								<div class="well">
									<h2 class="text-danger"># Payments Past Due</h2>
									<p class="text-lg"><a ui-sref="fees/invoices({ balance_status: 'Past Due' })" class="text-danger">{{numPaymentsPastDue}}</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="dashboard-panel">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Exams Module</h2>
							<p>Coming soon...</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="dashboard-panel">					
					<div class="row dashboard-panel-header">
						<div class="col-xs-12">
							<h2>Latest News</h2>
							<p>Coming soon...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


