<style type="text/css">
    #resultsTable{width:100%;border:1px solid #404040;border-collapse:collapse;}
    #resultsTable thead tr th,#resultsTable tbody tr td{padding:5px;border:#303030 1px solid;text-align:center;}
    #resultsTable tbody tr:nth-child(odd){background:#e8e8e8;}
</style>
<div ng-controller="examsReportsCtrl">

    <div id="body-content" class="row fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">

		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>

		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<!-- <div class="btn" title="print" ng-click="printReport()"><a class="export-btn"><span class="glyphicon glyphicon-print"></span> <span class="tool-text">Print</span></a></div> -->
                    <!-- <div class="btn" title="Export" ng-click="exportData()"><a class="export-btn"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div> -->
                    <div class="btn" title="print" ng-click="printReport()"><a class="export-btn"><span class="glyphicon glyphicon-print"></span> <span class="tool-text">Print</span></a></div>
                    <div class="btn" title="Export" ng-click="exportData()"><a class="export-btn"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div>
				</div>
			</div>

			<div class="clearfix">
				<h1 id="pageTitle">Examination Reports</h1>
			</div>

			<!-- search form -->
			<div class="dataFilterForm">
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- class select -->
					<div class="form-group">
						<label for="class">Class</label>
						<select name="class" id="class" class="form-control" ng-options="class.class_name for class in classes track by class.class_id" ng-model="filters.class">
							<option value="">--select class--</option>
						</select>
					</div>

					<!-- term select -->
					<div class="form-group">
						<label for="term">Term</label>
						<select class="form-control" ng-options="item.term_id as item.term_year_name for item in terms" ng-model="filters.term_id" >
							<option value="">--select term--</option>
						</select>
					</div>

					<!-- exam select -->
					<div class="form-group">
						<label for="term">Exam</label>
						<select id="term" class="form-control" ng-options="exam.exam_type_id as exam.exam_type for exam in examTypes" ng-model="filters.exam_type_id" >
							<option value="">-- select exam --</option>
						</select>
					</div>

                    <!-- report select -->
					<div class="form-group">
						<label for="analysis">Analysis</label>
						<select id="analysis" class="form-control" ng-model="filters.analysis" >
							<option disabled>-- CLASS REPORTS --</option>
                              <option value="class_performace">Class Performance</option>
                              <option value="class_mean">Class Mean</option>
                            <option disabled>-- STREAM REPORTS --</option>
                              <option value="stream_performace">Stream Performance</option>
                              <option value="stream_mean">Stream Mean</option>
							<option disabled>-- MORE --</option>
                              <option value="improvement_report">Exam Improvement</option>
                              <option value="stream_grades">Grades Attainment</option>
						</select>
					</div>

					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="loadSelection()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->


		</div>

		<!-- reports body -->
		<div class="container-fluid" id="reportsSection">
            <div class="row">

                <div class="col-md-12 col-sm-12 reports-main-content">
                <!--Main reports go here -->
                <h1 ng-show="initialReportLoad">{{preLoadMessageH1}}</h1>
                <h3 ng-show="initialReportLoad">{{preLoadMessageH3}}</h3>

                <div id="exTab1" class="container" ng-show="showReport">
                    <ul  class="nav nav-pills">
                		<li class="active"><a ng-click="gotoDiv1(this)" data-toggle="tab">Table</a></li>
                		<li><a ng-click="gotoDiv2(this)" data-toggle="tab">Charts &amp; Graphs</a></li>
                	</ul>

                	<div class="tab-content clearfix">
                		<div class="tab-pane active" id="1a">
                            <h3 style="color:#000000;">{{reportTitle}}</h3>
                            <div><h4>Search Results: <span><input type="text" id="search" placeholder="  live search"></input></span></h4></div>
                            <!-- class analysis table -->
                            <div ng-show="classAnalysisTable" id="classAnalysisTableDiv">
                                <table id='resultsTable' class="classAnalysisTable">
                                        <thead>
                                            <tr class='row100 head' id="tblHeader">
                                                <th>GND.</th>
                                                <th>STUDENT.</th>
                                                <th ng-repeat="col in tableHeader">{{col.title | limitTo: 3}}</th>
                                                <th>POS</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody">
                                            <tr ng-repeat="item in examMarks track by $index">
                                                <td>{{item.gender}}</td>
                                                <td>{{item.student_name}}</td>
                                                <td ng-repeat="col in tableHeader" ng-bind="displayClassAnalysisMark($parent.$index, col.key)"></td>
                                                <td>{{item.rank}}</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>

                            <!-- stream analysis table -->
                            <div ng-show="streamAnalysisTable" id="streamAnalysisTableDiv">
                                <table id='resultsTable' class="streamAnalysisTable">
                                        <thead>
                                            <tr id="tblHeader">
                                                <th>GND.</th>
                                                <th>STUDENT</th>
                                                <th ng-repeat="col in tableHeader">{{col.title  | limitTo: 3}}</th>
                                                <th>POS</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody">
                                            <tr ng-repeat="item in examMarks track by $index">
                                                <td>{{item.gender}}</td>
                                                <td>{{item.student_name}}</td>
                                                <td ng-repeat="col in tableHeader" ng-bind="displayStreamAnalysisMark($parent.$index, col.key)"></td>
                                                <td>{{item.rank}}</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>

                            <!-- class means table -->

                            <!-- stream means table -->

                            <!-- stream grades table -->
                            <div ng-show="gradesAttainmentTable" id="gradesAttainmentTableDiv">
                                <table id='resultsTable' class="gradesAnalysisTable">
                                        <thead>
                                            <tr id="tblHeader">
                                                <th>CLASS</th>
                                                <th ng-repeat="col in cols track by $index">{{col.grade}}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody">
                                            <tr ng-repeat="item in gradesAttained track by $index">
                                                <td>{{item.class_name}}</td>
                                                <td ng-repeat="grade in item.grades track by $index">{{grade.count}}</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>

							<!-- improvements table -->
                            <div ng-show="improvementsAnalysisTable" id="improvementsAnalysisTableDiv">
                                <table id='resultsTable' class="improvementsAnalysisTable">
                                        <thead>
                                            <tr id="tblHeader">
                                                <th>GND.</th>
                                                <th>STUDENT</th>
                                                <th ng-repeat="col in cols">{{col  | limitTo: 4}}</th>
                                                <th>TOT</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblBody">
                                            <tr ng-repeat="item in studentCurrentResults track by $index">
                                                <td>{{item.gender}}</td>
                                                <td>{{item.student_name}}</td>
                                                <td ng-repeat="subj in item.subjects">{{subj.mark}}</td>
                                                <td>{{item.total}}</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                		</div>
                		<div class="tab-pane" id="2a">
                            <h3 style="color:#000000;">{{reportTitle}}</h3>
                            <div id="chart"></div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
		<!-- end reports body -->

	</div>

</div>
