
		<div class="modal-body receipt">
			<img ng-if="useLetterhead" class="center" src="assets/schools/{{currentUser.settings['Letterhead']}}" />
			
			<div class="row" ng-if="!useLetterhead">
				<div class="col-xs-2">
					<img src="{{'assets/schools/' + currentUser.settings.logo}}" title="{{currentUser.settings['School Name']}}" class="brand" /> 
				</div>
				<div class="col-xs-10 receipt-header">
					<h2 class="receipt-title">Report</h2>
					<h1 class="receipt-school-name">{{currentUser.settings['School Name']}}</h1>
					<div class="receipt-school-address">
						<p>{{currentUser.settings['Address 1']}}, {{currentUser.settings['Address 2']}}</p>
						<p>Contact: {{currentUser.settings['Phone Number 2']}}, {{currentUser.settings['Phone Number']}}</p>
						<p>Email: {{currentUser.settings['Email Address']}}</p>
					</div>
				</div>
			</div>
			
			<div class="">
				<h4 class="modal-title">Class Analysis : {{title}}</h4>
				<table id="resultsTable" class="display dataTable" cellspacing="0" width="100%" ng-show="!loading">
					<thead>
						<tr>
							<th>Student</th>
							<th class="center" ng-repeat="col in tableHeader">{{col.title}}</th>
							<th>G.TOT</th>
							<th>POS</th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="item in examMarks track by $index">
							<td id="{{item.student_id}}">{{item.student_name}}</td>
							<td class="center" ng-repeat="col in tableHeader" ng-class="{'text-muted':!col.isParent, 'strong': col.isParent}">{{examMarks[$parent.$index][col.key]}}</td>
							<td class="center strong">{{item.total}}</td>
							<td class="center strong">{{item.rank}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th class="right">TOTAL MARKS</th>
							<th class="center" ng-repeat="col in tableHeader" ng-class="{'text-muted':!col.isParent, 'strong': col.isParent}">{{totalMarks[col.key]}}</th>
							<th class="center strong"></th>
							<th></th>
						</tr>
						<tr>
							<th class="right">MEAN SCORE</th>
							<th class="center" ng-repeat="col in tableHeader" ng-class="{'text-muted':!col.isParent, 'strong': col.isParent}" ng-bind="displayMeanScore(col.key)"></th>
							<th></th>
							<th></th>
						</tr>
					</tfoot>
				</table>
			</div>
			
		</div>
