<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

		<modules runAllManagedModulesForAllRequests="false">
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
            <remove name="PHP53_via_FastCGI" />
			<remove name="WebDAV" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="PHP53_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
		</handlers>
		<rewrite>
		  <rules>
  			<rule name="block favicon" stopProcessing="true">
  			  <match url="favicon\.ico" />
  			  <action type="CustomResponse" statusCode="404" subStatusCode="1" statusReason="The requested file favicon.ico was not found" statusDescription="The requested file favicon.ico was not found" />
  			</rule>
  			<rule name="Cols Rule" stopProcessing="true">
  			  <match url="^(.*)$" ignoreCase="false" />
  			  <conditions>
  				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
  				<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
  				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
  			  </conditions>
  			  <action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
  			</rule>
		  </rules>
		</rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />

            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <directoryBrowse enabled="false" />

    </system.webServer>
</configuration>
