<style type="text/css">
	@import url("components/selectBox/vanillaSelectBox.css");
</style>
<form name="studentForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save(studentForm)">
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Add Student</h4>
		</div>
		<div class="modal-body">

			<div class="row clearfix">
				<div class="col-sm-12 clearfix">
					<div class="modal-tabs main-tabs">
						<ul class="nav nav-tabs">
							<li ng-class="{active: currentTab==item}" ng-repeat="item in tabs"><a class="clickable" ng-click="getTabContent(item, studentForm)">{{item}} <span class="error-indicator" ng-show="hasErrors(item)" ng-bind="getErrorCount(item)"></span></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tab-content clearfix" ng-include="currentTab"></div>

			<script type="text/ng-template" id="Student Details">

				<h2>Student Details</h2>

				<div ng-show="formError" class="error alert alert-danger">
					{{errMsg}}
					<ul>
					  <li ng-repeat="item in formErrors track by $index"> <strong>{{ key }}</strong> errors
						<ul>
						  <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						</ul>
					  </li>
					</ul>
				</div>

				<div class="row">
					<div class="col-sm-6">

						<!-- new student? -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.new_student.$dirty ) && studentForm.new_student.$invalid && studentForm.new_student.$error.required }">
							<label for="new_student"  class="col-sm-4 control-label">Is this a new student?</label>
							<div class="col-sm-8">
								<label class="radio-inline">
								  <input type="radio" name="new_student" ng-model="student.new_student" ng-value="true" required> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="new_student" ng-model="student.new_student" ng-value="false" required> No
								</label>
								<p ng-show="(studentForm.$submitted || studentForm.new_student.$dirty ) && studentForm.new_student.$invalid && studentForm.new_student.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> New Student selection is required.</p>
							</div>
						</div>

						<!-- admission date -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.admission_date.$dirty ) && studentForm.admission_date.$invalid && studentForm.admission_date.$error.required }">
							<label for="admission_date" class="col-sm-4 control-label">Admission Date</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" name="admission_date" date-range-picker id="admission_date" class="form-control date-picker input-sm" ng-model="student.admission_date" options="{singleDatePicker: true,autoApply: true}"  required>
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
								<p ng-show="(studentForm.$submitted || studentForm.admission_date.$dirty ) && studentForm.admission_date.$invalid && studentForm.admission_date.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Admission Number is required.</p>
							</div>
						</div>

						<!-- admission number -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.admission_number.$dirty ) && studentForm.admission_number.$invalid && studentForm.admission_number.$error.required }">
							<label for="admission_number" class="col-sm-4 control-label">Admission Number</label>
							<div class="col-sm-4">
								<input type="text" name="admission_number" ng-model="student.admission_number" class="form-control" ng-model-options="{ debounce: 1000 }" required >
								<p ng-show="(studentForm.$submitted || studentForm.admission_number.$dirty ) && studentForm.admission_number.$invalid && studentForm.admission_number.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Admission Number is required.</p>
							</div>
							<div class="col-sm-4" ng-show="uniqueAdmNumber===false">
								<p class="form-control-static alert alert-danger"><i class="glyphicon glyphicon-remove pull-left"></i> Already exists.</p>
							</div>
							<div class="col-sm-2" ng-show="uniqueAdmNumber===true">
								<p class="form-control-static alert alert-success icon-only"><i class="glyphicon glyphicon-ok"></i></p>
							</div>
						</div>

						<!-- current class -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.current_class.$dirty ) && studentForm.current_class.$invalid && studentForm.current_class.$error.required }">
							<label for="current_class" class="col-sm-4 control-label">Class Entry</label>
							<div class="col-sm-8">
								<select name="current_class" class="form-control" ng-options="class.class_name for class in allClasses" ng-model="student.current_class" required>
									<option value="">--select class--</option>
							    </select>
								<p ng-show="(studentForm.$submitted || studentForm.current_class.$dirty ) && studentForm.current_class.$invalid && studentForm.current_class.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Current Class is required.</p>
							</div>
						</div>

						<!-- last name -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.last_name.$dirty ) && studentForm.last_name.$invalid && studentForm.last_name.$error.required }">
							<label for="last_name" class="col-sm-4 control-label">Last Name</label>
							<div class="col-sm-8">
								<input type="text" name="last_name" ng-model="student.last_name" class="form-control" required >
								<p ng-show="(studentForm.$submitted || studentForm.last_name.$dirty ) && studentForm.last_name.$invalid && studentForm.last_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Last Name is required.</p>
							</div>
						</div>

						<!-- first name -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required }">
							<label for="first_name" class="col-sm-4 control-label">First Name</label>
							<div class="col-sm-8">
								<input type="text" name="first_name" ng-model="student.first_name" class="form-control" required >
								<p ng-show="(studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> First Name is required.</p>
							</div>
						</div>

						<!-- middle name -->
						<div class="form-group">
							<label for="middle_name" class="col-sm-4 control-label">Middle Name(s)</label>
							<div class="col-sm-8">
								<input type="text" name="middle_name" ng-model="student.middle_name" class="form-control"  >
							</div>
						</div>

						<!-- dob -->
						<div class="form-group"  ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.dob.$dirty ) && studentForm.dob.$invalid && studentForm.dob.$error.required }">
							<label for="dob" class="col-sm-4 control-label">Date of Birth</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" name="dob" id="dob" ng-click="getDob()" date-range-picker class="form-control date-picker input-sm" ng-model="student.dob" options="{singleDatePicker: true,autoApply: true}" required>
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
								</div>
								<p ng-show="(studentForm.$submitted || studentForm.dob.$dirty ) && studentForm.dob.$invalid && studentForm.dob.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Date of Birth is required.</p>
							</div>
						</div>

						<!-- gender -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.gender.$dirty ) && studentForm.gender.$invalid && studentForm.gender.$error.required }">
							<label for="gender"  class="col-sm-4 control-label">Gender</label>
							<div class="col-sm-8">
								<label class="radio-inline">
								  <input type="radio" name="gender" ng-model="student.gender" value="M" required> M
								</label>
								<label class="radio-inline">
								  <input type="radio" name="gender" ng-model="student.gender" value="F" required> F
								</label>
								<p ng-show="(studentForm.$submitted || studentForm.gender.$dirty ) && studentForm.gender.$invalid && studentForm.gender.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Gender is required.</p>
							</div>
						</div>

						<!-- student cat -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.student_category.$dirty ) && studentForm.student_category.$invalid && studentForm.student_category.$error.required }">
							<label for="student_category" class="col-sm-4 control-label">Student Category</label>
							<div class="col-sm-8">
								<select name="student_category" ng-model="student.student_category" class="form-control" required>
									<option value="{{item}}" ng-repeat="item in studentCats">{{item}}</option>
								</select>
								<p ng-show="(studentForm.$submitted || studentForm.student_category.$dirty ) && studentForm.student_category.$invalid && studentForm.student_category.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Student Category is required.</p>
							</div>
						</div>

            <!-- student type -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.student_type.$dirty ) && studentForm.student_type.$invalid && studentForm.student_type.$error.required }">
							<label for="student_type" class="col-sm-4 control-label">Student Type</label>
							<div class="col-sm-8">
								<select name="student_type" ng-model="student.student_type" class="form-control" required>
									<option value="{{item}}" ng-repeat="item in studentTypes">{{item}}</option>
								</select>
								<p ng-show="(studentForm.$submitted || studentForm.student_type.$dirty ) && studentForm.student_type.$invalid && studentForm.student_type.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Student Type is required.</p>
							</div>
						</div>

						<!-- nationality -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.nationality.$dirty ) && studentForm.nationality.$invalid && studentForm.nationality.$error.required }">
							<label for="nationality" class="col-sm-4 control-label">Nationality</label>
							<div class="col-sm-8">
								<select name="nationality" ng-model="student.nationality" class="form-control" required>
									<option value="">--select Country--</option>
									<option value="{{item.countries_name}}" ng-repeat="item in countries">{{item.countries_name}}</option>
								</select>
								<p ng-show="(studentForm.$submitted || studentForm.nationality.$dirty ) && studentForm.nationality.$invalid && studentForm.nationality.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Nationality is required.</p>
							</div>
						</div>

						<!-- picture -->
						<div class="form-group">
							<label for="student-image" class="col-sm-4 control-label">Student Image</label>
							<div class="col-sm-8">
								<input type="file" nv-file-select="" uploader="uploader" />
							</div>
						</div>

						<!-- status -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.status.$dirty ) && studentForm.status.$invalid && studentForm.status.$error.required }">
							<label for="status" class="col-sm-4 control-label">Status</label>
							<div class="col-sm-8">
								<label class="radio-inline">
								  <input type="radio" name="status" ng-model="student.status" value="true" required> Active
								</label>
								<label class="radio-inline">
								  <input type="radio" name="status" ng-model="student.status" value="false" required> In-active
								</label>
								<p ng-show="(studentForm.$submitted || studentForm.status.$dirty ) && studentForm.status.$invalid && studentForm.status.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Status is required.</p>
							</div>
						</div>

						<!-- house -->
						<div class="form-group">
							<label for="house" class="col-sm-4 control-label">School House</label>
							<div class="col-sm-8">
								<select name="house" ng-model="student.house" class="form-control">
									<option value="">No House</option>
									<option value="{{item}}" ng-repeat="item in houses">{{item}}</option>
								</select>
							</div>
						</div>

						<!-- clubs -->
						<!--
						<div class="form-group">
							<label for="club" class="col-sm-4 control-label">Clubs</label>
							<div class="col-sm-8">
								<select name="club" ng-model="student.club" class="form-control">
									<option value="">No Club</option>
									<option value="{{item}}" ng-repeat="item in clubs">{{item}}</option>
								</select>
							</div>
						</div>
						-->
						<div class="form-group">
							<label for="club" class="col-sm-4 control-label">Clubs</label>
							<div class="col-sm-8">
								<select name="club" id="clubs" ng-model="student.club" ng-change="captureClubs()" multiple size="3" class="form-control">
									<option value="">No Club</option>
									<option value="{{item}}" ng-repeat="item in clubs">{{item}}</option>
								</select>
							</div>
						</div>

					</div>
					<div class="col-sm-6">
						<h3>Family History</h3>

						<!-- Marital Status of Parents -->
						<div class="form-group">
							<label for="parents_marital_status" class="col-sm-5 control-label">Marital Status of Parents</label>
							<div class="col-sm-7">
								<select name="parents_marital_status" ng-model="student.marial_status_parents" class="form-control">
									<option value="">--select one--</option>
									<option value="{{item}}" ng-repeat="item in maritalStatuses">{{item}}</option>
								</select>
							</div>
						</div>

						<!-- age separated -->
						<div class="form-group" ng-if="student.marial_status_parents=='Divorced' || student.marial_status_parents=='Separated'">
							<label for="marital_separation_age" class="col-sm-5 control-label">Age When Separated</label>
							<div class="col-sm-7">
								<input type="text" name="marital_separation_age" ng-model="student.marital_separation_age" class="form-control"  >
							</div>
						</div>

						<!-- adopted -->
						<div class="form-group">
							<label for="adopted"  class="col-sm-5 control-label">Adopted?</label>
							<div class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" value="false"> No
								</label>
							</div>
						</div>

						<!-- age adopted -->
						<div class="form-group" ng-if="student.adopted=='true'">
							<label for="adopted_age" class="col-sm-5 control-label">Age When Adopted</label>
							<div class="col-sm-7">
								<input type="text" name="adopted_age" ng-model="student.adopted_age" class="form-control"  >
							</div>
						</div>

						<!-- aware of adoption -->
						<div class="form-group" ng-if="student.adopted=='true'">
							<label for="adoption_aware" class="col-sm-5 control-label">Does the child know?</label>
							<div class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" value="false"> No
								</label>
							</div>
						</div>

						<h3>Emergency Contact</h3>
						<!-- emergency contact name -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_name.$dirty ) && studentForm.emergency_name.$invalid && studentForm.emergency_name.$error.required }">
							<label for="emergency_name" class="col-sm-4 control-label">Contact Name</label>
							<div class="col-sm-8">
								<input type="text" name="emergency_name" ng-model="student.emergency_name" class="form-control" required >
								<p ng-show="(studentForm.$submitted || studentForm.emergency_name.$dirty ) && studentForm.emergency_name.$invalid && studentForm.emergency_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Name is required.</p>
							</div>
						</div>

						<!-- emergency relationship -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_relationship.$dirty ) && studentForm.emergency_relationship.$invalid && studentForm.emergency_relationship.$error.required }">
							<label for="emergency_relationship" class="col-sm-4 control-label">Contact Relationship</label>
							<div class="col-sm-8">
								<input type="text" name="emergency_relationship" ng-model="student.emergency_relationship" class="form-control" required >
								<p ng-show="(studentForm.$submitted || studentForm.emergency_relationship.$dirty ) && studentForm.emergency_relationship.$invalid && studentForm.emergency_relationship.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Relationship is required.</p>
							</div>
						</div>

						<!-- emergency telephone -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_telephone.$dirty ) && studentForm.emergency_telephone.$invalid && studentForm.emergency_telephone.$error.required }">
							<label for="emergency_telephone" class="col-sm-4 control-label">Contact Telephone</label>
							<div class="col-sm-8">
								<input type="text" name="emergency_telephone" ng-model="student.emergency_telephone" class="form-control" required pattern="[0-9]{9,}" numeric-only>
								<p ng-show="(studentForm.$submitted || studentForm.emergency_telephone.$dirty ) && studentForm.emergency_telephone.$invalid && studentForm.emergency_telephone.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Telephone is required.</p>
							</div>
						</div>

						<!-- emergency telephone 2 -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_telephone_2.$dirty ) && studentForm.emergency_telephone_2.$invalid }">
							<label for="emergency_telephone_2" class="col-sm-4 control-label">Contact Telephone 2</label>
							<div class="col-sm-8">
								<input type="text" name="emergency_telephone_2" ng-model="student.emergency_telephone_2" class="form-control" numeric-only pattern="[0-9]{9,}" placeholder="optional">
							</div>
						</div>

						<h3>Drop Off/Pick Up Individual</h3>
						<!-- pick_up_drop_off_individual -->
						<div class="form-group">
							<label for="pick_up_drop_off_individual" class="col-sm-4 control-label">Name</label>
							<div class="col-sm-8">
								<input type="text" name="pick_up_drop_off_individual" ng-model="student.pick_up_drop_off_individual" class="form-control"  >
							</div>
						</div>

						<!-- <h3>Additional</h3>

						<div class="form-group">
							<label for="kcpe_marks" class="col-sm-4 control-label">KCPE Marks</label>
							<div class="col-sm-8">
								<input type="text" name="kcpe_marks" ng-model="student.kcpe_marks" class="form-control" required numeric-only >
							</div>
						</div>
						<div class="form-group">
							<label for="school_house" class="col-sm-4 control-label">School House</label>
							<div class="col-sm-8">
								<input type="text" name="school_house" ng-model="student.school_house" class="form-control"  >
							</div>
						</div> -->

					</div>
				</div>

			</script>

			<script type="text/ng-template" id="Parents">
				<h2>Parents/Guardians</h2>
				<div ng-show="formError" class="error alert alert-danger">
					{{errMsg}}
					<ul>
					  <li ng-repeat="item in formErrors track by $index"> <strong>{{ key }}</strong> errors
						<ul>
						  <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						</ul>
					  </li>
					</ul>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="pull-right btn btn-link" ng-click="addGuardian()"><i class="glyphicon glyphicon-plus-sign"></i> Add Parent/Guardian</button>
						<table class="display dataTable">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Relationship</th>
									<th>Telephone</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="student.guardians.length==0">
									<td class="alert alert-info" colspan="5">Click the <strong>'Add Parent/Guardian'</strong> button to add a parent/guardian.</td>
								</tr>
								<tr ng-if="student.guardians.length>0" ng-repeat="item in student.guardians track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
									<td><span ng-click="deleteGuardian(student.student_id,item,$index)" class="glyphicon glyphicon-trash text-danger"></span></td>
									<td ng-click="editGuardian(item)">{{item.parent_full_name}}</td>
									<td ng-click="editGuardian(item)">{{item.relationship}}</td>
									<td ng-click="editGuardian(item)">{{item.telephone}}</td>
									<td ng-click="editGuardian(item)">{{item.email}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</script>

			<script type="text/ng-template" id="Medical History">
				<h2>Medical History</h2>

				<table class="display dataTable">
					<thead>
						<tr>
							<th>Illness/Condition</th>
							<th>Age</th>
							<th>Explain</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in medicalConditions track by $index">
							<td width="150">
								<label class="checkbox-inline">
								  <input
									type="checkbox"
									name="conditions[]"
									value="{{item.medical_condition}}"
									ng-checked="conditionSelection.indexOf(item) > -1"
									ng-click="toggleMedicalCondition(item)"
								  > {{item.medical_condition}}
								</label>
							</td>
							<td width="80">
								<input type="text" class="form-control" name="medical_condition_age[]" ng-model="item.age" >
							</td>
							<td>
								<input type="text" class="form-control" name="medical_condition_comments[]" ng-model="item.comments" >
							</td>
						</tr>
					</tbody>
				</table>

				<!-- other medical conditions -->
				<div class="form-group question-block">
					<p>Has your child had any other serious illnesses or allergies?
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" value="false"> No
						</label>
					</p>


					<!-- medical conditions description -->
					<div ng-if="student.other_medical_conditions=='true'">
						<label for="other_medical_conditions_description">What illness?</label>
						<input type="text" name="other_medical_conditions_description" ng-model="student.other_medical_conditions_description" class="form-control"  >
					</div>
				</div>

				<!-- hospitalized -->
				<div class="form-group question-block">
					<p>Has your child been hospitalized or undergone any operation?
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" value="false"> No
						</label>
					</p>

					<!-- hospitalized description -->
					<div ng-if="student.hospitalized=='true'">
						<label for="hospitalized_description">Please describe</label>
						<input type="text" name="hospitalized_description" ng-model="student.hospitalized_description" class="form-control"  >
					</div>
				</div>

				<!-- current illness -->
				<div class="form-group question-block">
					<p>Is the child being treated for a medical illness or in any medication currently?
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" value="false"> No
						</label>
					</p>

					<!-- current illness description -->
					<div ng-if="student.current_medical_treatment=='true'">
						<label for="current_medical_treatment_description">For what condition is the child being treated?</label>
						<input type="text" name="current_medical_treatment_description" ng-model="student.current_medical_treatment_description" class="form-control"  >
					</div>
				</div>

				<h2>Additional Comments</h2>
				<textarea name="comments" ng-model="student.comments" rows="8" class="form-control"></textarea>


			</script>

			<script type="text/ng-template" id="Fee Items">
				<h2>Fee Items</h2>
				<div ng-show="formError" class="error alert alert-danger">
					{{errMsg}}
				</div>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<i class="pull-left glyphicon glyphicon-info-sign"></i> Check off the fee items that apply to this student. Make any necessary adjustments to the amounts.
				</div>

				<div class="row">
					<div class="col-sm-12">
					<button ng-show="permissions.fees.fee_structure.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addFeeItem()"><i class="glyphicon glyphicon-plus-sign"></i> Add Fee Item</button>

						<!-- preferred payment method -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.payment_method.$dirty ) && studentForm.payment_method.$invalid && studentForm.payment_method.$error.required }">
							<label for="payment_method" class="col-sm-3 control-label">Preferred Payment Method</label>
							<div class="col-sm-3">
								<select name="payment_method" ng-model="student.payment_method" class="form-control" required>
									<option value="">--select payment option--</option>
									<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
								</select>
								<p ng-show="(studentForm.$submitted || studentForm.payment_method.$dirty ) && studentForm.payment_method.$invalid && studentForm.payment_method.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Preferred Payment Method is required.</p>
							</div>
						</div>
						<!-- installment plan -->
						<div class="form-group" ng-show="student.payment_method=='Installments'"  ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.installment_option.$dirty ) && studentForm.installment_option.$invalid && studentForm.installment_option.$error.required }">
							<label for="installment_option" class="col-sm-3 control-label">Installment Option</label>
							<div class="col-sm-3">
								<select name="installment_option" ng-model="student.installment_option" class="form-control" ng-required="student.payment_method=='Installments'">
									<option value="">--select installment option--</option>
									<option value="{{item.installment_id}}" ng-repeat="item in installmentOptions">{{item.payment_plan_name}}</option>
								</select>
								<p ng-show="(studentForm.$submitted || studentForm.installment_option.$dirty ) && studentForm.installment_option.$invalid && studentForm.installment_option.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Preferred Payment Method is required.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>School Fees</h3>
						<table class="display dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in feeItems track by $index">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="feeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'required')"
										  > {{item.fee_item}}
										</label>
									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>{{item.frequency}}</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6">
						<h3>Optional Lessons per Term</h3>
						<table class="display dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in optFeeItems track by $index">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="feeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'optional')"
										  > {{item.fee_item}}
										</label>

										<div ng-if="item.fee_item == 'Transport'">
											<select ng-show="showTransport" name="transport_route" class="form-control" ng-options="route.route for route in transportRoutes" ng-model="student.transport_route">
												<option value="">-- select a route --<option>
											</select>
										</div>

									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>{{item.frequency}}</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</script>


		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>

			<button type="button" class="btn btn-default" ng-click="getStep('prev',studentForm)" ng-show="!firstStep">Back</button>
			<button type="button" class="btn btn-info" ng-click="getStep('next',studentForm)" ng-show="!lastStep">Next</button>

			<button type="submit" class="btn btn-success" ng-show="lastStep">
				<span ng-hide="saving">Save</span>
				<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
			</button>

		</div>
</form>
<script type="text/javascript" src="components/selectBox/vanillaSelectBox.js"></script>
<script type="text/javascript">
setTimeout(function(){
	let select2 = document.getElementById("clubs");
	let selectBox2 = null;
    function setEnable(id, isEnabled) {
        if (id == "clubs" && selectBox2 != null) {
            if (isEnabled) { selectBox2.enable(); } else { selectBox2.disable(); }
        }
    }
    function empty(id) {
        if (id == "clubs" && selectBox2 != null) { selectBox2.empty(); }
    }
    function doDestroy(id) {
        if (id == "clubs" && selectBox2 != null) { selectBox2.destroy(); }
    }
    function init(id) {
        if (id == "clubs") {
            selectBox2 = new vanillaSelectBox("#clubs", { "maxHeight": 200, "search": true });
        }
    }
    function setValues(id, value) {
        if (id == "clubs" && selectBox2 != null) { selectBox2.setValue(value); }
    }
    function getValues(id) {
        let result = [];
        let collection = document.querySelectorAll("#" + id + " option");
        collection.forEach(function (x) {
            if (x.selected) { result.push(x.value); }
        });
        return result;
    }
	init("clubs");
	document.getElementsByClassName('vsb-menu')[0].style.left = '18%';
}, 3000);
</script>