<style type="text/css">
table.tripTbl, .tripTbl th, .tripTbl td {border: 1px solid #303030;}
.tripTbl th, .tripTbl td{padding-left:5px;}
table.tripDeets, .tripDeets th, .tripDeets td {border: 1px solid #303030;}
.tripDeets th, .tripDeets td{padding-left:5px;}
input#tripCheck{transform: scale(1.3);}
</style>

<form name="studentForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save(studentForm)">
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Student: {{student.student_name}}</h4>
		</div>
		<div class="modal-body">

			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>

			<div class="row">
				<div class="col-sm-12 clearfix">
					<div class="modal-tabs main-tabs">
						<ul class="nav nav-tabs">
							<li ng-class="{active: currentTab==item}" ng-repeat="item in tabs"><a class="clickable" ng-click="getTabContent(item,studentForm)">{{item}}</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tab-content clearfix" ng-include="currentTab" ng-show="!studentLoading"></div>
			<div class="loading-indicator" ng-show="studentLoading"><i class="fa fa-spinner fa-spin text-lg"></i></div>

			<script type="text/ng-template" id="Details">

				<h2>Student Details</h2>
				<div class="row">
					<div class="col-sm-9 stacked-form">

						<div class="row">

							<!-- admission date -->
							<div class="col-sm-3"ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.admission_date.$dirty ) && studentForm.admission_date.$invalid && studentForm.admission_date.$error.required }">
								<label>Admission Date</label>
								<p class="form-control-static" ng-show="!edit">{{student.admission_date.startDate}}</p>
								<div ng-show="edit">
									<div class="input-group">
										<input type="text" name="admission_date" date-range-picker id="admission_date" class="form-control date-picker input-sm perm" ng-model="student.admission_date" options="{singleDatePicker: true,autoApply: true}"  required>
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
									</div>
									<p ng-show="(studentForm.$submitted || studentForm.admission_date.$dirty ) && studentForm.admission_date.$invalid && studentForm.admission_date.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Admission Date is required.</p>
								</div>
							</div>

							<!-- admission number -->
							<div class="col-sm-3" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.admission_number.$dirty ) && studentForm.admission_number.$invalid && studentForm.admission_number.$error.required }">
								<label>Admission Number</label>
								<p class="form-control-static" ng-show="!edit">{{student.admission_number}}</p>
								<div ng-show="edit">
									<input type="text" name="admission_number" ng-model="student.admission_number" class="form-control perm" required />
									<p ng-show="(studentForm.$submitted || studentForm.admission_number.$dirty ) && studentForm.admission_number.$invalid && studentForm.admission_number.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Admission Number is required.</p>
								</div>
							</div>

							<!-- student category -->
							<div class="col-sm-3" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.student_category.$dirty ) && studentForm.student_category.$invalid && studentForm.student_category.$error.required }">
								<label for="student_category">Student Category</label>
								<p class="form-control-static" ng-show="!edit">{{student.student_category}}</p>
								<div ng-show="edit">
									<select name="student_category" ng-model="student.student_category" class="form-control" required>
										<option value="{{item}}" ng-repeat="item in studentCats">{{item}}</option>
									</select>
									<p ng-show="(studentForm.$submitted || studentForm.student_category.$dirty ) && studentForm.student_category.$invalid && studentForm.student_category.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Student Category is required.</p>
								</div>
							</div>

							<!-- transfer date -->
							<div class="col-sm-3"ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.transfer_date.$dirty ) && studentForm.transfern_date.$invalid }">
								<label>Transfer Date</label>
								<p class="form-control-static" ng-show="!edit">{{student.transfer_date}}</p>
								<div ng-show="edit">
									<div class="input-group">
										<input id="transfer_date" type="text" name="transfer_date" date-range-picker id="transfer_date" class="form-control date-picker input-sm perm" ng-model="student.transfer_date" options="{singleDatePicker: true,autoApply: true}" >
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
									</div>
									<p ng-show="(studentForm.$submitted || studentForm.transfer_date.$dirty ) && studentForm.transfer_date.$invalid" class="help-block"><i class="fa fa-exclamation-triangle"></i> Transfer Date Error.</p>
								</div>
							</div>

						</div>

						<div class="row">

							<!-- first name -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required }">
								<label for="first_name">First Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.first_name}}</p>
								<div ng-show="edit">
									<input type="text" name="first_name" ng-model="student.first_name" class="form-control perm" required />
									<p ng-show="(studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> First Name is required.</p>
								</div>
							</div>

							<!-- middle name -->
							<div class="col-sm-4">
								<label for="middle_name">Middle Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.middle_name}}</p>
								<div ng-show="edit">
									<input type="text" name="middle_name" ng-model="student.middle_name" class="form-control perm"  >
								</div>
							</div>

							<!-- last name -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required }">
								<label for="last_name">Last Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.last_name}}</p>
								<div ng-show="edit">
									<input type="text" name="last_name" ng-model="student.last_name" class="form-control perm" required />
									<p ng-show="(studentForm.$submitted || studentForm.first_name.$dirty ) && studentForm.first_name.$invalid && studentForm.first_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> First Name is required.</p>
								</div>
							</div>

						</div>

						<div class="row">

							<!-- gender -->
							<div class="col-sm-3" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.gender.$dirty ) && studentForm.gender.$invalid && studentForm.gender.$error.required }">
								<label for="gender">Gender</label>
								<p class="form-control-static" ng-show="!edit">{{student.gender}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="gender" ng-model="student.gender" value="M" required> M
									</label>
									<label class="radio-inline">
									  <input type="radio" name="gender" ng-model="student.gender" value="F" required> F
									</label>
									<p ng-show="(studentForm.$submitted || studentForm.gender.$dirty ) && studentForm.gender.$invalid && studentForm.gender.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Gender is required.</p>
								</div>
							</div>

							<!-- dob -->
							<div class="col-sm-3"  ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.dob.$dirty ) && studentForm.dob.$invalid }">
								<label for="dob">Date of Birth</label>
								<p class="form-control-static" ng-show="!edit">{{student.dob}}</p>
								<div ng-show="edit">
									<div class="input-group">
										<input type="text" name="dob" id="dob" date-range-picker class="form-control date-picker input-sm perm" ng-model="student.dob" options="{singleDatePicker: true,autoApply: true}" >
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
									</div>
									<p ng-show="(studentForm.$submitted || studentForm.dob.$dirty ) && studentForm.dob.$invalid" class="help-block"><i class="fa fa-exclamation-triangle"></i> Date of Birth is required.</p>
								</div>
							</div>
							<div class="col-sm-3">
								<label for="dob">Age</label>
								<p style="margin-top:4px;">{{student.age}} Years Old</p>
							</div>

							<!-- nationality -->
							<div class="col-sm-3" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.nationality.$dirty ) && studentForm.nationality.$invalid && studentForm.nationality.$error.required }">
								<label for="nationality">Nationality</label>
								<p class="form-control-static" ng-show="!edit">{{student.nationality}}</p>
								<div ng-show="edit">
									<select name="nationality" ng-model="student.nationality" class="form-control" required>
										<option value="">--select Country--</option>
										<option value="{{item.countries_name}}" ng-repeat="item in countries">{{item.countries_name}}</option>
									</select>
									<p ng-show="(studentForm.$submitted || studentForm.nationality.$dirty ) && studentForm.nationality.$invalid && studentForm.nationality.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Nationality is required.</p>
								</div>
							</div>

						</div>

						<div class="row">

							<!-- current class -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.current_class.$dirty ) && studentForm.current_class.$invalid && studentForm.current_class.$error.required }">
								<label for="current_class">Current Class</label>
								<p class="form-control-static" ng-show="!edit">{{student.class_name}}</p>
								<div ng-show="edit">
									<select name="current_class" class="form-control" ng-options="class.class_name for class in allClasses track by class.class_id" ng-model="student.current_class" required>
										<option value="">--select class--</option>
									</select>
									<p ng-show="(studentForm.$submitted || studentForm.current_class.$dirty ) && studentForm.current_class.$invalid && studentForm.current_class.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Current Class is required.</p>
								</div>
							</div>

							<!-- pic -->
							<div class="col-sm-4">
								<label for="student-image">Student Image</label>
								<p class="form-control-static" ng-show="!edit">{{student.student_image}}</p>
								<div ng-show="edit">
									<input type="file" nv-file-select="" uploader="uploader" class="perm" />
								</div>
							</div>

							<!-- status -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.status.$dirty ) && studentForm.status.$invalid && studentForm.status.$error.required }">
								<label for="status">Status</label>
								<p class="form-control-static" ng-show="!edit">{{student.status}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="status" ng-model="student.active" ng-value="true" class="perm" required> Active
									</label>
									<label class="radio-inline">
									  <input type="radio" name="status" ng-model="student.active" ng-value="false" class="perm" required> In-active
									</label>
									<p ng-show="(studentForm.$submitted || studentForm.status.$dirty ) && studentForm.status.$invalid && studentForm.status.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Status is required.</p>
								</div>
							</div>

						</div>

						<div class="row">
							<!-- new_student -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.new_student.$dirty ) && studentForm.new_student.$invalid && studentForm.new_student.$error.required }">
								<label for="new_student">New Student?</label>
								<p class="form-control-static" ng-show="!edit">{{student.new_student}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="new_student" ng-model="student.new_student" class="perm" ng-value="true" required> Yes
									</label>
									<label class="radio-inline">
									  <input type="radio" name="new_student" ng-model="student.new_student" class="perm" ng-value="false" required> No
									</label>
									<p ng-show="(studentForm.$submitted || studentForm.new_student.$dirty ) && studentForm.new_student.$invalid && studentForm.new_student.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> New Student selection is required.</p>
								</div>
							</div>

              <!-- student type -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.student_type.$dirty ) && studentForm.student_type.$invalid && studentForm.student_type.$error.required }">
								<label for="new_student">Student Type</label>
								<p class="form-control-static" ng-show="!edit">{{student.student_type}}</p>
								<div ng-show="edit">
									<select name="student_type" ng-model="student.student_type" class="form-control" required>
                                        <option value="{{item}}" ng-repeat="item in studentTypes">{{item}}</option>
                                    </select>
									<p ng-show="(studentForm.$submitted || studentForm.student_type.$dirty ) && studentForm.student_type.$invalid && studentForm.student_type.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Student Type is required.</p>
								</div>
							</div>

							<!-- nemis -->
							<div class="col-sm-4">
								<label for="nemis">NEMIS</label>
								<p class="form-control-static" ng-show="!edit">{{student.nemis}}</p>
								<div ng-show="edit">
									<input type="text" name="nemis" ng-model="student.nemis" class="form-control perm"  >
								</div>
							</div>

						</div>

						<div class="row">

							<!-- houses -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.house.$dirty ) && studentForm.house.$invalid }">
								<label for="house">School House</label>
								<p class="form-control-static" ng-show="!edit">{{student.house}}</p>
								<div ng-show="edit">
									<select name="house" ng-model="student.house" class="form-control">
									    <option value="">No House</option>
										<option value="{{item}}" ng-repeat="item in houses">{{item}}</option>
									</select>

								</div>
							</div>

							<!-- clubs -->
							<div class="col-sm-4" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.club.$dirty ) && studentForm.club.$invalid }">
								<label for="club">Club</label>
								<p class="form-control-static" ng-show="!edit">{{student.club}}</p>
								<div ng-show="edit">
								    <!--
									<select name="club[]" ng-model="student.club"  class="form-control multiSelect" multiple="multiple" style="height:{{clubSelectHght}}px" >
										<option value="{{item}}" ng-repeat="item in clubs">{{item}}</option>
									</select>
									-->
									<select name="club[]" id="multiClub" multiple style="width:95%;height:{{clubSelectHght}}px;" ng-model="student.club" ng-click="selectClubs()">
									    <option value="">No Club</option>
                                        <option value="{{item}}" ng-repeat="item in clubs">{{item}}</option>
                                    </select>
                                    <p><b>Current Selection: </b>{{student.club}}</p>

								</div>
							</div>

							<!-- movement -->

							<div class="col-sm-4" ng-hide="isDynamicMovement">
								<label for="movement">Movement</label>
								<p class="form-control-static" ng-show="!edit">{{student.movement}}</p>
								<div ng-show="edit">
									<input type="text" name="movement" ng-model="student.movement" class="form-control perm"  >
								</div>
							</div>

							<div class="col-sm-4" ng-show="isDynamicMovement">
								<label for="movement">Movement</label>
								<p class="form-control-static" ng-show="!edit">{{student.movement}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="movement" ng-model="student.movement" class="perm" ng-value="true"> Active
									</label>
									<label class="radio-inline">
									  <input type="radio" name="movement" ng-model="student.movement" class="perm" ng-value="false"> In-active
									</label>
								</div>
							</div>

						</div>


					</div>

					<div class="col-sm-3">
						<div class="pic-container">
							<img ng-show="student.student_image !== null" src="assets/students/{{student.student_image}}" height="220" style="image-orientation: from-image;" />
							<span ng-show="student.student_image === null" class="glyphicon glyphicon-user"></span>
						</div>
						<div id="rmvImg" style="text-align:center;margin-top:5px;" ng-hide="existsImg"><button type="button" class="btn btn-xs btn-danger" ng-click="rmvImg()">Remove Image</button></div>
						<div style="text-align:center;margin-top:25px;">
							<button type="button" data-toggle="modal" data-target="#studentCreds" class="btn btn-xs btn-info" ng-click="creds()" style="color:#000000;font-weight:600;">Portal Credentials</button>
						</div>
					</div>
				</div>

			</script>

			<script type="text/ng-template" id="Family">

				<div class="section-container">
					<h2 class="pull-left">Parents/Guardians</h2>
					<button type="button" class="pull-right btn btn-link" ng-click="addGuardian()" ng-show="permissions.students.edit"><i class="glyphicon glyphicon-plus-sign"></i> Add Parent/Guardian</button>
					<table class="display clickable dataTable">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Relationship</th>
								<th>Telephone</th>
								<th>Email</th>
								<!--th>Tools</th-->
							</tr>
						</thead>
						<tbody>
							<tr ng-if="student.guardians.length==0">
								<td colspan="5">This student does not have any parents/guardians entered.</td>
							</tr>
							<tr ng-if="student.guardians.length>0" ng-repeat="item in student.guardians track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
								<td><span ng-click="deleteGuardian(student.student_id,item,$index)" class="glyphicon glyphicon-trash text-danger"  ng-show="permissions.students.edit"></span></td>
								<td ng-click="editGuardian(item)">{{item.parent_full_name}}</td>
								<td ng-click="editGuardian(item)">{{item.relationship}}</td>
								<td ng-click="editGuardian(item)">{{item.telephone}}</td>
								<td ng-click="editGuardian(item)">{{item.email}}</td>
								<!--td><a ng-click="sendMessage(item)"><i class="glyphicon glyphicon-email"></i> Send Email</a></td-->
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<h3>Emergency Contact</h3>

						<!-- emergency contact name -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_name.$dirty ) && studentForm.emergency_name.$invalid && studentForm.emergency_name.$error.required }">
							<label for="emergency_name" class="col-sm-4 control-label">Contact Name</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_name}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_name" ng-model="student.emergency_name" class="form-control perm" required />
								<p ng-show="(studentForm.$submitted || studentForm.emergency_name.$dirty ) && studentForm.emergency_name.$invalid && studentForm.emergency_name.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Name is required.</p>
							</div>
						</div>

						<!-- emergency relationship -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_relationship.$dirty ) && studentForm.emergency_relationship.$invalid && studentForm.emergency_relationship.$error.required }">
							<label for="emergency_relationship" class="col-sm-4 control-label">Contact Relationship</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_relationship}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_relationship" ng-model="student.emergency_relationship" class="form-control perm" required />
								<p ng-show="(studentForm.$submitted || studentForm.emergency_relationship.$dirty ) && studentForm.emergency_relationship.$invalid && studentForm.emergency_relationship.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Relationship is required.</p>
							</div>
						</div>

						<!-- emergency telephone -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_telephone.$dirty ) && studentForm.emergency_telephone.$invalid && studentForm.emergency_telephone.$error.required }">
							<label for="emergency_telephone" class="col-sm-4 control-label">Contact Telephone</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_telephone}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_telephone" ng-model="student.emergency_telephone" class="form-control perm" required numeric-only pattern="[0-9]{9,}" />
								<p ng-show="(studentForm.$submitted || studentForm.emergency_telephone.$dirty ) && studentForm.emergency_telephone.$invalid && studentForm.emergency_telephone.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> A Valid Emergency Contact Telephone is required.</p>
							</div>
						</div>

						<!-- emergency telephone 2 -->
						<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.emergency_telephone_2.$dirty ) && studentForm.emergency_telephone_2.$invalid }">
							<label for="emergency_telephone_2" class="col-sm-4 control-label">Contact Telephone 2</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_telephone_2}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_telephone_2" ng-model="student.emergency_telephone_2" class="form-control perm" numeric-only pattern="(?=.*[0-9]).{6,}" placeholder="optional" />
							</div>
						</div>

						<h3>Drop Off/Pick Up Individual</h3>

						<!-- pick_up_drop_off_individual name -->
						<div class="form-group">
							<label for="pick_up_drop_off_individual" class="col-sm-4 control-label">Name</label>
							<p class="form-control-static" ng-show="!edit">{{student.pick_up_drop_off_individual}}</p>
							<div ng-show="edit"  class="col-sm-8">
								<input type="text" name="pick_up_drop_off_individual" ng-model="student.pick_up_drop_off_individual" class="form-control perm"  >
							</div>
						</div>

						<!-- pick_up_drop_off_individual telephone -->
						<div class="form-group">
							<label for="pick_up_drop_off_individual_phone" class="col-sm-4 control-label">Phone</label>
							<p class="form-control-static" ng-show="!edit">{{student.pick_up_drop_off_individual_phone}}</p>
							<div ng-show="edit"  class="col-sm-8">
								<input name="pick_up_drop_off_individual_phone" ng-model="student.pick_up_drop_off_individual_phone" class="form-control perm" pattern="(?=.*[0-9]).{6,}"  >
							</div>
						</div>

					</div>

					<div class="col-sm-6">
						<h3>Family History</h3>
						<!-- Marital Status of Parents -->
						<div class="form-group">
							<label for="parents_marital_status" class="col-sm-5 control-label">Marital Status of Parents</label>
							<p class="form-control-static" ng-show="!edit">{{student.marial_status_parents}}</p>
							<div ng-show="edit" class="col-sm-7">
								<select name="parents_marital_status" ng-model="student.marial_status_parents" class="form-control">
									<option value="">--select one--</option>
									<option value="{{item}}" ng-repeat="item in maritalStatuses">{{item}}</option>
								</select>
							</div>
						</div>

						<!-- age separated -->
						<div class="form-group" ng-if="student.marial_status_parents=='Divorced' || student.marial_status_parents=='Separated'">
							<label for="marital_separation_age" class="col-sm-5 control-label">Age When Separated</label>
							<p class="form-control-static" ng-show="!edit">{{student.marital_separation_age}}</p>
							<div ng-show="edit" class="col-sm-7">
								<input type="text" name="marital_separation_age" ng-model="student.marital_separation_age" class="form-control perm"  >
							</div>
						</div>

						<!-- adopted -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.adopted.$invalid && (studentForm.adopted.$touched || studentForm.$submitted) }">
							<label for="adopted"  class="col-sm-5 control-label">Adopted?</label>
							<p class="form-control-static" ng-show="!edit">{{student.adoptedStr}}</p>
							<div ng-show="edit" class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" class="perm" ng-value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" class="perm" ng-value="false"> No
								</label>
								<p ng-show="studentForm.adopted.$invalid && (studentForm.adopted.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Adoption selection is required.</p>
							</div>
						</div>

						<!-- age adopted -->
						<div class="form-group" ng-if="student.adopted=='true'">
							<label for="adopted_age" class="col-sm-5 control-label">Age When Adopted</label>
							<p class="form-control-static" ng-show="!edit">{{student.adopted_age}}</p>
							<div ng-show="edit" class="col-sm-7">
								<input type="text" name="adopted_age" ng-model="student.adopted_age" class="form-control perm"  >
							</div>
						</div>

						<!-- aware of adoption -->
						<div class="form-group" ng-if="student.adopted=='true'">
							<label for="adoption_aware" class="col-sm-5 control-label">Does the child know?</label>
							<p class="form-control-static" ng-show="!edit">{{student.adoptionAwareStr}}</p>
							<div ng-show="edit" class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" class="perm" ng-value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" class="perm" ng-value="false"> No
								</label>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<h3>Pick Up / Drop Off Individual Image</h3>

						<!-- pic -->

						<div class="form-group">
						    <div class="col-sm-6">
        						<div class="pic-container">
        							<img ng-show="student.pick_up_drop_off_individual_img !== null" src="assets/students/{{student.pick_up_drop_off_individual_img}}" height="220" />
        							<span ng-show="student.pick_up_drop_off_individual_img === null" class="glyphicon glyphicon-user"></span>
        						</div>
        						<div id="rmvImg2" style="text-align:center;margin-top:5px;" ng-hide="existsImg"><button type="button" class="btn btn-xs btn-danger" ng-click="rmvImg2()">Remove Image</button></div>
        					</div>
    					    <div class="col-sm-6">
    							<label for="pick_-up-drop-off-individual-img">Image</label>
    							<p class="form-control-static" ng-show="!edit">{{student.pick_up_drop_off_individual_img}}</p>
    							<div ng-show="edit">
    								<input type="file" nv-file-select="" uploader="uploader2" class="perm" />
    							</div>
    						</div>
						</div>
					</div>

				</div>

			</script>

			<script type="text/ng-template" id="Medical History">
				<div class="section-container">
					<h2 class="pull-left">Medical Illness/Conditions</h2>
					<button type="button" class="pull-right btn btn-link" ng-click="addMedicalHistory()" ng-show="permissions.students.edit"><i class="glyphicon glyphicon-plus-sign"></i> Add Illness/Condition</button>
					<table class="display dataTable">
						<thead>
							<tr>
								<th></th>
								<th>Illness/Condition</th>
								<th>Age</th>
								<th>Comments</th>
								<th>Added</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="student.medical_history.length==0">
								<td colspan="5">This student does not have any reported medical illness/conditions.</td>
							</tr>
							<tr ng-if="student.medical_history.length>0" ng-repeat="item in student.medical_history track by $index" ng-class-odd="'odd'" ng-class-even="'even'" >
								<td><span ng-click="deleteMedical(item,$index)" class="glyphicon glyphicon-trash text-danger" ng-show="permissions.students.edit"></span></td>
								<td ng-click="editMedical(item)">{{item.illness_condition}}</td>
								<td ng-click="editMedical(item)">{{item.age}}</td>
								<td ng-click="editMedical(item)">{{item.comments}}</td>
								<td ng-click="editMedical(item)">{{item.date_medical_added}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- other medical conditions -->
				<div class="form-group question-block">
					<p>Has your child had any other serious illnesses or allergies?</p>
					<p class="form-control-static" ng-show="!edit">{{student.other_medical_conditions_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" ng-value="true" class="perm"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" ng-value="false" class="perm"> No
						</label>
					</div>

					<!-- medical conditions description -->
					<div ng-if="student.other_medical_conditions">
						<label for="other_medical_conditions_description">What illness?</label>
						<p class="form-control-static" ng-show="!edit">{{student.other_medical_conditions_description}}</p>
						<div ng-show="edit">
							<input type="text" name="other_medical_conditions_description" ng-model="student.other_medical_conditions_description" class="form-control perm"  >
						</div>
					</div>
				</div>

				<!-- hospitalized -->
				<div class="form-group question-block">
					<p>Has your child been hospitalized or undergone any operation?</p>
					<p class="form-control-static" ng-show="!edit">{{student.hospitalized_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" ng-value="true" class="perm"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" ng-value="false"> No
						</label>
					</div>

					<!-- hospitalized description -->
					<div ng-if="student.hospitalized">
						<label for="hospitalized_description">Please describe</label>
						<p class="form-control-static" ng-show="!edit">{{student.hospitalized_description}}</p>
						<div ng-show="edit">
							<input type="text" name="hospitalized_description" ng-model="student.hospitalized_description" class="form-control perm"  >
						</div>
					</div>
				</div>

				<!-- current illness -->
				<div class="form-group question-block">
					<p>Is the child being treated for a medical illness or in any medication currently?</p>
					<p class="form-control-static" ng-show="!edit">{{student.current_medical_treatment_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" ng-value="true" class="perm"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" ng-value="false" class="perm"> No
						</label>
					</div>

					<!-- current illness description -->
					<div ng-if="student.current_medical_treatment">
						<label for="current_medical_treatment_description">For what condition is the child being treated?</label>
						<p class="form-control-static" ng-show="!edit">{{student.current_medical_treatment}}</p>
						<div ng-show="edit">
							<input type="text" name="current_medical_treatment_description" ng-model="student.current_medical_treatment_description" class="form-control perm"  >
						</div>
					</div>
				</div>

				<h2>Additional Comments</h2>
				<p class="form-control-static" ng-show="!edit">{{student.comments}}</p>
				<div ng-show="edit">
					<textarea name="comments" ng-model="student.comments" rows="5" class="form-control"></textarea>
				</div>

			</script>

			<script type="text/ng-template" id="Fees">
				<h2>Fees</h2>

				<div class="row" ng-hide="addingFeeItem">
					<div class="col-sm-5">
						<div class="row">

							<!-- preferred payment method -->
							<div class="form-group" ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.payment_method.$dirty ) && studentForm.payment_method.$invalid && studentForm.payment_method.$error.required }">
								<label for="payment_method" class="col-sm-7 control-label">Preferred Payment Method</label>
								<div class="col-sm-5">
									<p class="form-control-static" ng-show="!edit">{{student.payment_method}}</p>
									<div ng-show="edit">
										<select name="payment_method" ng-model="student.payment_method" class="form-control" required>
											<option value="">--select payment option--</option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
										<p ng-show="(studentForm.$submitted || studentForm.payment_method.$dirty ) && studentForm.payment_method.$invalid && studentForm.payment_method.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Preferred Payment Method is required.</p>
									</div>
								</div>
							</div>

							<!-- installment plan -->
							<div class="form-group" ng-show="student.payment_method=='Installments'" ng-show="student.payment_method=='Installments'"  ng-class="{ 'has-error' : (studentForm.$submitted || studentForm.installment_option.$dirty ) && studentForm.installment_option.$invalid && studentForm.installment_option.$error.required }">
								<label for="installment_option" class="col-sm-7 control-label">Installment Option</label>
								<div class="col-sm-5">
									<p class="form-control-static" ng-show="!edit">{{student.payment_plan_name}}</p>
									<div ng-show="edit">
										<select name="installment_option" class="form-control" ng-options="item.installment_id as item.payment_plan_name for item in installmentOptions"  ng-model="student.installment_option_id" ng-required="student.payment_method=='Installments'">
											<option value="">--select installment option--</option>
										</select>
										<p ng-show="(studentForm.$submitted || studentForm.installment_option.$dirty ) && studentForm.installment_option.$invalid && studentForm.installment_option.$error.required" class="help-block"><i class="fa fa-exclamation-triangle"></i> Preferred Payment Method is required.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="!nofeeSummary">

							<!-- next payment due -->
							<div class="form-group">
								<label for="payment_method" class="col-sm-7 control-label">Next Invoice</label>
								<div class="col-sm-5">
									<p class="form-control-static" ng-show="feeSummary.next_due_date===null"><i>Next invoice not generated.</i></p>
									<p class="form-control-static" ng-show="feeSummary.next_due_date!==null" ng-class="{'text-warning': feeSummary.within30days}"><b> {{feeSummary.next_amount|numeric}} {{currency}} due {{feeSummary.next_due_date|date}}</b></p>
								</div>
							</div>

							<!-- amount overdue -->
							<div class="form-group text-danger" ng-show="feeSummary.arrears<0">
								<label for="payment_method" class="col-sm-7 control-label">Amount Overdue</label>
								<div class="col-sm-5">
									<p class="form-control-static">{{feeSummary.arrears|numeric}} {{currency}}</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-sm-7">
						<div class="info-boxes pull-right" ng-show="!nofeeSummary">
							<div class="info-box alert alert-info">
								Amount Due
								<p>{{feeSummary.total_due|currency:""}}<span>{{currency}}</span></p>
							</div>
							<div class="info-box alert" ng-class="{'alert-success':balanceDue>=0, 'alert-warning': balanceDue<0 && totalPaid>0, 'alert-danger': balanceDue<0 && totalPaid==0}">
								Amount Paid
								<p>{{totalPaid|currency:""}}<span>{{currency}}</span></p>
							</div>
							<div class="info-box alert" ng-class="{'alert-success':balanceDue>=0, 'alert-warning' : balanceDue<0 && !feeSummary.past_due, 'alert-danger': balanceDue<0 && feeSummary.past_due}">
								Balance Due
								<p>{{ ( balanceDue > 0 ? 0 : balanceDue|numeric) }}<span>{{currency}}</span></p>
							</div>
							<div class="info-box alert" ng-class="{'alert-success': feeSummary.total_credit > 0, 'alert-default': feeSummary.total_credit==0}">
								Credit
								<p>{{ feeSummary.total_credit|currency:""}}<span>{{currency}}</span></p>
							</div>
						</div>

					</div>
				</div>

				<div class="modal-tabs sub-tabs">
					<ul class="nav nav-tabs">
						<li ng-class="{active: currentFeeTab==item}" ng-repeat="item in feeTabs"><a class="clickable" ng-click="getFeeTabContent(item)">{{item}}</a></li>
					</ul>
				</div>

				<div class="subtab-content clearfix" ng-include="currentFeeTab"></div>

			</script>

			<script type="text/ng-template" id="Fee Summary">
				<div class="row">
					<div class="col-xs-12">
						<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Make Payment</button>
						<button ng-show="permissions.fees.invoices.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addInvoice()"><i class="glyphicon glyphicon-plus-sign"></i> Add Invoice</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="grid1" ui-grid="feesGrid" class="myGrid">
							<div ng-if="!feesGrid.data.length" class="no-results">No results found.</div>
						</div>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="Invoices">
				<div class="row">
					<div class="col-xs-12">
						<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Make Payment</button>
						<button ng-show="permissions.fees.invoices.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addInvoice()"><i class="glyphicon glyphicon-plus-sign"></i> Add Invoice</button>
						<button ng-show="permissions.fees.invoices.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="printStatementCurrentTerm()"><i class="glyphicon glyphicon-print"></i> Print Current Term Statement</button>
						<button ng-show="permissions.fees.invoices.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="printStatement()"><i class="glyphicon glyphicon-print"></i> Print Statement</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="grid1" ui-grid="invoiceGrid" class="myGrid">
							<div ng-if="!invoiceGrid.data.length" class="no-results">No results found.</div>
						</div>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="Payments Received">

				<div class="row">
					<div class="col-xs-12">
						<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Make Payment</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="grid1" ui-grid="paidGrid" class="myGrid">
							<div ng-if="!paidGrid.data.length" class="no-results">No results found.</div>
						</div>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="Credits">

				<div class="row">
					<div class="col-xs-12">
						<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Make Payment</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="grid1" ui-grid="creditGrid" class="myGrid">
							<div ng-if="!creditGrid.data.length" class="no-results">No results found.</div>
						</div>
					</div>
				</div>

			</script>

			<script type="text/ng-template" id="Fee Items">
				<div class="row">
					<div class="col-xs-12">
						<button ng-show="permissions.fees.fee_structure.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addFeeItem()"><i class="glyphicon glyphicon-plus-sign"></i> Add Fee Item</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>School Fees</h3>
						<table class="display nosort dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in feeItems track by $index">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="feeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'required')"
										  > {{item.fee_item}}
										</label>
									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>{{item.frequency}}</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6">
						<h3>Optional Lessons per Term</h3>
						<table class="display nosort dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in optFeeItems track by $index" style="background-color: {{item.fee_item == 'Uniform' ? '#dcdcdc' : ''}}">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="optFeeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'optional')"
										  > {{item.fee_item}}
										</label>

										<div ng-if="item.fee_item == 'Transport'">
											<select ng-show="showTransport" name="transport_route" class="form-control" ng-options="route.route for route in transportRoutes" ng-model="student.transport_route">
												<option value="">-- select a route --</option>
											</select>
										</div>

										<div ng-if="item.fee_item == 'Uniform'">
										    <table ng-show="showUniform" style="border:1px #000000 solid;">
										        <thead>
										            <tr>
										                <th></th><th>Uniform Item</th>
										            </tr>
										        </thead>
										        <tbody>
										            <tr ng-repeat="uni in uniforms track by $index">
										                <td><input type="checkbox" name="uniforms[]" value="{{uni.uniform_id}}" ng-click="checkedUniformItem(this)"></td><td>{{uni.uniform}}</td>
										            </tr>
										        </tbody>
										    </table>
										</div>

									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>
									    {{item.frequency}}
									</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="Exams">
				<h2>Exams</h2>
				<button type="button" class="pull-right btn btn-link" ng-click="addExamMarks()"><i class="glyphicon glyphicon-plus-sign"></i> Add/Update Exam Marks</button>

				<!-- search form -->
				<div class="modalDataFilter clearfix">
					<!-- category select -->
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" ng-options="item.class_cat_id as item.class_cat_name for item in classCats" ng-model="filters.class_cat_id" ignore-dirty>
						</select>
					</div>
					<!-- class select -->
					<div class="form-group">
						<label for="class">Class</label>
						<select class="form-control" ng-options="class.class_name for class in classes track by class.class_id" ng-model="filters.class" ignore-dirty>
						</select>
					</div>

					<!-- term select -->
					<div class="form-group">
						<label for="term">Term</label>
						<select class="form-control" ng-options="item.term_id as item.term_year_name for item in terms" ng-model="filters.term_id" ignore-dirty>
						</select>
					</div>

					<!-- exam select -->
					<div class="form-group">
						<label for="term">Exam</label>
						<select id="term" class="form-control" ng-model="filters.exam_type_id" ignore-dirty>
							<option value="">All Exams</option>
							<option value="{{exam.exam_type_id}}" ng-repeat="exam in examTypes">{{exam.exam_type}}</option>
						</select>
					</div>

					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="button" class="btn btn-sm btn-info perm" ng-click="getExams()" value="Load" />
						<span ng-show="loading" class="fa fa-spinner fa-pulse"></span>
					</div>
				</div>
				<!-- // end search form -->

				<p ng-show="marksNotFound" class="error alert alert-danger">
					{{errMsg}}
				</p>

				<div ng-show="notice" class="alert alert-warning">
					<p ng-bind-html="noticeMsg"></p>
					<button type="button" class="btn btn-sm btn-primary" ng-click="updateExams()">Yes, Update</button>
				</div>

				<table ng-show="!marksNotFound" id="resultsTable2" class="display dataTable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Exam</th>
							<th class="center" ng-repeat="examType in examMarks.types">{{examType}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in examMarks.subjects track by $index">
							<td ng-class="{'text-muted indent' : item.parent_subject_name!==null, 'strong': item.parent_subject_name===null}" id="{{item.exam_id}}">{{item.subject_name}}</td>
							<td class="center" ng-repeat="examType in examMarks.types"><b>{{item.marks[examType].mark}}</b><span class="text-muted">/{{item.marks[examType].grade_weight}}</span></td>
						</tr>
					</tbody>
				</table>

			</script>

			<script type="text/ng-template" id="Report Cards">
				<h2>Report Cards</h2>
				<button type="button" class="pull-right btn btn-link" ng-click="addReportCard()"><i class="glyphicon glyphicon-plus-sign"></i> Generate Report Card</button>

				<p ng-show="reportsNotFound" class="error alert alert-danger">
					{{errMsg}}
				</p>

				<table id="resultsTable2" class="display dataTable clickable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Class</th>
							<th class="center" ng-repeat="item in reportCards.terms">{{item}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in reportCards.classes track by $index">
							<td width="75">{{item.class_name}} ({{item.year}})</td>
							<td class="center" ng-repeat="term in reportCards.terms track by $index">
								<span ng-show="item.reports[term]" ng-click="getReportCard(item, term, item.reports[term])" class="glyphicon glyphicon-file icon-lg">
									<sup ng-show="parentPortalAcitve && !item.reports[term].published" class="text-muted" title="Not Published">*</sup>
								</span>
								<span ng-show="!item.reports[term]" >-</span>
							</td>
						</tr>
					</tbody>
				</table>

				<p class="note" ng-show="parentPortalAcitve" style="margin-top:10px;border-top:1px solid #eee;padding-top:10px">
					<sup>*</sup> The asterisk indicates that a report card is NOT published and not accessible to parents via the parent portal.
				</p>

				<h2 ng-show="lowerSchool" ng-show="lowerSchool">Lower School Report Cards</h2>
				<table id="resultsTable3" class="display dataTable clickable" cellspacing="0" width="100%" ng-show="lowerSchool">
					<thead>
						<tr>
							<th>Class</th>
							<th class="center" ng-repeat="item in currentYearTerms">{{item.term_name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="75">{{student.student_name}} ({{student.class_name}})</td>
							<td class="center" ng-repeat="term in currentYearTerms track by $index">
								<a ng-show="{{term.reportExists}}" href="/assets/students/{{term.lowerSchReportCard}}" title="{{term.lowerSchReportCard}}" download><span class="glyphicon glyphicon-file icon-lg"></span></a>
								<div>
								    <label for="upload3_{{term.term_id}}" class="customDocUpload1">
									<input id="upload3_{{term.term_id}}" name="upload3_{{term.term_id}}" type="file" nv-file-select="" uploader="uploader3" style="width:33%;font-size:12px;filter:alpha(opacity: 0);" ng-click="documentReportCard(this)" class="perm" />
									Upload File
									</label>

									<label for="deleteUpload3_{{term.term_id}}" class="deleteDocUpload1" ng-show="{{term.reportExists}}" ng-click="deleteDocumentReportCard(this)" >
									    <!-- <input id="deleteUpload3_{{term.term_id}}" name="deleteUpload3_{{term.term_id}}" type="button" style="width:33%;font-size:12px;filter:alpha(opacity: 0);"/> -->
									Remove
									</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</script>

			<script type="text/ng-template" id="Transport">
			    <h2>Student Transport Details</h2>
				<div class="row">
				    <div class="col-sm-12">
				        <h3>Where does this student live? </h3>

						<div class="form-group" style="margin-left:auto">
							<label for="student_destination" class="col-sm-3 control-label">Neighborhood: </label>
							<p class="form-control-static" ng-show="!edit">{{student.destination}}</p>
							<div ng-show="edit || editTransport" class="col-sm-6">
								<select name="student_destination" ng-model="student.destination" class="form-control" style="height:35px;" id="studentHome">
									<option value="">--select one--</option>
									<option value="{{item}}" ng-repeat="item in routes">{{item}}</option>
								</select>
							</div>
							<div ng-show="edit || editTransport" class="col-sm-3">
								<button id="saveHood" type="button" class="btn btn-success pull-left" ng-click="saveDestination()">Save Neighborhood</button>
							</div>
						</div>
						<hr><br>
						<div ng-show="hasDestination">
    						<h3>Select the school bus trip(s) this student will use. </h3>
    						<p style="font-size:11px;font-weight:bold;"><b>*</b>Note that this might change if you change the neighborhood selected above</p>

    						<div class="form-group" style="margin-left:auto">
    							<div class="col-sm-12">
    								<h4>{{student.destination}} Trips Available</h4>
    								<table class="tripTbl">
    								    <tr>
        								    <th width="5%"></th>
        								    <th width="30%">Trip</th>
        								    <th width="15%">Bus</th>
        								    <th width="50%">Destinations</th>
        								</tr>
        								<tr ng-repeat="trip in trips track by $index" ng-model="selectTrip">
        								    <td width="5%">
        								        <input id="tripCheck_{{trip.trip_id}}" type="checkbox" name="selectTrip[]" value="{{trip.trip_id}}" ng-checked="tripSelection.indexOf(item) > -1" ng-click="selectedTrip(this)" class="perm" >
        								    </td>
        								    <td width="30%">{{trip.trip_name}}</td>
        								    <td width="15%">{{trip.trip_bus}}</td>
        								    <td width="50%">{{trip.trip_destinations}}</td>
        								</tr>
    								</table>
    								<div ng-show="showTripUpdateMsg" class="btnSpacer" style="background-color: #00e673;height: 40px;width: 100%;border-radius: 10px;border: 2px solid #001a0d;">
        							    <h3 style="text-align: center;font-size: 18px;margin-top: inherit;color: #000;">{{$scope.tripUpdateMessage}}</h3>
        							</div>
    							</div>
    							<div class="col-sm-12" style="margin-top:10px;">
    							    <button type="button" class="btn btn-success pull-left" ng-click="saveTrip()">Save Trip Selection</button>
    							</div>
    						</div>

    					</div>
				    </div>
				    <div class="col-sm-12" style="margin-top:20px;">
				        <h3>Transportation Details </h3>

						<div class="form-group" style="margin-left:auto;">
						    <div class="col-sm-12">
    							<table class="tripDeets">
    							    <thead>
    							        <tr>
        							        <th style="width:10%">Neighborhood</th>
        							        <th style="width:10%">Bus</th>
        							        <th style="width:15%">Trip</th>
        							        <th style="width:15%">Bus Driver</th>
        							        <th style="width:30%">Invoice Details</th>
        							        <th style="width:20%">Parent</th>
    							        </tr>
    							    </thead>
    							    <tbody>
    							        <tr ng-repeat="detail in bus track by $index">
    							            <td style="width:10%">{{detail.student_destination}}</td>
    							            <td style="width:10%">{{detail.bus}}</td>
    							            <td style="width:15%">{{detail.trip_name}}</td>
    							            <td style="width:15%">{{detail.driver_name}}<br><b>{{detail.driver_telephone}}</b></td>
    							            <td style="width:30%">{{detail.fee_item}}<br>{{detail.amount}}<br>{{detail.route}}</td>
    							            <td style="width:20%">{{detail.parent_name}}<br><b>{{detail.parent_telephone}}</b></td>
    							        </tr>
    							    </tbody>
    							</table>
    						</div>
						</div>
				    </div>
				</div>
			</script>

			<script type="text/ng-template" id="News">
				<h2>News</h2>
				<p>This is a work in progress...</p>
			</script>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger pull-left" ng-click="adminDelete()">Delete</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

			<button type="submit" class="btn btn-success" ng-show="!studentForm.$pristine" ng-hide="isNotNeeded" id="saveBtn">
				<span ng-hide="saving">Save</span>
				<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
			</button>

		</div>
</form>

	<!-- Credentials Modal -->
  <div class="modal fade" id="studentCreds" role="dialog" style="background-color:rgba(56,56,56,0.95);">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:#ffffff;"><span class="glyphicon glyphicon-lock"></span> Update Student Portal Credentials</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="studentEmail"><span class="glyphicon glyphicon-user"></span> Student Email</label>
              <input type="text" class="form-control" id="studentEmail" value="{{student_email}}" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" placeholder="Enter password">
							<input type="checkbox" ng-click="checkPass()">Show Password
            </div>
            <button class="btn btn-default btn-{{studentCredsStatus}} btn-block" ng-click="credentialsModal()"><span class="glyphicon glyphicon-off"></span> Update Credentials</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p style="font-weight:600;font-size:13px;margin-top:1%;">The student will receive an email regarding these changes.</p>
        </div>
      </div>
    </div>
  </div>
