<form name="studentForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save()">		
		<div class="modal-header dialog-header-form">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Student: {{student.student_name}}</h4>
		</div>
		<div class="modal-body">
	
			<p ng-show="error" class="error alert alert-danger">
				{{errMsg}}
			</p>
				 			
			<div class="row">
				<div class="col-sm-12">
					<div class="modal-tabs main-tabs">					
						<ul class="nav nav-tabs">
							<li ng-class="{active: currentTab==item}" ng-repeat="item in tabs"><a class="clickable" ng-click="getTabContent(item)">{{item}}</a></li>
						</ul>						
					</div>
				</div>
			</div>
			
			<div class="tab-content clearfix" ng-include="currentTab"></div>
			
			<script type="text/ng-template" id="Details">
				
				<h2>Student Details</h2>
				<div class="row">
					<div class="col-sm-9 stacked-form">
						
						<div class="row">
						
							<!-- admission date -->
							<div class="col-sm-4">
								<label>Admission Date</label>
								<p class="form-control-static">{{student.admission_date}}</p>
							</div>
							
							<!-- admission number -->
							<div class="col-sm-4">
								<label>Admission Number</label>
								<p class="form-control-static">{{student.admission_number}}</p>
							</div>
							
							<!-- student category -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.student_category.$invalid && (studentForm.student_category.$touched || studentForm.$submitted) }">
								<label for="student_category">Student Category</label>
								<p class="form-control-static" ng-show="!edit">{{student.admission_number}}</p>
								<div ng-show="edit">
									<select name="student_category" ng-model="student.student_category" class="form-control">
										<option value="{{item}}" ng-repeat="item in studentCats">{{item}}</option>
									</select>
									<p ng-show="studentForm.student_category.$invalid && (studentForm.student_category.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Student Category is required.</p>
								</div>
							</div>
							
						</div>
					
						<div class="row">
						
							<!-- first name -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.first_name.$invalid && (studentForm.first_name.$touched || studentForm.$submitted) }">	
								<label for="first_name">First Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.first_name}}</p>
								<div ng-show="edit">
									<input type="text" name="first_name" ng-model="student.first_name" class="form-control"  >	
									<p ng-show="studentForm.first_name.$invalid && (studentForm.first_name.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> First Name is required.</p>
								</div>
							</div>
							
							<!-- middle name -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.middle_name.$invalid && (studentForm.middle_name.$touched || studentForm.$submitted) }">	
								<label for="middle_name">Middle Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.middle_name}}</p>
								<div ng-show="edit">
									<input type="text" name="middle_name" ng-model="student.middle_name" class="form-control"  >	
									<p ng-show="studentForm.middle_name.$invalid && (studentForm.middle_name.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Middle Name is required.</p>
								</div>
							</div>
							
							<!-- last name -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.last_name.$invalid && (studentForm.last_name.$touched || studentForm.$submitted) }">	
								<label for="last_name">Last Name</label>
								<p class="form-control-static" ng-show="!edit">{{student.last_name}}</p>
								<div ng-show="edit">
									<input type="text" name="last_name" ng-model="student.last_name" class="form-control"  >	
									<p ng-show="studentForm.last_name.$invalid && (studentForm.last_name.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Last Name is required.</p>
								</div>
							</div>
							
						</div>
					
						<div class="row">
						
							<!-- gender -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.gender.$invalid && (studentForm.gender.$touched || studentForm.$submitted) }">					
								<label for="gender">Gender</label>
								<p class="form-control-static" ng-show="!edit">{{student.gender}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="gender" ng-model="student.gender" value="M"> M
									</label>
									<label class="radio-inline">
									  <input type="radio" name="gender" ng-model="student.gender" value="F"> F
									</label>
									<p ng-show="studentForm.gender.$invalid && (studentForm.gender.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Gender is required.</p>
								</div>
							</div>	
						
							<!-- dob -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.dob.$invalid && (studentForm.dob.$touched || studentForm.$submitted) }">		
								<label for="dob">Date of Birth</label>
								<p class="form-control-static" ng-show="!edit">{{student.dob}}</p>
								<div ng-show="edit">
									<input type="text" name="dob" id="dob" class="form-control input-sm" ng-model="student.dob" placeholder="DD/MM/YYYY" />
									<p ng-show="studentForm.dob.$invalid && (studentForm.dob.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Date of Birth is required.</p>
								</div>	
							</div>
							
							<!-- nationality -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.nationality.$invalid && (studentForm.nationality.$touched || studentForm.$submitted) }">
								<label for="nationality">Nationality</label>
								<p class="form-control-static" ng-show="!edit">{{student.nationality}}</p>
								<div ng-show="edit">
									<select name="nationality" ng-model="student.nationality" class="form-control">
									<option value="">--select Country--</option>
									<option value="{{item.countries_name}}" ng-repeat="item in countries">{{item.countries_name}}</option>
								</select>
								<p ng-show="studentForm.nationality.$invalid && (studentForm.nationality.touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Nationality is required.</p>
							</div>	
							</div>
							
						</div>
						
						<div class="row">
						
							<!-- current class -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.current_class.$invalid && (studentForm.current_class.$touched || studentForm.$submitted) }">		
								<label for="current_class">Class Entry</label>
								<p class="form-control-static" ng-show="!edit">{{student.class_name}}</p>
								<div ng-show="edit">
									<select name="current_class" class="form-control" ng-options="class.class_name for class in allClasses track by class.class_id" ng-model="student.current_class">
										<option value="">--select class--</option>
									</select>									
									<p ng-show="studentForm.current_class.$invalid && (studentForm.current_class.touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Current Class is required.</p>
								</div>	
							</div>
							<!-- pic -->
							<div class="col-sm-4">					
								<label for="student-image">Student Image</label>
								<div>
									<input type="file" nv-file-select="" uploader="uploader" />						
								</div>	
							</div>
														
							<!-- status -->
							<div class="col-sm-4" ng-class="{ 'has-error' : studentForm.status.$invalid && (studentForm.status.$touched || studentForm.$submitted) }">		
								<label for="status">Status</label>
								<p class="form-control-static" ng-show="!edit">{{student.status}}</p>
								<div ng-show="edit">
									<label class="radio-inline">
									  <input type="radio" name="status" ng-model="student.active" ng-value="true"> Active
									</label>
									<label class="radio-inline">
									  <input type="radio" name="status" ng-model="student.active" ng-value="false"> In-active
									</label>
									<p ng-show="studentForm.status.$invalid && (studentForm.status.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Status is required.</p>
								</div>	
							</div>	
						
						</div>
					
					
					</div>
					
					<div class="col-sm-3">
						<div class="pic-container">
							<img ng-show="student.student_image !== null" src="/assets/students/{{student.student_image}}" height="220" />
							<span ng-show="student.student_image === null" class="glyphicon glyphicon-user"></span>
						</div>
					</div>
				</div>
				
			</script>
			
			<script type="text/ng-template" id="Family">
				
				<div class="section-container">
					<h2 class="pull-left">Parents/Guardians</h2>
					<button type="button" class="pull-right btn btn-link" ng-click="addGuardian()"><i class="glyphicon glyphicon-plus-sign"></i> Add Parent/Guardian</button>
					<table class="display dataTable">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Relationship</th>
								<th>Telephone</th>
								<th>Email</th>
								<!--th>Tools</th-->
							</tr>
						</thead>
						<tbody>
							<tr ng-if="student.guardians.length==0">
								<td colspan="5">This student does not have any parents/guardians entered.</td>
							</tr>
							<tr ng-if="student.guardians.length>0" ng-repeat="item in student.guardians track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
								<td><span ng-click="deleteGuardian(item,$index)" class="glyphicon glyphicon-trash text-danger"></span></td>
								<td ng-click="editGuardian(item)">{{item.parent_full_name}}</td>
								<td ng-click="editGuardian(item)">{{item.relationship}}</td>
								<td ng-click="editGuardian(item)">{{item.telephone}}</td>
								<td ng-click="editGuardian(item)">{{item.email}}</td>
								<!--td><a ng-click="sendMessage(item)"><i class="glyphicon glyphicon-email"></i> Send Email</a></td-->
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<h3>Emergency Contact</h3>
						<!-- emergency contact name -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.emergency_name.$invalid && (studentForm.emergency_name.$touched || studentForm.$submitted) }">		
							<label for="emergency_name" class="col-sm-4 control-label">Contact Name</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_name}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_name" ng-model="student.emergency_name" class="form-control"  >	
								<p ng-show="studentForm.emergency_name.$invalid && (studentForm.emergency_name.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Name is required.</p>
							</div>	
						</div>
						<!-- emergency relationship -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.emergency_relationship.$invalid && (studentForm.emergency_relationship.$touched || studentForm.$submitted) }">		
							<label for="emergency_relationship" class="col-sm-4 control-label">Contact Relationship</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_relationship}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_relationship" ng-model="student.emergency_relationship" class="form-control"  >	
								<p ng-show="studentForm.emergency_relationship.$invalid && (studentForm.emergency_relationship.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Relationship is required.</p>
							</div>	
						</div>
						<!-- emergency telephone -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.emergency_telephone.$invalid && (studentForm.emergency_telephone.$touched || studentForm.$submitted) }">		
							<label for="emergency_telephone" class="col-sm-4 control-label">Contact Telephone</label>
							<p class="form-control-static" ng-show="!edit">{{student.emergency_telephone}}</p>
							<div ng-show="edit" class="col-sm-8">
								<input type="text" name="emergency_telephone" ng-model="student.emergency_telephone" class="form-control"  >	
								<p ng-show="studentForm.emergency_telephone.$invalid && (studentForm.emergency_telephone.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Emergency Contact Telephone is required.</p>
							</div>	
						</div>
						
						<h3>Drop Off/Pick Up Individual</h3>
						<!-- pick_up_drop_off_individual -->
						<div class="form-group">		
							<label for="pick_up_drop_off_individual" class="col-sm-4 control-label">Name</label>
							<p class="form-control-static" ng-show="!edit">{{student.pick_up_drop_off_individual}}</p>
							<div ng-show="edit"  class="col-sm-8">
								<input type="text" name="pick_up_drop_off_individual" ng-model="student.pick_up_drop_off_individual" class="form-control"  >	
							</div>	
						</div>
						
					</div>
					
					<div class="col-sm-6">
						<h3>Family History</h3>
						<!-- Marital Status of Parents -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.parents_marital_status.$invalid && (studentForm.parents_marital_status.$touched || studentForm.$submitted) }">
							<label for="parents_marital_status" class="col-sm-5 control-label">Marital Status of Parents</label>
							<p class="form-control-static" ng-show="!edit">{{student.marial_status_parents}}</p>
							<div ng-show="edit" class="col-sm-7">
								<select name="parents_marital_status" ng-model="student.marial_status_parents" class="form-control">
									<option value="">--select one--</option>
									<option value="{{item}}" ng-repeat="item in maritalStatuses">{{item}}</option>
								</select>
								<p ng-show="studentForm.parents_marital_status.$invalid && (studentForm.parents_marital_status.touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Parent's Marital Status is required.</p>
							</div>	
						</div>
						
						<!-- age separated -->
						<div class="form-group" ng-if="student.marial_status_parents=='Divorced' || student.marial_status_parents=='Separated'">		
							<label for="marital_separation_age" class="col-sm-5 control-label">Age When Separated</label>
							<p class="form-control-static" ng-show="!edit">{{student.marital_separation_age}}</p>
							<div ng-show="edit" class="col-sm-7">
								<input type="text" name="marital_separation_age" ng-model="student.marital_separation_age" class="form-control"  >	
							</div>	
						</div>
						
						<!-- adopted -->
						<div class="form-group" ng-class="{ 'has-error' : studentForm.adopted.$invalid && (studentForm.adopted.$touched || studentForm.$submitted) }">					
							<label for="adopted"  class="col-sm-5 control-label">Adopted?</label>
							<p class="form-control-static" ng-show="!edit">{{student.adoptedStr}}</p>
							<div ng-show="edit" class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" ng-value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adopted" ng-model="student.adopted" ng-value="false"> No
								</label>
								<p ng-show="studentForm.adopted.$invalid && (studentForm.adopted.$touched || studentForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Adoption selection is required.</p>
							</div>
						</div>	
						
						<!-- age adopted -->
						<div class="form-group" ng-if="student.adopted=='true'">		
							<label for="adopted_age" class="col-sm-5 control-label">Age When Adopted</label>
							<p class="form-control-static" ng-show="!edit">{{student.adopted_age}}</p>
							<div ng-show="edit" class="col-sm-7">
								<input type="text" name="adopted_age" ng-model="student.adopted_age" class="form-control"  >	
							</div>	
						</div>
						
						<!-- aware of adoption -->
						<div class="form-group" ng-if="student.adopted=='true'">		
							<label for="adoption_aware" class="col-sm-5 control-label">Does the child know?</label>
							<p class="form-control-static" ng-show="!edit">{{student.adoptionAwareStr}}</p>
							<div ng-show="edit" class="col-sm-7">
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" ng-value="true"> Yes
								</label>
								<label class="radio-inline">
								  <input type="radio" name="adoption_aware" ng-model="student.adoption_aware" ng-value="false"> No
								</label>
							</div>	
						</div>
					</div>
					
				</div>			

			</script>
			
			<script type="text/ng-template" id="Medical History">
				<div class="section-container">
					<h2 class="pull-left">Medical Illness/Conditions</h2>
					<button type="button" class="pull-right btn btn-link" ng-click="addMedicalHistory()"><i class="glyphicon glyphicon-plus-sign"></i> Add Illness/Condition</button>
					<table class="display dataTable">
						<thead>
							<tr>
								<th></th>
								<th>Illness/Condition</th>
								<th>Age</th>
								<th>Comments</th>
								<th>Added</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="student.medical_history.length==0">
								<td colspan="5">This student does not have any reported medical illness/conditions.</td>
							</tr>
							<tr ng-if="student.medical_history.length>0" ng-repeat="item in student.medical_history track by $index" ng-class-odd="'odd'" ng-class-even="'even'" >
								<td><span ng-click="deleteMedical(item,$index)" class="glyphicon glyphicon-trash text-danger"></span></td>
								<td ng-click="editMedical(item)">{{item.illness_condition}}</td>
								<td ng-click="editMedical(item)">{{item.age}}</td>
								<td ng-click="editMedical(item)">{{item.comments}}</td>
								<td ng-click="editMedical(item)">{{item.date_medical_added}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- other medical conditions -->
				<div class="form-group question-block">
					<p>Has your child had any other serious illnesses or allergies?</p>
					<p class="form-control-static" ng-show="!edit">{{student.other_medical_conditions_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" ng-value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="other_medical_conditions" ng-model="student.other_medical_conditions" ng-value="false"> No
						</label>
					</div>

					<!-- medical conditions description -->
					<div ng-if="student.other_medical_conditions">		
						<label for="other_medical_conditions_description">What illness?</label>
						<p class="form-control-static" ng-show="!edit">{{student.other_medical_conditions_description}}</p>
						<div ng-show="edit">
							<input type="text" name="other_medical_conditions_description" ng-model="student.other_medical_conditions_description" class="form-control"  >	
						</div>
					</div>
				</div>
				
				<!-- hospitalized -->
				<div class="form-group question-block">
					<p>Has your child been hospitalized or undergone any operation?</p>
					<p class="form-control-static" ng-show="!edit">{{student.hospitalized_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" ng-value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="hospitalized" ng-model="student.hospitalized" ng-value="false"> No
						</label>
					</div>
					
					<!-- hospitalized description -->
					<div ng-if="student.hospitalized">		
						<label for="hospitalized_description">Please describe</label>
						<p class="form-control-static" ng-show="!edit">{{student.hospitalized_description}}</p>
						<div ng-show="edit">
							<input type="text" name="hospitalized_description" ng-model="student.hospitalized_description" class="form-control"  >	
						</div>
					</div>
				</div>
				
				<!-- current illness -->
				<div class="form-group question-block">
					<p>Is the child being treated for a medical illness or in any medication currently?</p>
					<p class="form-control-static" ng-show="!edit">{{student.current_medical_treatment_str}}</p>
					<div ng-show="edit">
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" ng-value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="current_medical_treatment" ng-model="student.current_medical_treatment" ng-value="false"> No
						</label>
					</div>
					
					<!-- current illness description -->
					<div ng-if="student.current_medical_treatment">		
						<label for="current_medical_treatment_description">For what condition is the child being treated?</label>
						<p class="form-control-static" ng-show="!edit">{{student.current_medical_treatment}}</p>
						<div ng-show="edit">
							<input type="text" name="current_medical_treatment_description" ng-model="student.current_medical_treatment_description" class="form-control"  >	
						</div>
					</div>
				</div>
				
				<h2>Additional Comments</h2>
				<p class="form-control-static" ng-show="!edit">{{student.comments}}</p>
				<div ng-show="edit">
					<textarea name="comments" ng-model="student.comments" rows="5" class="form-control"></textarea>
				</div>

			</script>
			
			<script type="text/ng-template" id="Fees">
				<h2>Fees</h2>
				<div ng-show="feeSummary.unapplied_payments" class="alert alert-info">
					<i class="glyphicon glyphicon-info-sign"></i> This student has a payment of {{feeSummary.unapplied_payments|number}} {{currency}} that has not been applied to a fee item.
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<!-- preferred payment method -->
							<div class="form-group">		
								<label for="payment_method" class="col-sm-5 control-label">Preferred Payment Method</label>
								<div class="col-sm-7">
									<p class="form-control-static" ng-show="!edit">{{student.payment_method}}</p>
									<div ng-show="edit">
										<select name="payment_method" ng-model="student.payment_method" class="form-control">
											<option value="">--select payment option--</option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</div>
								</div>	
							</div>	
						</div>
						<div class="row">
							<!-- next payment due -->
							<div class="form-group">		
								<label for="payment_method" class="col-sm-5 control-label">Next Payment Due</label>
								<div class="col-sm-7">
									<p class="form-control-static text-danger" ng-show="feeSummary.next_due_date=='Immediately'"><b>{{feeSummary.next_due_date|date}}</b></p>
									<p class="form-control-static" ng-show="feeSummary.next_due_date!='Immediately'" ng-class="{'text-warning': feeSummary.within30days}"><b>{{feeSummary.next_due_date|date}} | {{feeSummary.next_payperiod_due|number}}{{currency}}</b></p>
								</div>	
							</div>	
							<!-- amount overdue -->
							<div class="form-group text-danger" ng-show="feeSummary.total_balance>0">		
								<label for="payment_method" class="col-sm-5 control-label">Amount Overdue</label>
								<div class="col-sm-7">
									<p class="form-control-static">{{feeSummary.total_balance|number}} {{currency}}</p>
								</div>	
							</div>	
							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="info-boxes pull-right" >
							<div class="info-box alert alert-info">
								Amount Due
								<p>{{feeSummary.total_amount_per_payperiod|number}}<span>{{currency}}</span></p>
							</div>
							<div class="info-box alert" ng-class="{'alert-success':feeSummary.total_balance<=0, 'alert-danger': feeSummary.total_balance>10000, 'alert-warning' : feeSummary.total_balance>0}">
								Amount Paid
								<p>{{feeSummary.total_amount_paid|number}}<span>{{currency}}</span></p>
							</div>
							<div class="info-box alert" ng-class="{'alert-success':feeSummary.total_balance<=0, 'alert-warning' : feeSummary.total_balance>0 && gracePeriod, 'alert-danger': feeSummary.total_balance>0}">
								Balance Due
								<p>{{ feeSummary.total_balance|number}}<span>{{currency}}</span></p>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="modal-tabs sub-tabs">					
					<ul class="nav nav-tabs">
						<li ng-class="{active: currentFeeTab==item}" ng-repeat="item in feeTabs"><a class="clickable" ng-click="getFeeTabContent(item)">{{item}}</a></li>
					</ul>						
				</div>
				
				<div class="subtab-content clearfix" ng-include="currentFeeTab"></div>				
					
			</script>
			
			<script type="text/ng-template" id="Fee Summary">
				<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Add Payment</button>
				
				<table id="resultsTable2" class="display nowrap clickable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Item</th>
							<th>Payment Method</th>
							<th class="center">Opening Balance ({{currency}})</th>
							<th class="center">Amount Paid ({{currency}})</th>
							<th class="center">Balance ({{currency}})</th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="item in fees track by $index" ng-class="{'alert-danger': item.amount_outstanding>0, 'alert-success':item.amount_outstanding==0}">
							<td></td>
							<td id="{{item.fee_item_id}}">{{item.fee_item}}</td>
							<td>{{item.payment_method}}</td>
							<td class="center">{{item.amount_due|number}}</td>
							<td class="center">{{item.amount_paid|number}}</td>
							<td class="center">{{item.amount_outstanding|number}}</td>
						</tr>
					</tbody>
				</table>
			</script>
			
			<script type="text/ng-template" id="Payments Received">
				<button ng-show="permissions.fees.payments_received.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addPayment()"><i class="glyphicon glyphicon-plus-sign"></i> Add Payment</button>
				
				<table id="resultsTable2" class="display clickable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th class="center">Receipt</th>
							<th>Payment Date</th>
							<th>Payment Method</th>
							<th class="center">Amount ({{currency}})</th>
							<th>Applied To</th>
							<th class="center">Amount Unapplied</th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="item in payments track by $index">
							<td></td>
							<td class="center" id="{{item.payment_id}}" ng-click="getReceipt(item)"><span class="glyphicon glyphicon-file"></span></td>
							<td ng-click="viewPayment(item)">{{item.payment_date|date}}</td>
							<td ng-click="viewPayment(item)">{{item.payment_method}}</td>
							<td class="center" ng-click="viewPayment(item)">{{item.amount|number}}</td>
							<td ng-click="viewPayment(item)">{{item.applied_to|arrayToList}}</td>
							<td class="center" ng-class="{'alert-danger': item.unapplied_amount>0}" ng-click="viewPayment(item)">{{item.unapplied_amount|number}}</td>
						</tr>
					</tbody>
				</table>
			</script>
			
			<script type="text/ng-template" id="Fee Items">
				<div class="row tab-header">
					<div class="col-xs-6">
						<!-- new student? -->				
						<label for="new_student">Show new student items?</label>
						<label class="radio-inline">
						  <input type="radio" name="new_student" ng-model="show_new_student" value="true"> Yes
						</label>
						<label class="radio-inline">
						  <input type="radio" name="new_student" ng-model="show_new_student" value="false"> No
						</label>
					</div>
					<div class="col-xs-6">						
						<button ng-show="permissions.fees.fee_structure.add" type="button" class="btn btn-sm btn-link btn-success pull-right" ng-click="addFeeItem()"><i class="glyphicon glyphicon-plus-sign"></i> Add Fee Item</button>
					</div>
				</div>
				<div class="row">				
					<div class="col-sm-6">
						<h3>School Fees</h3>
						<table class="display nosort dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in feeItems track by $index">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="feeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'required')"
											ng-disabled="item.payment_made>0"
										  > {{item.fee_item}}
										</label>										
									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>{{item.frequency}}</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6">
						<h3>Optional Lessons per Term</h3>
						<table class="display nosort dataTable">
							<thead>
								<tr>
									<th>Item</th>
									<th>Amount</th>
									<th>Paid</th>
									<th>Payment Method</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in optFeeItems track by $index">
									<td>
										<label class="checkbox-inline">
										  <input
											type="checkbox"
											name="fee_items[]"
											value="{{item.fee_item_id}}"
											ng-checked="optFeeItemSelection.indexOf(item) > -1"
											ng-click="toggleFeeItem(item,'optional')"
										  > {{item.fee_item}}
										</label>										
									</td>
									<td width="70">
										<input type="text" name="fee_item_amount[]" ng-model="item.amount" class="form-control" placeholder="{{item.default_amount}}">
									</td>
									<td>{{item.frequency}}</td>
									<td>
										<select name="fee_items_payment_methods[]" ng-model="item.payment_method" class="form-control">
											<option value=""></option>
											<option value="{{item}}" ng-repeat="item in paymentOptions">{{item}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</script>
			
			<script type="text/ng-template" id="Exams">
				<h2>Exams</h2>
				
				<!-- search form -->
				<div class="modalDataFilter clearfix">	
					<!-- category select -->
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" ng-options="item.class_cat_id as item.class_cat_name for item in classCats" ng-model="filters.class_cat_id" ignore-dirty>
							<option value="">--select class category--</option>
						</select>	
					</div>
					<!-- class select -->
					<div class="form-group">
						<label for="class">Class</label>	
						<select class="form-control" ng-options="item.class_id as item.class_name for item in classes" ng-model="filters.class_id" ignore-dirty>
							<option value="">--select class--</option>
						</select>	
					</div>		

					<!-- term select -->
					<div class="form-group">
						<label for="term">Term</label>	
						<select class="form-control" ng-options="item.term_id as item.term_year_name for item in terms" ng-model="filters.term_id" ignore-dirty>
							<option value="">--select term--</option>
						</select>	
					</div>	
					
					<!-- exam select -->
					<div class="form-group">
						<label for="term">Exam</label>	
						<select id="term" class="form-control" ng-model="filters.exam_type_id" ignore-dirty>
							<option value="">All Exams</option>
							<option value="{{exam.exam_type_id}}" ng-repeat="exam in examTypes">{{exam.exam_type}}</option>							
						</select>
					</div>	
					
					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="button" class="btn btn-sm btn-info" ng-click="getExams()" value="Load" />
						<span ng-show="loading" class="fa fa-spinner fa-pulse"></span>
					</div>					
				</div>
				<!-- // end search form -->
				
				<p ng-show="marksNotFound" class="error alert alert-danger">
					{{errMsg}}
				</p>
				
				<table ng-show="!marksNotFound" id="resultsTable2" class="display dataTable clickable" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Exam</th>
							<th class="center" ng-repeat="item in examMarks.subjects">{{item}}</th>
						</tr>
					</thead>	
					<tbody>
						<tr ng-repeat="item in examMarks.types track by $index">
							<td></td>
							<td id="{{item.exam_id}}">{{item.exam_type}}</td>
							<td class="center" ng-repeat="mark in item.marks track by $index">{{mark}}</td>
						</tr>
					</tbody>
				</table>
			
			</script>
			
			<script type="text/ng-template" id="Report Cards">
				<h2>Report Cards</h2>
				<p>This is a work in progress...</p>
			</script>
			
			<script type="text/ng-template" id="News">
				<h2>News</h2>
				<p>This is a work in progress...</p>
			</script>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			
			<button type="submit" class="btn btn-success" ng-show="!studentForm.$pristine">
				<span ng-hide="saving">Save</span>
				<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
			</button>
			
		</div>
</form>