<div ng-controller="datesCtrl">	
	
	<div id="body-content" class="row fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Make Payment" ng-show="permissions.school.school_dates.add" ng-click="addDate()"><a class="clickable"><span class="glyphicon glyphicon-plus-sign"></span> <span class="tool-text">Add Date</span></a></div>
					<div class="btn" title="Export" ng-click="exportItems()"><a class="clickable"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div>
				</div>				
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">School Dates</h1>
			</div>		

			<!-- search form -->
			<div class="dataFilterForm">	
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- year -->
					<div class="form-group">
						<label for="year">Year</label>
						<select class="form-control" id="year" name="class_cat_id" ng-model="filters.year">
							<option value="">All Years</option>
							<option value="{{year}}" ng-repeat="year in years">{{year}}</option>
						</select>
					</div>

					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="loadFilter()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->			
			
		</div>
		
		<div class="full-height datagrid main-datagrid" ng-class="{tableLoading: loading}">
			
			<table id="resultsTable" class="display clickable" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Term Name</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</thead>	
				<tbody>
					<tr ng-repeat="item in dates track by $index">
						<td></td>
						<td id="{{item.term_id}}" class="dept_id" ng-click="viewDate(item)">{{item.term_name}}</td>
						<td ng-click="viewDate(item)" data-order="item.start_date">{{item.start_date|date}}</td>
						<td ng-click="viewDate(item)" data-order="item.end_date">{{item.end_date|date}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>



