<div ng-controller="schoolSettingsCtrl">	
	
	<div id="body-content" class="row fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>

			<div class="clearfix">
				<h1 id="pageTitle">School Settings</h1>
			</div>	
			
		</div>
		
		<div class="full-height main-datagrid">
			
			<div class="col-sm-6">
				<div ng-show="initialSetup" class="alert alert-success text-sm">
					Welcome! To get started lets set up your school settings. Start by entering your school name and details below.
				</div>
				<div class="dashboard-panel">					
					<div class="dashboard-panel-header">
						<h2>School Details</h2>
					</div>
					<div class="dashboard-panel-body row">
						<div class="col-sm-8">							
							<form name="schoolForm" class="form-horizontal modalForm" method="post" novalidate ng-submit="save(schoolForm)">	
							<!-- school name -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.school_name.$invalid && (schoolForm.school_name.$touched || schoolForm.$submitted) }">		
								<label for="school_name" class="col-sm-4 control-label nopad-right">School Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="school_name" ng-model="settings['School Name']" required />						
									<p ng-show="schoolForm.school_name.$invalid && (schoolForm.school_name.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> School Name is required.</p>
								</div>	
							</div>
							
							<!-- school type -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.school_type.$invalid && (schoolForm.school_type.$touched || schoolForm.$submitted) }">		
								<label for="school_type" class="col-sm-4 control-label nopad-right">School Type</label>
								<div class="col-sm-8">
									<select name="school_type" class="form-control" ng-options="item for item in schoolTypes"  ng-model="settings['School Type']" >
										<option value="">--select school type--</option>
									</select>					
									<p ng-show="schoolForm.school_type.$invalid && (schoolForm.school_type.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> School Type is required.</p>
								</div>	
							</div>
							
							<!-- school level -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.school_level.$invalid && (schoolForm.school_level.$touched || schoolForm.$submitted) }">		
								<label for="school_level" class="col-sm-4 control-label nopad-right">School Level</label>
								<div class="col-sm-8">
									<select name="school_level" class="form-control" ng-options="item for item in schoolLevels"  ng-model="settings['School Level']" >
										<option value="">--select school level--</option>
									</select>					
									<p ng-show="schoolForm.school_level.$invalid && (schoolForm.school_level.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> School Type is required.</p>
								</div>	
							</div>
							
							<!-- Curriculum -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.curriculum.$invalid && (schoolForm.curriculum.$touched || schoolForm.$submitted) }">		
								<label for="curriculum" class="col-sm-4 control-label nopad-right">Curriculum</label>
								<div class="col-sm-8">
									<select name="curriculum" class="form-control" ng-options="item for item in curriculums"  ng-model="settings['Curriculum']" required>
										<option value="">--select curriculum--</option>
									</select>					
									<p ng-show="schoolForm.curriculum.$invalid && (schoolForm.curriculum.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> School Curriculum is required.</p>
								</div>	
							</div>
							
							<!-- Address -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.address_1.$invalid && (schoolForm.address_1.$touched || schoolForm.$submitted) }">		
								<label for="address_1" class="col-sm-4 control-label nopad-right">Address</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="address_1" ng-model="settings['Address 1']"  />						
									<p ng-show="schoolForm.address_1.$invalid && (schoolForm.address_1.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> School Type is required.</p>
								</div>	
							</div>
							<div class="form-group">									
								<div class="col-sm-8 col-sm-offset-4">
									<input type="text" class="form-control" name="address_1" ng-model="settings['Address 2']" />						
								</div>	
							</div>
							<div class="form-group">									
								<div class="col-sm-8 col-sm-offset-4">
									<input type="text" class="form-control" name="country" ng-model="settings['Country']" />						
								</div>	
							</div>
							
							<!-- phone number -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.phone_number.$invalid && (schoolForm.phone_number.$touched || schoolForm.$submitted) }">		
								<label for="phone_number" class="col-sm-4 control-label nopad-right">Phone Number</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="phone_number" ng-model="settings['Phone Number']"  numeric-only />						
									<p ng-show="schoolForm.phone_number.$invalid && (schoolForm.phone_number.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Phone Number is required.</p>
								</div>	
							</div>
							
							<!-- email -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.email_address.$invalid && (schoolForm.email_address.$touched || schoolForm.$submitted) }">		
								<label for="email_address" class="col-sm-4 control-label nopad-right">Email Address</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" name="email_address" ng-model="settings['Email Address']"  />						
									<p ng-show="schoolForm.email_address.$error.required && (schoolForm.email_address.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Email Address is required.</p>
									<p ng-show="schoolForm.email_address.$error.email&& (schoolForm.email_address.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Email Address is invalid.</p>
									
								</div>	
							</div>
							
							<!-- email from -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.email_from.$invalid && (schoolForm.email_from.$touched || schoolForm.$submitted) }">		
								<label for="email_from" class="col-sm-4 control-label nopad-right">Email From</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="email_from" ng-model="settings['Email From']">						
									<p ng-show="schoolForm.email_from.$invalid && (schoolForm.email_from.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Email From is required.</p>
								</div>	
							</div>
							
							<!-- currency -->
							<div class="form-group" ng-class="{ 'has-error' : schoolForm.email_from.$invalid && (schoolForm.email_from.$touched || schoolForm.$submitted) }">		
								<label for="currency" class="col-sm-4 control-label nopad-right">Currency</label>
								<div class="col-sm-8">
									<select name="currency" class="form-control" ng-options="item for item in currencies"  ng-model="settings['Currency']" required>
										<option value="">--select currency--</option>
									</select>				
									<p ng-show="schoolForm.email_from.$invalid && (schoolForm.email_from.$touched || schoolForm.$submitted)" class="help-block"><i class="fa fa-exclamation-triangle"></i> Email From is required.</p>
								</div>	
							</div>
							
							<!-- pic -->
							<div class="form-group">					
								<label for="student-image" class="col-sm-4 control-label nopad-right">Logo</label>
								<div class="col-sm-8">
									<input type="file" nv-file-select="" uploader="uploader" />						
								</div>	
							</div>
							
							<!-- letterhead -->
							<div class="form-group">					
								<label for="student-image" class="col-sm-4 control-label nopad-right">Letterhead</label>
								<div class="col-sm-8">
									<input type="file" nv-file-select="" uploader="uploader2" />						
								</div>	
							</div>
							
							
							
							<div class="form-group">					
								<div class="col-sm-8 col-sm-offset-4">
									<button type="submit" class="btn btn-sm btn-success" ng-show="!schoolForm.$pristine">
										<span ng-hide="saving">Save</span>
										<span ng-show="saving" class="glyphicon glyphicon-refresh spin"></span>
									</button>		
								</div>	
							</div>
							
							</form>
						</div>
						<div class="col-sm-4">
							
							<div class="pic-container">
								<p>Logo</p>
								<img ng-show="settings['logo'] !== null" src="assets/schools/{{settings['logo']}}" />
								<span ng-show="settings['logo'] === null" class="glyphicon glyphicon-picture"></span>
							</div>
							
							<div class="pic-container">
								<p>Letterhead</p>
								<img ng-show="settings['Letterhead'] !== null" src="assets/schools/{{settings['Letterhead']}}" />
								<span ng-show="settings['Letterhead'] === null" class="glyphicon glyphicon-picture"></span>
							</div>
						</div>
					</div>
					<div class="dashboard-panel-footer">
						
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="dashboard-panel">					
					<div class="dashboard-panel-header">
						<button type="button" class="btn btn-sm btn-link pull-right" ng-click="addEmpCat()"><span class="glyphicon glyphicon-plus"></span> Add Category</button>
						<h2>Employee Categories</h2>						
					</div>
					<div class="dashboard-panel-body row">						
						<table class="display clickable dataTable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Category</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cat in empCats">
									<td class="center"><span class="glyphicon glyphicon-trash text-danger" ng-click="removeEmpCat(cat)"></span></td>
									<td width="90%" ng-click="editEmpCat(cat)">{{cat.emp_cat_name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="dashboard-panel">					
					<div class="dashboard-panel-header">
						<button type="button" class="btn btn-sm btn-link pull-right" ng-click="addClassCat()"><span class="glyphicon glyphicon-plus"></span> Add Category</button>
						<h2>Class Categories</h2>
					</div>
					<div class="dashboard-panel-body row">
						<table class="display clickable dataTable" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th></th>
									<th>Category</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cat in classCats">
									<td class="center"><span class="glyphicon glyphicon-trash text-danger" ng-click="removeClassCat(cat)"></span></td>
									<td width="90%" ng-click="editClassCat(cat)">{{cat.class_cat_name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>



