<div ng-controller="subjectsCtrl">	
	
	<div id="body-content" class="row fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Add Subject" ng-show="permissions.school.subjects.add" ng-click="addSubject()"><a class="clickable"><span class="glyphicon glyphicon-plus-sign"></span> <span class="tool-text">Add Subject</span></a></div>
					<div class="btn" title="Export" ng-click="exportItems()"><a class="clickable"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div>
				</div>				
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">Subjects</h1>
			</div>		

			<!-- search form -->
			<div class="dataFilterForm">	
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- category select -->
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" id="category" name="class_cat_id" ng-options="item.class_cat_id as item.class_cat_name for item in classCats" ng-model="filters.class_cat_id">
						</select>
					</div>
					
					<!-- status select -->
					<div class="form-group">
						<label for="status">Status</label>	
						<select name="status" id="status" class="form-control" ng-model="filters.status">
							<option value="true">Active</option>
							<option value="false">In-active</option>							
						</select>
					</div>	

					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="loadFilter()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->			
			
		</div>
		
		<div class="full-height datagrid main-datagrid">
			<div class="loading-indicator" ng-show="loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
			<table id="resultsTable" class="display clickable" cellspacing="0" width="100%" ng-show="!loading">
				<thead>
					<tr>
						<th class="center">Order</th>
						<th>Class Category</th>
						<th>Subject</th>
						<th>Teacher</th>
					</tr>
				</thead>	
				<tbody>
					<tr id="{{item.subject_id}}" ng-repeat="item in subjects track by $index">
						<td>{{$index+1}}</td>
						<td ng-click="viewSubject(item)">{{item.class_cat_name}}</td>
						<td ng-click="viewSubject(item)"><span ng-show="item.parent_subject_name!==null">{{item.parent_subject_name + ' - '}}</span>{{item.subject_name}}</td>
						<td ng-click="viewSubject(item)">{{item.teacher_name}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>



