<div ng-controller="listStaffCtrl" class="full-height">	
	
	<div id="body-content" class="row fixed-filter" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">
		
		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>
		
		<div class="fixed content-fixed-header">
				
			<h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn add-btn" title="Add Employee" ng-show="permissions.staff.add" ng-click="addEmployee()"><a class="clickable"><span class="glyphicon glyphicon-plus-sign"></span> <span class="tool-text">Add Staff</span></a></div>
					<!--div class="btn" title="Print" ng-hide="isSmallScreen" ng-click="printablePage()"><a class="print-btn"><span class="glyphicon glyphicon-print"></span> <span class="tool-text">Print</span></a></div-->
					<div class="btn" title="Export" ng-click="exportData()"><a class="export-btn"><span class="glyphicon glyphicon-download"></span> <span class="tool-text">Export</span></a></div>
				</div>			
			</div>
			
			<div class="clearfix">
				<h1 id="pageTitle">Staff</h1>
			</div>
			
			<!-- search form -->
			<div class="dataFilterForm">	
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- category select -->
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" id="category" name="emp_cat_id" ng-options="item.emp_cat_name for item in empCats" ng-model="filters.emp_cat">
							<option value="">All Employee Categories</option>
						</select>
					</div>
					<!-- class select -->
					<div class="form-group">
						<label for="dept">Department</label>	
						<select name="dept" id="dept" class="form-control" ng-options="dept.dept_id as dept.dept_name for dept in departments" ng-model="filters.dept_id">
							<option value="">All Departments</option>
						</select>
					</div>			
					
					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="filter()" value="Load" />					
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>
					
					<div class="form-group grid-filter">
						<input class="ui-grid-filter" ng-model='gridFilter.filterValue' placeholder="Filter"/>
						<button class="btn btn-xs btn-primary" ng-click='filterDataTable()'>Filter</button>
						<button class="btn btn-xs " ng-click='clearFilterDataTable()'>Clear</button>
					</div>

				</form>
			</div>
			<!-- // end search form -->
			
			
		</div>
		
		<div class="full-height datagrid main-datagrid">
			<div class="loading-indicator" ng-show="loading"><i class="fa fa-spinner fa-spin text-lg"></i></div>
			<div id="grid1" ui-grid="gridOptions" ui-grid-exporter class="myGrid">
				<div ng-if="!gridOptions.data.length" class="no-results">No results found.</div>
			</div>
			<!--
			<table id="resultsTable" class="display nowrap clickable" cellspacing="0" width="100%" ng-show="!loading">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Category</th>
						<th>Department</th>
					</tr>
				</thead>	
				<tbody>
					<tr ng-repeat="item in employees track by $index">
						<td></td>
						<td id="{{item.emp_id}}" class="emp_id" ng-click="viewEmployee(item)">{{item.employee_name}}</td>
						<td ng-click="viewEmployee(item)">{{item.emp_cat_name}}</td>
						<td ng-click="viewEmployee(item)">{{item.dept_name}}</td>
					</tr>
				</tbody>
			</table>
			-->
		</div>
	</div>
</div>



