<div ng-controller="mappedHistoryCtrl" class="full-height">

	<div id="body-content" class="row fixed-filter" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">

		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>

		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>

		<div class="fixed content-fixed-header">
		
		    <div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>

			<div class="clearfix">
				<h1 id="pageTitle">Mapped Bus History</h1>
			</div>

			<!-- search form -->
			<div class="dataFilterForm">
				<h4 ng-show="!isSmallScreen">Filters</h4>
				<h4 ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">Filters <span class="caret"></span></h4>
				<form name="dataFilterForm" class="form-inline non-printable" method="post" novalidate ng-hide="isPrinting" ng-class="{'collapse': isSmallScreen}" id="filterForm">
					<!-- reoute select -->
					<div class="form-group">
						<label for="course">Transport</label>
						<select name="course" id="course" class="form-control" ng-options="transportRoute.transport_id as transportRoute.route for transportRoute in transportRoutes" ng-model="filters.route_id">
							<option value="">ALL</option>
						</select>
					</div>
					
					<!-- date range
					<div class="form-group">
						<label for="class">Date Range</label>
						<div class="input-group">
							<input type="text" name="dob" date-range-picker class="form-control date-picker input-sm" ng-model="filters.date" options="{ranges:termRanges}" />
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="showStartDatePicker = !showStartDatePicker"></i></span>
						</div>
					</div>-->

					<!-- search btn -->
					<div class="form-group submit-btn">
						<input type="submit" class="btn btn-sm btn-info" ng-click="loadFilter()" value="Load" />
						<img src="assets/spinner.gif" ng-show="loading" />
						<button type="button" class="btn btn-link" ng-show="isSmallScreen" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm" ng-click="toggleFilter()">cancel</button>
					</div>
				</form>
			</div>
			<!-- // end search form -->


		</div>
		
		<style type="text/css"> @import url("components/css/mappedHistory.css"); </style>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry&key=AIzaSyCCoZ2jgETAWXJxDfZlyFJvBcne6ZRdXgY"></script>
        <style type="text/css">
            #map_canvas {
                width: 100%;
                height: 500px;
            }
        </style>
        <!--move these to controllers, etc -->
        <script type='text/javascript'>
            //<![CDATA[
            $(window).load(function(){
              //these coords come from the API
              var receivedCoords = [
                [-1.300184, 36.776811],
                [-1.299840, 36.779386],
                [-1.298897, 36.779407],
                [-1.299004, 36.777841],
                [-1.298982, 36.776811],
                [-1.297459, 36.776747],
                [-1.296193, 36.776726],
                [-1.296097, 36.779236],
                [-1.296151, 36.777637],
                [-1.296215, 36.776693],
                [-1.294252, 36.776586],
                [-1.294048, 36.776790],
                [-1.293973, 36.779118],
                [-1.292622, 36.779075],
                [-1.291844, 36.779049],
                [-1.291879, 36.778389],
                [-1.291844, 36.779049],
                [-1.292622, 36.779075],
                [-1.293973, 36.779118],
                [-1.294048, 36.776790],
                [-1.294252, 36.776586],
                [-1.296215, 36.776693],
                [-1.296151, 36.777637],
                [-1.296097, 36.779236],
                [-1.296193, 36.776726],
                [-1.297459, 36.776747],
                [-1.298982, 36.776811],
                [-1.299004, 36.777841],
                [-1.298897, 36.779407],
                [-1.299840, 36.779386]
              ];
    
              var ltlng = [];
    
              //we push the received coords to a new array -> ltlng
              receivedCoords.forEach(function(eachCoord) {
                // console.log(eachCoord);
                ltlng.push(new google.maps.LatLng(eachCoord[0],eachCoord[1]));
              });
    
              //just a test
              // console.log(ltlng);
    
              var map, marker;
              var startPos = ltlng[0];
              var image = '1.png';
    
              var delay = 100;
              // If you set the delay below 1000ms and you go to another tab,
              // the setTimeout function will wait to be the active tab again
              // before running the code.
              // See documentation :
              // https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/setTimeout#Inactive_tabs
    
            function initialize()
            {
                var myOptions = {
                    zoom: 16,
                    center: ltlng[0],
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
                //we now place a marker on each coord
                for (var i = 0; i < ltlng.length; i++) {
                    var marker = new google.maps.Marker
                        (
                        {
                            // position: new google.maps.LatLng(-34.397, 150.644),
                            position: ltlng[i],
                            map: map,
                            title: 'Student_' + i,
                            icon: image
                        }
                        );
                }
    
                //Intialize the Path Array
                var path = new google.maps.MVCArray();
    
                //Intialize the Direction Service
                var service = new google.maps.DirectionsService();
    
                var flightPath = new google.maps.Polyline({
                  path: ltlng,
                  geodesic: true,
                  strokeColor: '#00ff00',
                  strokeOpacity: 1.0,
                  strokeWeight: 2
                });
    
                flightPath.setMap(map);
            }
    
            initialize();
            });//]]>
    
        </script>
        <!--end move -->
        <!--map-->
		<div class="row" style="margin-top:120px;">
            <div class="col-lg-12">
                <h3 class="text-center">MARKERS DENOTE DROP / PICK-UP POINTS</h3>
                <div id="map_canvas"></div>

                <script>
                  // tell the embed parent frame the height of the content
                  if (window.parent && window.parent.parent){
                    window.parent.parent.postMessage(["resultsFrame", {
                      height: document.body.getBoundingClientRect().height,
                      slug: "9tfq5sqc"
                    }], "*")
                  }
                </script>
            </div>
        </div>
        <!--end map-->

	</div>
</div>
