<style type="text/css">
    .table-striped tbody tr:hover{background-color:#80ffaa !important;cursor: pointer;font-weight: 900;}
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 5000; /* Sit on top */
      padding-top: 10%; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 50%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    /* The Close Button */
    .cloze {color: white;float: right;font-size: 28px;font-weight: bold;}
    .cloze:hover,.cloze:focus {color: #000;text-decoration: none;cursor: pointer;}
    .modal-header {padding: 0px 15px !important;background-color: #5cb85c;color: white;}
    .modal-body {padding: 2px 16px;}
    .modal-footer {padding: 2px 16px;background-color: #5cb85c;color: white;}
    .dropbtn {background-color: #4CAF50;color: white;padding: 16px;font-size: 16px;border: none;cursor: pointer;line-height: 0px;}
    .dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}

    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    #myInput:focus {outline: 3px solid #ddd;}
    .drpdown {position: relative;display: inline-block;}
    .drpdown-content {display: none;position: absolute;background-color: #f6f6f6;min-width: 230px;overflow: auto;border: 1px solid #ddd;z-index: 1;}
    .drpdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
    .drpdown a:hover {background-color: #ddd;}
    .show {display: block;}
    div#printCards div.eachcard {height:275px !important}
    @media print {
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5000; /* Sit on top */
        padding-top: 10%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
      }
      .modal-body {padding: 2px 16px;}
      @page {size: Letter portrait !important; }
      font: 11px Arial, Verdana, Helvetica, sans-serif;
      .modal-content h2 {font-size: 16px !important;line-height:0;}
      .row {margin-right: -15px;margin-left: -15px;}
      .col-sm-3,.col-sm-4,.col-sm-6,.col-sm-8,.col-sm-9,.col-sm-12{float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
      .col-sm-3 {width: 25%;}
      .col-sm-4 {width: 33.33333333%;}
      .col-sm-6 {width: 50%;float:left;}
      .col-sm-8 {width: 66.66666667%;}
      .col-sm-9 {width: 75%;}
      .col-sm-12 {width: 100%;}
      p {margin: 0 0 10px;}
      #printCards{width:100% !important;font-size: 11px !important;}
      div.breakBefore,.breakBefore{page-break-before: always !important;}
    }
</style>
<div ng-controller="schoolBusCtrl">
	<div id="body-content" class="row fixed-filter hasSubNav" ng-class="{'modal-body': isPrinting, 'smallScreen' : isSmallScreen}">

		<div class="notification alert alert-success" ng-show="updated" ng-class="{'fade-out': alert.expired}">
			<strong>Success!</strong> {{notificationMsg}}
		</div>
		<div class="notification alert alert-danger alert-dismissible" ng-show="error">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{errMsg}}
		</div>

		<div class="fixed content-fixed-header">
			<div class="subnavbar non-printable" ng-hide="isPrinting">
				<ul class="nav nav-tabs main-sub-nav" >
					<li ng-class="{active: item.subSection == activeSubSection}" ng-repeat="item in mainSubNavItems"><a ui-sref="{{item.id}}">{{item.label}}</a></li>
				</ul>
			</div>
            <h4 class="pageToolsToggler" ng-show="isSmallScreen" data-toggle="collapse" data-target="#pageTools" aria-expanded="false" aria-controls="pageTools" ng-click="toggleTools()">Tools <span class="caret"></span></h4>
			<div class="pull-right toolbar-container clearfix non-printable" ng-class="{'collapse': isSmallScreen}" ng-hide="isPrinting" id="pageTools">
				<div class="btn-group toolbar">
					<div class="btn" title="t-card" ng-click="generateTcards()"><a class="export-btn"><span class="glyphicon glyphicon-print"></span> <span class="tool-text">Generate Transport Cards</span></a></div>
				</div>
			</div>
			<div class="clearfix">
				<h1 id="pageTitle" class="t_title">School Bus Management</h1>
			</div>


		</div>

		<div id="body-content" class="schoolBusBodySpacer">
            <div class="row">

    			<div class="col-sm-4 t_tabs">
    				<div class="dashboard-panel">
    					<div class="dashboard-panel-header">
    						<h2>Create A School Bus</h2>
    					</div>
    					<div class="row dashboard-panel-body">
    						<div class="stripped">
    							<div>
    							    <div><h4>Type of School Bus</h4></div>
    							    <select id="busType" class="transportSelectWidth">
    							        <option value="Van">Van</option>
                          <option value="Mini-Bus">Mini-Bus</option>
                          <option value="Bus">Bus</option>
                      </select>
                  </div>
                                <div class="row">
        							<div class="col-sm-6">
        							    <div><h4>Registration Number</h4></div>
        							    <input type="text" name="bus_registration" id="busReg" style="text-transform:uppercase;width:100%;" placeholder="KXX 000Z" pattern="[a-zA-Z0-9 ]+">
        							</div>
        							<div class="col-sm-6">
        							    <div><h4>Capacity</h4></div>
        							    <input type="number" name="bus_capacity" id="busCap" style="text-transform:uppercase;width:100%;" placeholder="example: 14" pattern="[0-9]+">
    							    </div>
    							</div>
    							<div>
    							    <div><h4>Other Description</h4></div>
    							    <input type="text" name="bus_description" id="busDesc" style="text-transform:uppercase;width:100%;" placeholder="Any other description?" pattern="[a-zA-Z0-9 ]+">
    							</div>
    							<div class="btnSpacer"><button type="button" class="btn btn-primary" ng-click="createBus()">Create Bus</button></div>
    							<div ng-show="busCreation" class="btnSpacer" style="background-color: #00e673;height: 25px;width: 97%;border-radius: 4px;border: 1px solid #001a0d;">
    							    <h3 style="text-align: center;font-size: 18px;margin-top:auto;color: #000;">Success! School bus created.</h3>
    							</div>
    						</div>
    					</div>
    				</div>

    			</div>

    			<div class="col-sm-4 t_tabs">
    				<div class="dashboard-panel">
    					<div class="dashboard-panel-header">
    						<h2>Assign Bus To Route</h2>
    					</div>
    					<div class="row dashboard-panel-body">
    						<h4>Select School Bus</h4>
    						<select id="theBusId" class="transportSelectWidth">
    						    <option ng-repeat="bus in allBuses track by $index" value="{{bus.bus_id}}">{{bus.bus_type}} - {{bus.bus_registration}}</option>
                            </select>
    						<h4>Routes / Destinations For This Bus</h4>
    						<select name="selectedRoutes[]" id="multiRoute" multiple style="width:100%;height:90px;" ng-model="selectedRoutes" ng-click="selectRoutes()">
                                <option ng-repeat="route in routes track by $index" value="{{route}}">{{route}}</option>
                            </select>
                            <p><b>Current Selection:</b> {{selectedRoutesJoined}}</p>
                            <div class="btnSpacer"><button type="button" class="btn btn-primary" ng-click="assignRoute()">Assign Route</button></div>
                            <div ng-show="routeAssignment" class="btnSpacer" style="background-color: #00e673;height: 25px;width: 97%;border-radius: 4px;border: 1px solid #001a0d;">
    						    <h3 style="text-align: center;font-size: 18px;margin-top:auto;color: #000;">Success! Bus assigned to route.</h3>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="col-sm-4 t_tabs">
    				<div class="dashboard-panel">
    					<div class="dashboard-panel-header">
    						<h2>Assign Driver &amp; Guide To Bus</h2>
    					</div>
    					<div class="row dashboard-panel-body">
    						<h4>Select A School Bus</h4>
    						<select class="transportSelectWidth" id="routedBuses">
    						    <!--<option ng-repeat="assignedBus in allAssignedBuses track by $index" value="{{assignedBus.bus_id}}">{{assignedBus.bus_registration}} - {{assignedBus.destinations.length < 30 ? assignedBus.destinations : assignedBus.destinations | limitTo: 30}}{{assignedBus.destinations.length > 30 ? "..." : ""}}</option>-->
                    <option ng-repeat="bus in allBuses track by $index" value="{{bus.bus_id}}">{{bus.bus_type}} - {{bus.bus_registration}}</option>
                </select>
    						<h4>Driver For This Bus</h4>
    						<select class="transportSelectWidth" id="allDrivers">
    						    <option ng-repeat="driver in drivers track by $index" value="{{driver.emp_id}}">{{driver.driver_name}}</option>
                            </select>
                            <h4>Accompanying Guide For This Bus</h4>
    						<select id="theAssistant" class="transportSelectWidth">
    						    <option ng-repeat="assistant in assistants track by $index" value="{{assistant.emp_id}}">{{assistant.assistant_name}}</option>
                            </select>
                            <div class="btnSpacer"><button type="button" class="btn btn-primary" ng-click="assignDriverAndGuide()">Assign Driver &amp; Guide</button></div>
                            <div ng-show="assignedPersonnel" class="btnSpacer" style="background-color: #00e673;height: 25px;width: 97%;border-radius: 4px;border: 1px solid #001a0d;">
    						    <h3 style="text-align: center;font-size: 18px;margin-top:auto;color: #000;">Bus assignemnt success!</h3>
    						</div>
    					</div>
    				</div>
    			</div>

    		</div>

    		<div class="row">
    		    <div class="busmanagementtbl">
    		        <h4 class="center">Existing Buses And Their Assignments</h4>
        		    <table class="table table-striped">
                        <thead style="background-color:#49E747;">
                            <tr>
                                <th>Bus Type</th>
                                <th>Registration</th>
                                <th>Description</th>
                                <th>Capacity</th>
                                <th>Trip</th>
                                <th>Destinations</th>
                                <th>Driver</th>
                                <th>Guide</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in transportDataTable track by $index"  ng-click="viewStudentsInBus(this)">
                                <td width="5%">{{item.bus_type}}</td>
                                <td width="10%">{{item.bus_registration}}</td>
                                <td width="10%">{{item.bus_description}}</td>
                                <td width="5%">{{item.bus_capacity}}</td>
                                <td width="10%">{{item.trip_name}}</td>
                                <td width="40%">{{item.destinations}}</td>
                                <td width="10%" style="color:{{item.driver_name == 'Unassigned' ? '#008080' : '#006400'}}">{{item.driver_name}}</td>
                                <td width="10%" style="color:{{item.driver_name == 'Unassigned' ? '#008080' : '#006400'}}">{{item.guide_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    		</div>
	    </div>

	    <!-- Transport cards Modal -->
        <div id="transportCards" class="modal">

          <!-- Modal content -->
          <div class="modal-content" style="margin-top:-5%;">
            <div class="modal-header" style="padding: 0px 15px !important;">
              <span class="cloze">&times;</span>
              <h2>Transport Cards</h2>
            </div>
            <div class="modal-body">
              <h3>Select the mode of transport cards generation: Single Student or All Students</h3>
              <div class="row">
                <div class="col-sm-6">
                    <div class="drpdown">
                      <button ng-click="singleStudent()" class="dropbtn">Single Student</button>
                      <div id="myDropdown" class="drpdown-content">
                        <input type="text" placeholder="Search.." id="myInput" ng-keyup="filterFunction()">
                        <a ng-repeat="student in allStudents track by $index" id="{{student.student_id}}" ng-click="loadTcard(this)">{{student.first_name}} {{student.middle_name == null? student.last_name : student.middle_name}} {{student.middle_name == null? '': student.last_name}} - {{student.class_name}}</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button ng-click="loadTcard(this)" class="dropbtn">All Students</button>
                </div>
                <div class="col-sm-12" ng-show="cardsLoaded" style="text-align:center;margin-top:5px;">
                  <button ng-click="printTcards()" class="dropbtn" style="margin-left:auto;margin-right:auto;width:50%;">PRINT TRANSPORT CARD(S)</button>
                </div>
              </div>
              <!-- the transport card -->
              <div id="printCards" class="row" style="width:100%;margin-left:1px;">
                <div class="col-sm-6 eachcard" style="border:2px solid #000000;margin-top:10px;{{$index != 0 && $index % 4 == 0 ? 'page-break-before: always !important;' : ''}}" ng-repeat="item in studentTranpCards track by $index" ng-class="$index != 0 && $index % 3 == 0 ? 'breakBefore' : 'noBreak'">
                  
                  <div>
                      <h2 style="text-align:center;font-size:11px;margin-top:0px;margin-bottom:0px;font-weight:600;">{{schoolName}}</h2>
                      <h3 style="text-align:center;font-size:12px;margin-top:0px;font-family:'Segoe UI';font-style: italic;">Transport Card</h3>
                      <div class="row" style="border:1px solid #000000;width:98%;margin-left:1%;margin-top:-10px;">
                          <div class="col-sm-4"><p>NAME:</p></div><div class="col-sm-8"><p>{{item.student_name}}</p></div>
                          <div class="col-sm-4" style="line-height:5px;"><p>ADMISSION:</p></div><div class="col-sm-8" style="line-height:5px;"><p>{{item.admission_number}}</p></div>
                          <div class="col-sm-4" style="line-height:5px;"><p>CLASS:</p></div><div class="col-sm-8" style="line-height:5px;"><p>{{item.class_name}}</p></div>
                          <div class="col-sm-4" style="line-height:5px;"><p>HOME:</p></div><div class="col-sm-8" style="line-height:5px;"><p>{{item.neighborhood}}</p></div>
                      </div>
                      <div class="row" style="margin-top:7px;border:1px solid #000000;width:98%;margin-left:1%;">
                        <div ng-repeat="trip in item.tripDetails track by $index" class="col-sm-6" style="border:1px solid #000000;">
                          <div class="row" ng-if="trip.trip_time == 'MORNING'">
                            <h4 class="col-sm-12" style="text-align:center;font-weight:600;text-transform:uppercase;text-decoration:underline;font-size:12px;line-height:5px;">{{trip.trip_time}}</h4>
                            <div clss="row">
                              <div class="col-sm-4"><p><b>TRIP:</b></p></div><div class="col-sm-8"><p>{{trip.trip_name}}</p></div>
                            </div>
                            <div clss="row">
                              <!--<div class="col-sm-4" style="line-height:5px;"><p><b>BUS:</b></p></div>--><div class="col-sm-12" style="line-height:5px;"><p><b style="font-size:10px !important;">{{trip.bus}}</b></p></div>
                            </div>
                            <div clss="row">
                              <div class="col-sm-12" style="line-height:5px;"><p  style="text-align:left;">Driver {{trip.driver_name}}</p></div>
                            </div>
                            <div clss="row">
                              <div class="col-sm-12"><p style="text-align:left;line-height:5px;"><b>{{trip.driver_telephone}}</b></p></div>
                            </div>
                          </div>
                          <div class="row" ng-if="trip.trip_time == 'EVENING'">
                            <h4 class="col-sm-12" style="text-align:center;font-weight:600;text-transform:uppercase;text-decoration:underline;font-size:12px;line-height:5px;">{{trip.trip_time}}</h4>
                            <div clss="row">
                              <div class="col-sm-4"><p><b>TRIP:</b></p></div><div class="col-sm-8"><p>{{trip.trip_name}}</p></div>
                            </div>
                            <div clss="row">
                              <!--<div class="col-sm-4" style="line-height:5px;"><p><b>BUS:</b></p></div>--><div class="col-sm-12" style="line-height:5px;"><p><b style="font-size:10px !important;">{{trip.bus}}</b></p></div>
                            </div>
                            <div clss="row">
                              <div class="col-sm-12" style="line-height:5px;"><p  style="text-align:left;">Driver {{trip.driver_name}}</p></div>
                            </div>
                            <div clss="row">
                              <div class="col-sm-12"><p style="text-align:left;line-height:5px;"><b>{{trip.driver_telephone}}</b></p></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--
                      <div ng-repeat="trip in item.tripDetails track by $index" class="row" style="margin-top:7px;border:1px solid #000000;width:98%;margin-left:1%;">
                          <h4 style="text-align:center;font-weight:900;text-transform:uppercase;text-decoration:underline;">Trip {{$index == 0 ? 'One' : ($index == 1 ? 'Two' : ($index == 2 ? 'Three' : 'Four'))}}</h4>
                          <div class="col-sm-4"><p>TRIP:</p></div><div class="col-sm-8"><p>{{trip.trip_name}}</p></div>
                          <div class="col-sm-4"><p>BUS:</p></div><div class="col-sm-8"><p>{{trip.bus}}</p></div>
                          <div class="col-sm-4"><p>DRIVER:</p></div><div class="col-sm-8"><p>{{trip.driver_name}}</p></div>
                          <div class="col-sm-4"><p>CONTACT:</p></div><div class="col-sm-8"><p>{{trip.driver_telephone}}</p></div>
                      </div>
                      -->
                      <div class="row" style="margin-top:7px;border:1px solid #000000;width:98%;margin-left:1%;margin-bottom:2px;">
                        <div class="col-sm-12">{{currentTerm}} | Status:Active | Sign:&nbsp;&nbsp;&nbsp; <img src="assets/schools/{{transpSignature}}" style="max-width:17%;display:inline-block;max-height:26px;;" /></div>  
                        
                      </div>
                    </div>
                    <img src="assets/schools/thomasburke-transport-background-75.png" class="transpBg" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <h2 style="text-align:center;color:#000000;">Be Sure Your Printer setting is set to "Letter" paper size</h2>
            </div>
          </div>

        </div>

	</div>
</div>
