<!doctype html>
<html ng-app="eduwebApp" ng-strict-di>
<head>

<title>Eduweb MIS</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1" />

	<!-- Dependencies CSS -->
    <link type="text/css" href="min/css/dependencies.min.css" rel="stylesheet">	

    <!-- Custom styles for this template -->
    <link href="css/template.css" rel="stylesheet">
	
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	
</head>
<body class="{{activeSection}} {{activeSubSection}} {{activeSubSubSection}}" ng-class="{printing: isPrinting, printModal: isPrintModal, printReceipt: isPrintReceipt, mobile: isSmallScreen}" ng-controller="ParentController" ng-cloak>

<div id="page-wrap" adjust-for-small-screen>
	<a name="top"></a>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-hide="isPrinting">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button ng-show="loggedIn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="mainnav" data-target="#navigation">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				
				<div class="navbar-brand">
					<img src="{{currentUser.settings.logo || '/assets/eduweb-logo-lg.png'}}" title="{{currentUser.settings['School Name']}}" class="brand" /> 
					<span>{{currentUser.settings['School Name']}}</span>
					
				</div>
				<div ng-show="loggedIn">
					<div class="navbar-right collapse navbar-collapse" id="navtopright">
						<div class="poweredby-branding pull-right">
							<p>Powered by</p>
							<img src="/assets/eduweb-logo-sm.png" title="Eduweb" class="brand2" /> 
						</div>
						<div class="user-nav pull-right">
							<div id="welcome-msg">Welcome {{ currentUser.first_name + ' ' + (currentUser.middle_name || '')  + ' ' + currentUser.last_name }}</div>
							
							<ul class="nav navbar-nav">
								<li>
									<a ui-sref="users">Manage Users</a>					
								</li>
								<li>
									<a ng-click="updatePassword()">Change Password</a>					
								</li>
								<li>
									<a ng-click="logout()">Log Out</a>					
								</li>
							</ul>
													
						</div>						
					</div>
				</div>
				<div ng-show="!loggedIn" class="login pull-right">
					<!--a class="clickable" ng-click="showLogin()"><i class="glyphicon glyphicon-user"></i> Log In</a-->
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->	
				<div ng-show="loggedIn">
					<div class="mainNav collapse navbar-collapse" id="navigation">
							
						<ul class="nav navbar-nav">
							<li ng-class="{active: item.section == activeSection}" ng-repeat="item in navItems">
								<a ui-sref="{{item.id}}">{{item.label}}</a>					
							</li>
							<li ng-if="isSmallScreen" ng-class="{active: item.section == activeSection}">
								<a ui-sref="users">Manage Users</a>					
							</li>
							<li ng-if="isSmallScreen" ng-class="{active: item.section == activeSection}">
								<a ng-click="updatePassword()">Change Password</a>					
							</li>
							<li ng-if="isSmallScreen">
								<a ng-click="logout()">Log Out</a>					
							</li>
						</ul>
						
					</div>
				</div>
				<!-- /.navbar-collapse -->	
					
			</div>
				
		</div>
		<!-- /.container-fluid -->
	</nav>

    <div id="mainContainer" class="container-fluid">
        <div id="body" class="full-height">
			<div ui-view class="full-height" ng-cloak></div>
		</div><!-- /.body-->
      </div><!-- /.mainContainer-->
	</div><!-- /.page-wrap-->
	
	
	<script type="text/javascript" src="min/dependencies.min.js"></script>
	<script type="text/javascript" src="min/app.min.js"></script>
	
	
	
	
</body>
</html>
