<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="https://eduweb.co.ke/error.html">
            <error statusCode="404" redirect="https://eduweb.co.ke/error.html" />
        </customErrors>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
              <rule name="Redirect Subdomain HTTP to Subdomain HTTPS" stopProcessing="true">
                  <match url="^(.*)$" />
                  <conditions>
                      <add input="{HTTPS}" pattern="off" />
                      <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
                  </conditions>
                <action type="Redirect" url="https://{C:2}" redirectType="Permanent" />
              </rule>
            </rules>
        </rewrite>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="2147483648" />
          </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://eduweb.co.ke/error.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
